### Import necessary libraries

In [1]:
import pandas

In [14]:
graduates = pandas.read_csv('C2017_a_data.csv')

In [15]:
graduates = graduates[graduates['MAJORNUM'] == 1]

In [16]:
graduates_17 = graduates[graduates['AWLEVEL'] == 17]

In [17]:
graduates_18 = graduates[graduates['AWLEVEL'] == 18]

In [18]:
graduates_19 = graduates[graduates['AWLEVEL'] == 19]

In [19]:
concat = pandas.concat([graduates_17,graduates_18,graduates_19])

In [20]:
total = concat.groupby('UNITID')['CTOTALT'].sum().reset_index()

In [21]:
result = total.sort_values('CTOTALT', ascending=False)

In [22]:
result = result[:100].reset_index()

In [29]:
result.head()

   index  UNITID  CTOTALT
0    176  134130     4016
1    182  136215     3948
2    117  123961     3606
3    448  174066     3372
4    676  204796     3202

### IPEDS

In [24]:
ipeds = pandas.read_csv('IPEDS.csv',encoding='ISO-8859-1')

In [25]:
ipeds = ipeds.rename(columns={'INSTNM':'organization'})

In [26]:
ipeds_finalized = result.merge(ipeds,on='UNITID')

In [28]:
%store ipeds_finalized

Stored 'ipeds_finalized' (DataFrame)

### Normalizing data: lowercase, remove white space, remove punctuation/special symbols

In [52]:
import string

ipeds_finalized['organization'] = ipeds_finalized['organization'].str.strip()
ipeds_finalized['organization'] = ipeds_finalized['organization'].str.lower()
for i in string.punctuation:
    ipeds_finalized['organization'] = ipeds_finalized['organization'].str.replace(i,'')
ipeds_finalized['organization'] = ipeds_finalized['organization'].str.replace(' ','')
ipeds_finalized.head()

   index  UNITID  CTOTALT                     organization IALIAS STABBR
0    176  134130     4016              universityofflorida            FL
1    182  136215     3948       novasoutheasternuniversity            FL
2    117  123961     3606   universityofsoutherncalifornia    USC     CA
3    448  174066     3372  universityofminnesotatwincities            MN
4    676  204796     3202    ohiostateuniversitymaincampus            OH

In [54]:
finalized['organization'] = finalized['organization'].str.strip()
finalized['organization'] = finalized['organization'].str.lower()
for i in string.punctuation:
    finalized['organization'] = finalized['organization'].str.replace(i,'')
finalized['organization'] = finalized['organization'].str.replace(' ','')

In [55]:
for i in finalized:
    if type(i) == int:
        print(i)

In [56]:
merged = ipeds_finalized.merge(finalized,on='organization',how='left')

In [57]:
merged = merged.fillna(0)

In [58]:
finalized[finalized['assignee_id'] == 'org_bGRP2fm6mreVR6TgedGA']

                      assignee_id state             organization
9343767  org_bGRP2fm6mreVR6TgedGA    IN  universityofconnecticut

In [59]:
finalized = finalized.fillna(0)

In [60]:
finalized['organization'].unique()

array(['usphilipscorporation', 'xeroxcorporation', 'sdlinc', ...,
       'theunitedstatesofamericaasrepresentedbytheadministratorofnationalaeronauticsandspace',
       'avancenmodcorp', 'vanderbiltuniversityofficeoftechnologytransfer'],
      dtype=object)

In [110]:
for i in finalized['organization']:
    if 'pacific' in str(i):
        print(i)

pacificcoastsystemsllc
pacificmicrochipcorp
pacificnorthwestdivisionbatellememorialinstitute
pacificscientificenergeticmaterialscompany
californiapacificmedicalcenterresearchinstitute
battellememorialinstituteonbehalfofpacificnorthwestnationallaboratory
californiapacificmedicalcenter
battellememorialinstitutepacificnorthwestlaboratory
pacificlutheranuniversity
spawarsystemscenterpacific
pacificsierraresearch
pacificbiosciencesofcaliforniainc
pacificnorthwestresearchfoundation
transpacificinformationllc
pacificwaveindustriesinc
pacificconsolidatedindustriesllc
transpacifickodexllc
pacificbiometricsinc

In [57]:
len(merged[merged['assignee_id'] != 0])

43

In [102]:
to_match.to_csv('to_match.csv')

In [59]:
to_match = merged[merged['assignee_id'] == 0]

In [100]:
results

[['universityofflorida',
  ['universityofsouthflorida',
   'universityofnorthflorida',
   'theuniversityofwestflorida']],
 ['universityofminnesotatwincities',
  ['universityofmontana', 'universityofmonatan', 'universityofnorthtexas']],
 ['ohiostateuniversitymaincampus',
  ['theohiostateuniversity', 'idahostateuniversity', 'boisestateuniversity']],
 ['universityofmichiganannarbor',
  ['theuniversityofmichiganannarbor',
   'universityofmichigan',
   'unversityofmichigan']],
 ['texasamuniversitycollegestation',
  ['thetexasamuniversitysystem',
   'theuniversityofdayton',
   'thetexasamuniversitysystematexasstateagency']],
 ['universityofwisconsinmadison',
  ['universityofwisconsinmilwaukee',
   'universityofconn',
   'universityofwashington']],
 ['universityofcalifornialosangeles',
  ['universityofcaliforniasandiego',
   'universityofcaliforniasanfranciso',
   'universityofcaliforniasantabarbara']],
 ['universityofwashingtonseattlecampus',
  ['universityofwashingtonatseattle',
   'universityofwashington',
   'unviersityofwashington']],
 ['columbiauniversityinthecityofnewyork',
  ['thetrustesofcolumbiauniversityinthecityofnewyork',
   'thetrustessofcolumbiauniversityinthecityofnewyork',
   'thetrusteesofcolumbiauniversityinthecityofnewyork']],
 ['rutgersuniversitynewbrunswick',
  ['rutgersuniversity',
   'rutgerstheuniversityofnewjersey',
   'rutgersthestateuniversityofnewjersey']],
 ['waldenuniversity',
  ['yaleuniversity', 'rowanuniversity', 'howarduniversity']],
 ['universityofpennsylvania',
  ['lockhavenuniversityofpennsylvania',
   'universityofnevada',
   'thetrusteesoftheuniversityofpennsylvania']],
 ['theuniversityoftexasataustin',
  ['theuniveristyoftexasatarlington',
   'theuniversityoftexasatsanantonio',
   'theuniversityoftulsa']],
 ['universityofnorthcarolinaatchapelhill',
  ['theuniversityofnorthcarolinaatchapelhill',
   'theuniversityofnorthcarolinaatcharlotte',
   'universityofnorthcarollinacharlotte']],
 ['capellauniversity',
  ['cornelluniversity', 'cornelluniversityq', 'bucknelluniversity']],
 ['universityofcaliforniaberkeley',
  ['universityofcaliforniasandiego',
   'universityofcaliforniasantabarbara',
   'universityofsoutherncalifornia']],
 ['universityofpittsburghpittsburghcampus',
  ['universityofpittsburgh', 'universityofpuertorico']],
 ['bostonuniversity',
  ['stjohnsuniversity', 'samhoustonuniversity', 'setonhalluniversity']],
 ['universityofillinoisatchicago',
  ['universityofillionischicago',
   'universityofillinoisfoundation',
   'universityofillinoisaturbanachampaign']],
 ['purdueuniversitymaincampus',
  ['theuniversityofmiami', 'universityofmiami', 'universityofmaine']],
 ['universityatbuffalo',
  ['universityoflowell', 'universityofalaska', 'universityofmonatan']],
 ['universityofarizona',
  ['universityofmaine', 'universityofrichmond', 'theuniversityofakron']],
 ['lakeeriecollegeofosteopathicmedicine',
  ['philadelphiacollegeofosteopathicmedicine',
   'edwardviavirginiacollegeofosteopathicmedicine',
   'universityofnewenglandcollegeofosteopathicmedicine']],
 ['universityofiowa',
  ['universityofmiami', 'universityofidaho', 'universityofiowaresfdn']],
 ['universityofcaliforniadavis',
  ['universityofcaliforniasanfranciso',
   'universityofcaliforniasandiego',
   'universityofsoutherncalifornia']],
 ['universityofkentucky',
  ['universityofvermont', 'universityoftulsa', 'universityoforegon']],
 ['indianauniversitypurdueuniversityindianapolis',
  ['indianauniversityfoundation']],
 ['universityofmissouricolumbia',
  ['universityofmissouri',
   'universityofsouthcarolina',
   'universityofvirginia']],
 ['pennsylvaniastateuniversitymaincampus',
  ['pennsylvaniastateuniversity',
   'thepennsylvaniastateuniversity',
   'pennsylvaniatrusteesoftheuniversityofthe']],
 ['universityofvirginiamaincampus',
  ['universityofvirginia',
   'theuniversityofvirginia',
   'universityofillinoisaturbanachampaign']],
 ['washingtonuniversityinstlouis',
  ['washingtonuniversity',
   'washingtonuniversityschoolofmedicine',
   'georgewashingtonuniversity']],
 ['universityofutah',
  ['universityoftulsa', 'universityofidaho', 'universityofguelph']],
 ['northcentraluniversity',
  ['northcarolinacentraluniversity',
   'northwesternuniversity',
   'northwesternuniversity']],
 ['atstilluniversityofhealthsciences',
  ['westernuniversityofhealthsciences',
   'alleghenyuniversityofthehealthsciences',
   'wakeforestuniversityhealthsciences']],
 ['universityofsouthcarolinacolumbia',
  ['universityofsouthcarolina',
   'universityofsouthalabama',
   'medicaluniversityofsouthcarolina']],
 ['floridastateuniversity',
  ['floridaamuniversity', 'georgiastateuniversity', 'idahostateuniversity']],
 ['indianauniversitybloomington',
  ['indianauniversityfoundation',
   'universityofwyoming',
   'universityofwashington']],
 ['universityofsouthfloridamaincampus',
  ['universityofsouthflorida',
   'universityofnorthflorida',
   'universityofsouthalabama']],
 ['universityofchicago',
  ['theuniversityofchicago',
   'loyolauniversityofchicago',
   'universityofidaho']],
 ['mcphsuniversity',
  ['mcmasteruniversity', 'templeuniversity', 'merceruniversity']],
 ['universityofcoloradodenveranschutzmedicalcampus',
  ['universityofcoloradoresearchfoundation',
   'universityofmasachusettsmedicalcenter',
   'universityofrochestermedicalcenter']],
 ['palmercollegeofchiropractic', []],
 ['universityofcincinnatimaincampus',
  ['universityofcincinnati',
   'univeristyofcincinnati',
   'universityofcincinnatiandapologicincorporated']],
 ['midwesternuniversityglendale',
  ['westernuniversityofhealthsciences',
   'northwesternuniversity',
   'northwesternuniversity']],
 ['northcarolinastateuniversityatraleigh',
  ['northcarolinastateuniversity',
   'northcarolinaatstateuniversity',
   'noerhcarolinastateuniversity']],
 ['stjohnsuniversitynewyork',
  ['stjohnsuniversity',
   'stateuniversityofnewyork',
   'theuniversityofneworleans']],
 ['universityofmarylandcollegepark',
  ['universityofmaryland',
   'universityofmarylandschoolofmedicine',
   'universityofmarylandbaltimore']],
 ['universityofmissourikansascity',
  ['universityofmissouri', 'universityofarkansas', 'universityofmississippi']],
 ['midwesternuniversitydownersgrove',
  ['thestateuniversityofnewjersey',
   'westernuniversityofhealthsciences',
   'northwesternuniversity']],
 ['stonybrookuniversity',
  ['tourouniversity', 'stjohnsuniversity', 'newyorkuniversity']],
 ['universityofcaliforniairvine',
  ['universityofcaliforniasandiego',
   'universityofsoutherncalifornia',
   'universityofcaliforniasanfranciso']],
 ['universityofcoloradoboulder',
  ['universityofcoloradoboardofregents',
   'universityofdenvercoloradoseminary',
   'universityoftoledo']],
 ['theuniversityoftennesseehealthsciencecenter',
  ['theuniversityoftexashealthsciencecenter',
   'tulaneuniversityhealthsciencescenter',
   'texastechuniversityhealthsciencescenter']],
 ['louisianastateuniversityandagriculturalmechanicalcollege',
  ['louisianastateuniversityandagriculturalandmechanicalcollege',
   'louisianastateuniversityandmechanicalcollege',
   'universityandagriculturalandmechanicalcollege']],
 ['universityofcaliforniasanfrancisco',
  ['universityofcaliforniasanfranciso',
   'theuniversityofcaliforniaatsanfrancisco',
   'universityofcaliforniasandiego']],
 ['universityofstaugustineforhealthsciences',
  ['universityofarkansasformedicalsciences',
   'alleghenyuniversityofthehealthsciences',
   'westernuniversityofhealthsciences']],
 ['theuniversityoftennesseeknoxville',
  ['theuniversityoftoledo',
   'theuniversityofneworleans',
   'theuniversityofnewhampshire']],
 ['universityofthepacific',
  ['universityofhawaii',
   'universityofsoutherncalifornia',
   'universityofnorthtexas']]]

### Fuzzy matching on names

In [64]:
finalized = finalized.dropna(0)

In [65]:
for i in finalized['organization']:
    if 'minnesota' in i:
        print(i)

minnesotaminingandmanufacturingcompany
regentsoftheuniversityofminnesota

TypeError: argument of type 'int' is not iterable

In [98]:
finalized = finalized.dropna()

In [99]:
import difflib
results = []
for i in to_match['organization']:
    results.append([i, difflib.get_close_matches(i, finalized['organization'], cutoff=0.6)])