<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#NCSES-class---PatentsView-and-IPEDS-data" data-toc-modified-id="NCSES-class---PatentsView-and-IPEDS-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>NCSES class - PatentsView and IPEDS data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Python-Setup" data-toc-modified-id="Python-Setup-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Python Setup</a></span></li></ul></li><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load the data</a></span></li><li><span><a href="#Record-linkage" data-toc-modified-id="Record-linkage-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Record linkage</a></span><ul class="toc-item"><li><span><a href="#Merge-location-and-assignee-files" data-toc-modified-id="Merge-location-and-assignee-files-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Merge location and assignee files</a></span></li><li><span><a href="#Merge-with-location-ID-and-filter-by-country-(&quot;US&quot;)" data-toc-modified-id="Merge-with-location-ID-and-filter-by-country-(&quot;US&quot;)-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Merge with location ID and filter by country ("US")</a></span></li><li><span><a href="#Merge-with-patent_assignee" data-toc-modified-id="Merge-with-patent_assignee-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Merge with patent_assignee</a></span></li><li><span><a href="#Merge-with-government-interest-file-and-create-a-dummy-(0,1)-for-government-interest" data-toc-modified-id="Merge-with-government-interest-file-and-create-a-dummy-(0,1)-for-government-interest-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Merge with government interest file and create a dummy (0,1) for government interest</a></span></li><li><span><a href="#Load-application-file-and-extract-year-from-the-&quot;date&quot;-field" data-toc-modified-id="Load-application-file-and-extract-year-from-the-&quot;date&quot;-field-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Load application file and extract year from the "date" field</a></span></li><li><span><a href="#Filter-the-finalized-dataframe-for-years-from-2000+" data-toc-modified-id="Filter-the-finalized-dataframe-for-years-from-2000+-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Filter the finalized dataframe for years from 2000+</a></span></li><li><span><a href="#Merge-with-IPEDS-file" data-toc-modified-id="Merge-with-IPEDS-file-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Merge with IPEDS file</a></span></li></ul></li><li><span><a href="#Variable-construction" data-toc-modified-id="Variable-construction-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Variable construction</a></span><ul class="toc-item"><li><span><a href="#Number-of-patents-joint-with-business-(#joint_w_business)" data-toc-modified-id="Number-of-patents-joint-with-business-(#joint_w_business)-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Number of patents joint with business (#joint_w_business)</a></span></li><li><span><a href="#Total-number-of-patents-(#applied_patents)" data-toc-modified-id="Total-number-of-patents-(#applied_patents)-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Total number of patents (#applied_patents)</a></span></li><li><span><a href="#Number-of-patents-with-government-interest-(#applied_govinterest)" data-toc-modified-id="Number-of-patents-with-government-interest-(#applied_govinterest)-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Number of patents with government interest (#applied_govinterest)</a></span></li><li><span><a href="#Number-of-female-inventors-(#female_inventors)" data-toc-modified-id="Number-of-female-inventors-(#female_inventors)-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Number of female inventors (#female_inventors)</a></span></li><li><span><a href="#Number-of-unique-inventors-(#unique_inventors)" data-toc-modified-id="Number-of-unique-inventors-(#unique_inventors)-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>Number of unique inventors (#unique_inventors)</a></span></li><li><span><a href="#Top-IPC-classification-categories" data-toc-modified-id="Top-IPC-classification-categories-1.3.6"><span class="toc-item-num">1.3.6&nbsp;&nbsp;</span>Top IPC classification categories</a></span></li></ul></li><li><span><a href="#Create-a-finalized-output-dataset" data-toc-modified-id="Create-a-finalized-output-dataset-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Create a finalized output dataset</a></span></li></ul></li></ul></div>

# NCSES class - PatentsView and IPEDS data

### Introduction

This notebook builds links between two datasets: 


1. **PatentsView** (www.patentsview.org) The PatentsView platform is built on data derived from the US Patent and Trademark Office (USPTO) bulk data to link inventors, their organizations, locations, and overall patenting activity.


2. **IPEDS** (https://nces.ed.gov/ipeds/) IPEDS is the Integrated Postsecondary Education Data System, a system of interrelated surveys conducted annually by the U.S. Department of Educationâ€™s National Center for Education Statistics (NCES). IPEDS gathers information from every college, university, and technical and vocational institution that participates in the federal student financial aid programs on enrollments, program completions, graduation rates, faculty and staff, finances, institutional prices, and student financial aid.

------------------------------------------------------------

**Output file**

**Data dictionary**

Unit of observation: **university by year (from year 2000+)**

Variables: 
- **#unique_inventors** - number of unique inventors 
- **#female_inventors** - number of female inventors 
- **#applied_patents** - total number of applied patents
- **#applied_govinterest** - total number of applied patents with government interest 
- **#joint_w_business** - total number of patents joint with businesses
- **top_5_ipc** - top 5 IPC classification categories

### Python Setup

In [1]:
# Data manipulation
import pandas as pd

# Text preprocessing
import string

# Optional: library for fuzzy matching of strings
import difflib

## Load the data

In [82]:
# PatentsView files

assignee = pd.read_csv('assignee.tsv', sep='\t') # unique assignee IDs
location_assignee = pd.read_csv('location_assignee.tsv', sep='\t') # crosswalk file with location and assignee IDs
location = pd.read_csv('location.tsv', sep='\t') # unique location id and associated city, state, country, etc.
patent_assignee = pd.read_csv('patent_assignee.tsv',sep='\t') # crosswalk between patent and assignee files
government_interest = pd.read_csv('government_interest.tsv',sep='\t') # mapping of patent numbers to raw government interest text
application = pd.read_csv('application.tsv',sep='\t') # information on the applications for granted patent
patent_inventor = pd.read_csv('patent_inventor.tsv',sep='\t') # crosswalk between patent and inventor tables
inventor_gender = pd.read_csv('inventor_gender.tsv',sep='\t') # inventor gender data
ipcr = pd.read_csv('ipcr.tsv',sep='\t') # International Patent Classification

# IPEDS file
ipeds = pd.read_csv('IPEDS.csv',encoding='ISO-8859-1')

## Record linkage

### Merge location and assignee files

In [69]:
"""Look at the ASSIGNEE dataset description. We are interested in organization names to merge IPEDS university
names on the names in the ASSIGNEE dataset. ORGANIZATION variable in this dataset has organization names.
There are less organization names known than assignees:
504,012 - ASSIGNEE_ID
456,776 - ORGANIZATION"""

assignee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504012 entries, 0 to 504011
Data columns (total 5 columns):
id              504012 non-null object
type            504011 non-null float64
name_first      47233 non-null object
name_last       47234 non-null object
organization    456776 non-null object
dtypes: float64(1), object(4)
memory usage: 19.2+ MB

In [166]:
"""Drop those row which do not have organization names."""

assignee = assignee[~assignee['organization'].isnull()]

In [167]:
"""Now the dataset only has assignees which have organization names."""

assignee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456776 entries, 0 to 456775
Data columns (total 5 columns):
id              456776 non-null object
type            456776 non-null float64
name_first      0 non-null object
name_last       0 non-null object
organization    456776 non-null object
dtypes: float64(1), object(4)
memory usage: 20.9+ MB

In [168]:
"""Look at the LOCATION_ASSIGNEE dataset description. We can use location to filter by assignees in the United States,
as we know that IPEDS university file contains United States universities.
In this dataset there are less LOCATION_IDs known than ASSIGNEE_IDs:
648,514 - ASSIGNEE_ID
646,919 - LOCATION_ID""" 

location_assignee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648514 entries, 0 to 648513
Data columns (total 2 columns):
location_id    646919 non-null object
assignee_id    648514 non-null object
dtypes: object(2)
memory usage: 9.9+ MB

In [171]:
"""Check how many locations can be associated with a given assignee.
Group by a given assignee, count the locations associated with a given assignee, and
see the unique values. There can be more than 1 location associated with a given assignee."""

location_assignee.groupby('assignee_id')['location_id'].count().unique()

array([  1,   3,   2,  10,   5,   4,   6,   7,  17,   8,  16,  13,   0,
         9,  11,  14,  12,  15,  31,  44,  43,  19,  21,  25,  32,  18,
        20,  37,  42,  24,  34,  49,  22,  29,  30,  53,  23,  65, 116,
        27,  57,  54,  39,  26,  28,  64,  55,  36,  41,  45,  35])

In [172]:
"""Merge on a common column containing assignee id: ID in ASSIGNEE and ASSIGNEE_ID in 
LOCATION_ASSIGNEE."""

merged_location_assignee = pd.merge(left=location_assignee,right=assignee, on=None,
                                    left_on='assignee_id',right_on='id')

"""Keep only needed columns"""
merged_location_assignee = merged_location_assignee[['location_id','assignee_id','organization']]

"""View the merged dataframe"""
merged_location_assignee.head()

    location_id                               assignee_id      organization
0  q8wc2x1ryasb  org_00054e2c-8d76-4e86-92d7-c3268e32438c           Sermeta
1  ny17xyn10k3d                  org_0006dUf10fyaGu141Xsy    Uber Co., Ltd.
2  qcj7zhcco1lm                  org_000U7wc7DxrKo9M7gNOr  I/P Engine, Inc.
3  symng222vxqi  org_00181b00-a087-4314-8a91-a78203517001             INTAP
4  v11nqt9ynpgb  org_0018ff04-6dba-4345-ace4-d0f170a30d87              WJRJ

In [173]:
"""Look at the merged dataset description. We have more ORGANIZATION name records (598,094) than 
before (456,776), which could be the duplicates, as one assignee can have multiple associated 
locations."""

merged_location_assignee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 598094 entries, 0 to 598093
Data columns (total 3 columns):
location_id     596547 non-null object
assignee_id     598094 non-null object
organization    598094 non-null object
dtypes: object(3)
memory usage: 18.3+ MB

In [174]:
"""Check the number of unique organization names. There are slightly less organization names
in this dataset (456,073) than before (456,776). 703 assignees were not found in 
the LOCATION_ASSIGNEE file."""

merged_location_assignee.organization.nunique()

456073

### Merge with location ID and filter by country ("US")

In [176]:
"""Look at the dataset description. We will merge this dataset on the LOCATION_ID with the 
dataset above to find out the associated location information with the location id. 
We are interested in the COUNTRY and STATE variable to filter by the United States assignees and
validate the data."""

location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137687 entries, 0 to 137686
Data columns (total 9 columns):
id             137687 non-null object
city           137565 non-null object
state          37654 non-null object
country        137687 non-null object
latitude       137687 non-null float64
longitude      137687 non-null float64
county         20847 non-null object
state_fips     137687 non-null int64
county_fips    137687 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 9.5+ MB

In [179]:
"""Merge on common column containing location_id: ID in LOCATION and LOCATION_ID in 
MERGED_LOCATION_ASSIGNEE"""

merged_assignee = pd.merge(left=location,right=merged_location_assignee, on=None,
                          left_on='id', right_on='location_id')

"""Keep only the needed columns."""
merged_assignee = merged_assignee[['state','country','assignee_id','organization','location_id']]
merged_assignee.head()

,state,country,assignee_id,organization,location_id
0,NaN,JP,org_0Adc4mfbmiYCpSr8q3jH,Toyooki Kogyo Kabushiki Kaisha,bfy03xoykgui
1,NaN,JP,org_6ohiYFQUje6OvPzby4VM,"Maeda Shell Service Co., Ltd.",bfy03xoykgui
2,NaN,JP,org_714dR5p9M1UWFw44LOE7,Toyoda Van Moppes Ltd.,bfy03xoykgui
3,NaN,JP,org_9MrVSbz6jPBqlVxmUf61,Japan as represented by Director of General of...,bfy03xoykgui
4,NaN,JP,org_9y6vRfBOr1754BBHZlII,Banno Kogyo Kabushiki Kaisha,bfy03xoykgui

In [180]:
"""Check all unique country names to find the United States. There is an abbrevation US."""

merged_assignee.country.unique()

array(['JP', 'GB', 'CH', 'TH', 'US', 'TW', 'DE', 'NL', 'FR', 'SW', 'AT',
       'NO', 'EN', 'IE', 'IT', 'HU', 'IN', 'MY', 'IL', 'AU', 'CN', 'KR',
       'PE', 'CA', 'ID', 'ES', 'RU', 'DK', 'ZA', 'MX', 'SE', 'PL', 'GI',
       'DT', 'SI', 'LK', 'WV', 'BR', 'JA', 'LT', 'HK', 'BE', 'FI', 'BG',
       'NZ', 'DD', 'SU', 'IR', 'YU', 'CS', 'NR', 'AZ', 'SG', 'PT', 'GR',
       'un', 'LU', 'MC', 'CZ', 'AR', 'FL', 'SA', 'TR', 'TX', 'BM', 'VE',
       'OE', 'BY', 'CL', 'LB', 'HR', 'SM', 'UA', 'PG', 'MK', 'BO', 'LI',
       'SF', 'WA', 'EP', 'EC', 'ML', 'CU', 'CO', 'MA', 'JM', 'SC', 'KS',
       'PY', 'BS', 'VG', 'PH', 'NG', 'KY', 'PR', 'LV', 'AI', 'TK', 'PK',
       'AE', 'SK', 'AM', 'KW', 'MH', 'CE', 'GT', 'BN', 'DL', 'BD', 'BH',
       'BA', 'CY', 'TT', 'JO', 'TN', 'CM', 'GG', 'NE', 'GE', 'BB', 'EE',
       'CT', 'EI', 'LR', 'VN', 'TC', 'IS', 'CR', 'QA', 'IM', 'PM', 'AO',
       'PO', 'VU', 'MG', 'PA', 'MI', 'EG', 'KZ', 'PF', 'MO', 'RO', 'AN',
       'UY', 'MT', 'AG', 'WI', 'AD', 'DO', 'SV', 'HN', 'IQ', 'CI', 'CK',
       'BW', 'OM', 'TD', 'GU', 'KN', 'DZ', 'HT', 'SL', 'ME', 'RS', 'NM',
       'MU', 'DM', 'KE', 'NH', 'FO', 'RH', 'GA', 'BZ', 'VA', 'GP', 'BF',
       'ZW', 'GY', 'AW', 'UZ', 'WS', 'BV', 'TG', 'MM', 'JE', 'AL', 'KP',
       'IO', 'SN', 'VC', 'FK', 'GC', 'LA', 'LC', 'NV', 'YE', 'UG', 'BU'],
      dtype=object)

In [181]:
"""Filter by the 'US' in the COUNTRY column."""

merged_assignee_filtered = merged_assignee[merged_assignee['country'] == 'US']
merged_assignee_filtered.head()

,state,country,assignee_id,organization,location_id
12721,CA,US,org_9gbxlFYDdz6sTZtvnhCX,United States Steel Corporation,ynzrfuok33o5
12722,CA,US,org_iv72dHbRItbvdHxgK3kB,"BioZone Laboratories, Inc.",ynzrfuok33o5
12723,CA,US,org_LPa0Kl9nAxFKX577TVVo,"Biozibe Laboratories, Inc.",ynzrfuok33o5
12724,CA,US,org_mxfZ1NN4vezAZ8hJLCCn,Bishop-Wisecarver Corporation,ynzrfuok33o5
12725,CA,US,org_Pd2V6MSVzPOPRgWAvXuI,Calgon Corporation,ynzrfuok33o5

In [182]:
"""Check whether all states associated with the US are valid."""

states = merged_assignee_filtered.state.unique() # get unique states from the dataframe

list_states = ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS',
'KY','LA','ME','MD','MH','MA','MI','FM','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY']
# get the known list of abbreviations for US states and territories

list(set(states) - set(list_states)) # compare the difference between two lists

[nan, 'UM', 'NB', 'AA', 'JP']

In [183]:
len(merged_assignee_filtered[merged_assignee_filtered['state'].isnull()]) 
# checking how many records do not have state listed

762

In [ ]:
"""We find the following information:
nan - 802 records do not have state listed
UM - U.S. Minor Outlying Islands
NB - A former abbreviation code for Nebraska (now it is NE)
AA - U.S. Armed Forces â€“ Americas
JP is an error, there is no such state or territory associted with the United States"""

In [184]:
"""There is only one record with JP."""
merged_assignee_filtered[merged_assignee_filtered['state'] == 'JP']

,state,country,assignee_id,organization,location_id
551597,JP,US,org_tTnLqYNs1lwyq9d7LA4S,"Takashimaya Nippatsy Kogyo Co., Ltd.",izcs2yxzkmcm

In [185]:
"""We remove the JP from the dataframe."""

merged_assignee_finalized = merged_assignee_filtered[merged_assignee_filtered['state'] != 'JP']

In [187]:
"""Now we have 274,214 organization names listed in the United States."""

merged_assignee_finalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274214 entries, 12721 to 558512
Data columns (total 5 columns):
state           273452 non-null object
country         274214 non-null object
assignee_id     274214 non-null object
organization    274214 non-null object
location_id     274214 non-null object
dtypes: object(5)
memory usage: 12.6+ MB

In [188]:
"""Among those, 230,047 organization names are unique."""

merged_assignee_finalized.organization.nunique()

230047

In [189]:
"""Some assignees have multiple associated locations."""

merged_assignee_finalized.groupby('assignee_id')['location_id'].count().unique()

array([ 1,  3,  2,  7,  5,  4, 13,  6, 10,  8,  9, 15, 19, 11, 12, 37, 18,
       22, 17, 81, 16, 14, 27, 34, 24, 35, 36, 21])

### Merge with patent_assignee

In [190]:
"""Check the dataset description."""

patent_assignee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6163970 entries, 0 to 6163969
Data columns (total 2 columns):
patent_id      object
assignee_id    object
dtypes: object(2)
memory usage: 94.1+ MB

In [191]:
"""Merge on a common column containing assignee id."""

merged_patent_assignee = pd.merge(left=patent_assignee,right=merged_assignee_finalized, 
                                  on='assignee_id')
merged_patent_assignee.head()

,patent_id,assignee_id,state,country,organization,location_id
0,5856666,org_6swO9pOeuJWANlfOE5mf,NY,US,U.S. Philips Corporation,ths6bmxbfgre
1,5856666,org_6swO9pOeuJWANlfOE5mf,NY,US,U.S. Philips Corporation,726a2siloa8w
2,5856666,org_6swO9pOeuJWANlfOE5mf,MA,US,U.S. Philips Corporation,hzx6s7d71iaj
3,5856666,org_6swO9pOeuJWANlfOE5mf,NY,US,U.S. Philips Corporation,dbpqy0bgug9d
4,5856666,org_6swO9pOeuJWANlfOE5mf,NaN,US,U.S. Philips Corporation,453ex4jkm5xc

In [192]:
"Check the dataset description."

merged_patent_assignee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26478304 entries, 0 to 26478303
Data columns (total 6 columns):
patent_id       object
assignee_id     object
state           object
country         object
organization    object
location_id     object
dtypes: object(6)
memory usage: 1.4+ GB

In [193]:
"""Check the number of unique organization names - it is the same number as before."""

merged_patent_assignee.organization.nunique()

230047

### Merge with government interest file and create a dummy (0,1) for government interest

In [194]:
"""Check the dataset description."""

government_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139237 entries, 0 to 139236
Data columns (total 2 columns):
patent_id       139237 non-null object
gi_statement    139237 non-null object
dtypes: object(2)
memory usage: 2.1+ MB

In [195]:
government_interest.head(1)

  patent_id                                       gi_statement
0  10000026  This invention was made with Government suppor...

In [196]:
"""Merge on a common column containing patent ids, preserving patents that don't have
government interest."""

patent_assignee_interest = pd.merge(left=merged_patent_assignee,right=government_interest, 
                                    on='patent_id', how='left')

In [197]:
"""Check that the number of unique organization names stayed the same."""

patent_assignee_interest.organization.nunique()

230047

In [198]:
"""Fill NaN values with 0."""

patent_assignee_interest = patent_assignee_interest.fillna(0)

In [199]:
"""Create a dummy variable: if a patent has government interest = 1, if not = 0."""

patent_assignee_interest['government_interest'] = (patent_assignee_interest['gi_statement'] != 0).astype(int)

In [200]:
"""Check that the values are either 1 or 0."""

patent_assignee_interest['government_interest'].unique()

array([0, 1])

In [201]:
"""Check that the number of unique organization names is the same."""

patent_assignee_interest.organization.nunique()

230047

### Load application file and extract year from the "date" field

In [203]:
"""Check the dataset description."""

application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6915759 entries, 0 to 6915758
Data columns (total 6 columns):
id             object
patent_id      object
series_code    object
number         object
country        object
date           object
dtypes: object(6)
memory usage: 316.6+ MB

In [205]:
"""Merge on a common column containing patent ids."""
patent_assignee_interest_application = pd.merge(left=patent_assignee_interest,right=application,
                                                on='patent_id')

"""Keep only the needed columns."""
patent_assignee_interest_application = patent_assignee_interest_application[['patent_id','assignee_id','organization','government_interest','date']]

In [210]:
"""Extract year from the date column."""

patent_assignee_interest_application['date'] = pd.to_datetime(patent_assignee_interest_application['date'], 
                                                              errors='coerce')
patent_assignee_interest_application['year'] = patent_assignee_interest_application['date'].dt.year
patent_assignee_interest_application = patent_assignee_interest_application.drop('date',axis=1)
patent_assignee_interest_application.head()

,patent_id,assignee_id,organization,government_interest,year
0,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.0
1,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.0
2,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.0
3,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.0
4,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.0

In [213]:
"""Now that the LOCATION_ID column is not there (which used to differentiate
between different assignee rows), we can drop the duplicates."""

patent_assignee_interest_application = patent_assignee_interest_application.drop_duplicates()

In [216]:
patent_assignee_interest_application.head()

,patent_id,assignee_id,organization,government_interest,year
0,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.0
8,4527017,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1980.0
16,6339671,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.0
24,5275163,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1992.0
32,4803559,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1987.0

### Filter the finalized dataframe for years from 2000+

In [217]:
finalized_dataframe = patent_assignee_interest_application[patent_assignee_interest_application['year'] >= 2000]
finalized_dataframe.head()

,patent_id,assignee_id,organization,government_interest,year
16,6339671,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.0
672,8228939,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.0
680,8228939,org_LMhqUwxLfu0m5GTIRqMY,Sharp Kabushiki Kaisha,0,2000.0
954,6348779,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.0
1002,6388644,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.0

### Merge with IPEDS file

In [218]:
"""Check the dataset description."""

ipeds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7153 entries, 0 to 7152
Data columns (total 4 columns):
UNITID    7153 non-null int64
INSTNM    7153 non-null object
IALIAS    7153 non-null object
STABBR    7153 non-null object
dtypes: int64(1), object(3)
memory usage: 223.6+ KB

In [220]:
"""Normalize university names before merging with assignee and patent file: lowercase, 
remove white space, remove punctuation/special symbols."""

def normalize_names(name):
    name = name.lower() # lowercase
    name = name.strip() # remove trailing white space
    for i in string.punctuation:
        name = name.replace(i,'') # remove punctuation and special symbols
    name = name.replace(' ','') # remove all white space
    return name

"""Apply normalization function to university and organization names."""

finalized_dataframe['organization'] = finalized_dataframe['organization'].apply(normalize_names)
ipeds['INSTNM'] = ipeds['INSTNM'].apply(normalize_names)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [221]:
"""Merge on a common column containing names."""

merged_ipeds_patents = pd.merge(left=ipeds,right=finalized_dataframe,
                                left_on='INSTNM',right_on='organization')

merged_ipeds_patents.head()

,UNITID,INSTNM,IALIAS,STABBR,patent_id,assignee_id,organization,government_interest,year
0,100654,alabamaamuniversity,AAMU,AL,6999221,org_agpbfFe0HQ59qCPZF1GH,alabamaamuniversity,0,2003.0
1,100654,alabamaamuniversity,AAMU,AL,9795634,org_agpbfFe0HQ59qCPZF1GH,alabamaamuniversity,0,2016.0
2,100706,universityofalabamainhuntsville,UAH |University of Alabama Huntsville,AL,9182228,org_tgWZGEfsbc3WWgsU6KAV,universityofalabamainhuntsville,1,2006.0
3,100706,universityofalabamainhuntsville,UAH |University of Alabama Huntsville,AL,8735844,org_tgWZGEfsbc3WWgsU6KAV,universityofalabamainhuntsville,1,2013.0
4,100706,universityofalabamainhuntsville,UAH |University of Alabama Huntsville,AL,8706178,org_tgWZGEfsbc3WWgsU6KAV,universityofalabamainhuntsville,0,2006.0

In [222]:
"""Check the number of matched IPEDS organizations."""

merged_ipeds_patents.organization.nunique()

289

In [224]:
"""Optional: run a fuzzy matching function to get close matches in names, a specified cutoff is 0.6, or 60% in similarity 
between two names."""

#results = []
#for i in ipeds['organization']:
    #results.append([i, difflib.get_close_matches(i, finalized['organization'], cutoff=0.6)])

# Validate the matches and import file with validate matches

#results.to_csv('names_matches_to_validate.csv') # file to validate

# Validation by quering the patents dataframe organization name column
# e.g.
#for i in finalized_dataframe['organization']:
#    if 'florida' in i:
#        print(i)

"""Import validated file."""

validated = pd.read_csv('names_matches_validated.csv') 

"""Merge with the patents dataframe on the organization name column."""

additional_validated = pd.merge(left=finalized_dataframe,right=validated,
                                left_on='organization',right_on='PatentsView_organization')

In [227]:
additional_validated.head()

,patent_id,assignee_id,organization,government_interest,year,UNITID,CTOTALT,IPEDS_organization,PatentsView_organization,IALIAS,STABBR
0,9489582,org_oc1bCBtS9yjBGFF0gQAc,thepennstateresearchfoundation,0,2014.0,214777,1618,pennsylvaniastateuniversitymaincampus,thepennstateresearchfoundation,NaN,NaN
1,9489582,org_oc1bCBtS9yjBGFF0gQAc,thepennstateresearchfoundation,0,2014.0,214777,1618,pennsylvaniastateuniversitymaincampus,thepennstateresearchfoundation,NaN,NaN
2,9489582,org_oc1bCBtS9yjBGFF0gQAc,thepennstateresearchfoundation,0,2014.0,214777,1618,pennsylvaniastateuniversitymaincampus,thepennstateresearchfoundation,NaN,NaN
3,9489582,org_oc1bCBtS9yjBGFF0gQAc,thepennstateresearchfoundation,0,2014.0,214777,1618,pennsylvaniastateuniversitymaincampus,thepennstateresearchfoundation,NaN,NaN
4,9317780,org_oc1bCBtS9yjBGFF0gQAc,thepennstateresearchfoundation,0,2014.0,214777,1618,pennsylvaniastateuniversitymaincampus,thepennstateresearchfoundation,NaN,NaN

In [228]:
"""Drop duplicates."""

additional_validated = additional_validated.drop_duplicates()

In [239]:
"""Concatenate exact match and fuzzy matched validated dataframes."""

patent_universities = pd.concat([merged_ipeds_patents,additional_validated])

"""Keep only needed columns."""
patent_universities = patent_universities[['UNITID','assignee_id','government_interest','organization','patent_id','year']]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [240]:
"""There are 537 university matches in the assignee and patent file."""

patent_universities.organization.nunique()

537

In [241]:
patent_universities.head()

,UNITID,assignee_id,government_interest,organization,patent_id,year
0,100654,org_agpbfFe0HQ59qCPZF1GH,0,alabamaamuniversity,6999221,2003.0
1,100654,org_agpbfFe0HQ59qCPZF1GH,0,alabamaamuniversity,9795634,2016.0
2,100706,org_tgWZGEfsbc3WWgsU6KAV,1,universityofalabamainhuntsville,9182228,2006.0
3,100706,org_tgWZGEfsbc3WWgsU6KAV,1,universityofalabamainhuntsville,8735844,2013.0
4,100706,org_tgWZGEfsbc3WWgsU6KAV,0,universityofalabamainhuntsville,8706178,2006.0

## Variable construction

### Number of patents joint with business (#joint_w_business)

In [242]:
"""To find assignees which are businesses, filter the patents dataframe by assignees 
who do not have universities IDs."""

university_ids = patent_universities['assignee_id'].values.tolist()
patent_business = finalized_dataframe[~finalized_dataframe['assignee_id'].isin(university_ids)]

In [243]:
"""Check the number of organization names in the business category."""

patent_business.organization.nunique()

133614

In [244]:
"""Merge on a common patent_id number."""

merged_business_university = pd.merge(left=patent_business,right=patent_universities,
                                      on='patent_id')

In [250]:
"""Drop duplicates."""

merged_business_university = merged_business_university.drop_duplicates()

In [251]:
"""Group by a university name and count the number of patents joint with businesses."""

joint_with_business = merged_business_university.groupby(['UNITID','organization_y'])['patent_id'].count().reset_index()

In [254]:
"""Rename the columns."""
joint_with_business = joint_with_business.rename(columns={'patent_id':'#joint_w_business'})
joint_with_business = joint_with_business.rename(columns={'organization_y':'organization'})

In [256]:
"""282 universities have joint patents with business."""

joint_with_business.organization.nunique()

282

In [255]:
"""Show top 10 universities with patents that are joint with business"""

joint_with_business.sort_values('#joint_w_business',ascending=False).head(10)

,UNITID,organization,#joint_w_business
19,110662,theregentsoftheuniversityofcalifornia,958
108,166683,massachusettsinstituteoftechnology,528
277,243744,theboardoftrusteesofthelelandstanfordjunioruni...,306
120,170976,theregentsoftheuniversityofmichigan,277
106,166027,presidentandfellowsofharvardcollege,273
183,198419,dukeuniversity,214
96,162928,thejohnshopkinsuniversity,200
10,110404,californiainstituteoftechnology,195
132,174066,regentsoftheuniversityofminnesota,165
47,134130,universityoffloridaresearchfoundationinc,163

### Total number of patents (#applied_patents)

In [257]:
"""Group by a university and count the number of total patents since 2000."""

number_patents = patent_universities.groupby(['UNITID','organization'])['patent_id'].count().reset_index()

In [260]:
"""Rename the columns."""
number_patents = number_patents.rename(columns={'patent_id':'#applied_patents'})

"""Show top 10 universities by total patents."""
number_patents.sort_values('#applied_patents',ascending=False).head(10)

,UNITID,organization,#applied_patents
34,110662,theregentsoftheuniversityofcalifornia,7339
211,166683,massachusettsinstituteoftechnology,7304
534,243744,theboardoftrusteesofthelelandstanfordjunioruni...,2628
20,110404,californiainstituteoftechnology,2367
524,240444,wisconsinalumniresearchfoundation,2155
141,147767,northwesternuniversity,1994
48,123961,universityofsoutherncalifornia,1814
351,198419,dukeuniversity,1790
190,162928,thejohnshopkinsuniversity,1750
235,170976,theregentsoftheuniversityofmichigan,1681

In [261]:
"""The number of universities is the same - 537 records."""

number_patents.organization.nunique()

537

### Number of patents with government interest (#applied_govinterest)

In [265]:
"""Subset dataframe by those patents with government interest."""

with_govinterest = patent_universities[patent_universities['government_interest'] == 1]

In [266]:
"""Group by a university and count the total number of patents with government interest."""

with_govinterest = with_govinterest.groupby(['UNITID','organization'])['patent_id'].count().reset_index()

In [267]:
"""Rename the column to the variable name."""

with_govinterest = with_govinterest.rename(columns={'patent_id':'#applied_govinterest'})

"""Show top 10 universities by patents with government interest."""

with_govinterest.sort_values('#applied_govinterest',ascending=False).head(10)

,UNITID,organization,#applied_govinterest
28,110662,theregentsoftheuniversityofcalifornia,4521
175,166683,massachusettsinstituteoftechnology,4338
415,240444,wisconsinalumniresearchfoundation,1603
16,110404,californiainstituteoftechnology,1571
121,147767,northwesternuniversity,1516
422,243744,theboardoftrusteesofthelelandstanfordjunioruni...,1412
192,170976,theregentsoftheuniversityofmichigan,1020
39,123961,universityofsoutherncalifornia,954
288,198419,dukeuniversity,950
157,162928,thejohnshopkinsuniversity,944

In [268]:
"""There are 423 universities with patents with government interest."""

with_govinterest.organization.nunique()

423

### Number of female inventors (#female_inventors)

In [275]:
"""Check the dataset description."""

patent_inventor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16515750 entries, 0 to 16515749
Data columns (total 2 columns):
patent_id      object
inventor_id    object
dtypes: object(2)
memory usage: 252.0+ MB

In [282]:
patent_inventor.groupby('patent_id')['inventor_id'].count().unique()

array([ 1,  2,  4,  3, 10,  6,  8, 14, 11,  5,  9,  7, 12, 13, 16, 18, 24,
       15, 21, 25, 17, 19, 20, 27, 22, 26, 23, 34, 28, 32, 33, 29, 30, 41,
       38, 31, 51, 37, 36, 60, 76, 40, 43, 65, 53, 63, 39, 61, 42, 44])

In [276]:
"""Not all university patents are in the PATENT_INVENTOR dataset."""

patents_university = patent_universities.patent_id.unique()
patents_full = patent_inventor.patent_id.unique()

patents_university in patents_full

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  This is separate from the ipykernel package so we can avoid doing imports until

False

In [280]:
"""1,746 university patents are not in PATENT_INVENTOR dataset."""

results = list(set(patents_university) - set(patents_full))
len(patents_university) - len(results)

1746

In [287]:
"""Merge university patent data with PATENT_INVENTOR."""

assignee_inventor = pd.merge(left=patent_universities,right=patent_inventor, 
                             on='patent_id')

In [291]:
"""158 universities have data on associated inventors."""

assignee_inventor.organization.nunique()

158

In [289]:
"""Check the dataset description."""

inventor_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2335017 entries, 0 to 2335016
Data columns (total 4 columns):
disamb_inventor_id_20170808    object
disamb_inventor_id_20181127    object
disamb_inventor_id_20190312    object
male                           object
dtypes: object(4)
memory usage: 71.3+ MB

In [290]:
"""Merge with INVENTOR_GENDER. Use the latest version of disambiguation - 
disamb_inventor_id_20190312."""

assignee_inventor_gender = pd.merge(left=assignee_inventor,right=inventor_gender, 
                                    left_on='inventor_id',right_on='disamb_inventor_id_20190312')

In [293]:
"""Subset by those rows where "male" == 0 (or "female")."""
female_inventors = assignee_inventor_gender[assignee_inventor_gender['male'] == 0]

"""Group by a university and count the number of female inventors."""
female_inventors = female_inventors.groupby(['UNITID','organization'])['male'].count().reset_index()

"""Rename columns to the variable name."""
female_inventors = female_inventors.rename(columns={'male':'#female_inventors'})

"""Show top 10 universities by female inventors."""
female_inventors.sort_values('#female_inventors',ascending=False).head(10)

    UNITID                              organization  #female_inventors
28  166683        massachusettsinstituteoftechnology                 64
3   110662     theregentsoftheuniversityofcalifornia                 37
14  139959  universityofgeorgiaresearchfoundationinc                 30
40  186380      rutgersthestateuniversityofnewjersey                 29
70  228723                thetexasamuniversitysystem                 21
51  199193              northcarolinastateuniversity                 16
52  201645              casewesternreserveuniversity                 14
29  167358                    northeasternuniversity                 14
36  174066         regentsoftheuniversityofminnesota                 13
2   110404           californiainstituteoftechnology                 12

In [36]:
"""81 universities have information on female inventors."""

female_inventors.organization.nunique()

81

### Number of unique inventors (#unique_inventors)

In [295]:
"""Group by a university and count number of unique inventor IDs."""
unique_inventors = assignee_inventor.groupby(['UNITID','organization'])['inventor_id'].nunique().reset_index()

"""Rename the columnms to the variable name."""
unique_inventors = unique_inventors.rename(columns={'inventor_id':'#unique_inventors'})

"""Show top 10 universities by unique inventor_id."""
unique_inventors.sort_values('#unique_inventors',ascending=False).head(10)

     UNITID                              organization  #unique_inventors
8    110662     theregentsoftheuniversityofcalifornia                401
56   166683        massachusettsinstituteoftechnology                257
6    110404           californiainstituteoftechnology                152
55   166027       presidentandfellowsofharvardcollege                118
24   134130  universityoffloridaresearchfoundationinc                114
71   174066         regentsoftheuniversityofminnesota                107
48   162928                 thejohnshopkinsuniversity                101
151  240444         wisconsinalumniresearchfoundation                 99
123  215062  thetrusteesoftheuniversityofpennsylvania                 96
65   170976       theregentsoftheuniversityofmichigan                 95

In [296]:
"""158 universities have information on associated inventors."""

unique_inventors.organization.nunique()

158

### Top IPC classification categories

In [297]:
"""Check the dataset description. This dataset provides information on IPC classification 
categories of patents."""

ipcr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14325388 entries, 0 to 14325387
Data columns (total 15 columns):
uuid                          object
patent_id                     object
classification_level          object
section                       object
ipc_class                     object
subclass                      object
main_group                    object
subgroup                      object
symbol_position               object
classification_value          object
classification_status         object
classification_data_source    object
action_date                   object
ipc_version_indicator         object
sequence                      int64
dtypes: int64(1), object(14)
memory usage: 1.6+ GB

In [299]:
"""Keep only needed columns: patent_id and category."""

ipcr = ipcr[['patent_id','section']]

In [300]:
"""Merge university patents with IPC."""

patent_ipc = pd.merge(left=patent_universities,right=ipcr,
                      on='patent_id')

In [301]:
"""535 universities have patents with IPC classification."""

patent_ipc.organization.nunique()

535

In [306]:
"""Count the number of patents per IPC category."""

patent_ipc['count'] = [1] * len(patent_ipc)
ipc = patent_ipc.groupby(['UNITID','organization','section'])['count'].count().reset_index()
ipc.head()

   UNITID                     organization section  count
0  100654              alabamaamuniversity       A      3
1  100654              alabamaamuniversity       B      2
2  100654              alabamaamuniversity       G      3
3  100654              alabamaamuniversity       H      1
4  100706  universityofalabamainhuntsville       A     16

In [307]:
"""Sort by the highest count per category and get top five results per university."""

ipc_sorted = ipc.sort_values(['organization','count'],ascending=False)
ipc_top_five = ipc_sorted.groupby('organization').head(5)

In [322]:
"""Check a given university."""

ipc_top_five[ipc_top_five['organization'] == 'yaleuniversity']

     UNITID    organization section  count
213  130794  yaleuniversity       A   1870
215  130794  yaleuniversity       C   1636
218  130794  yaleuniversity       G    404
214  130794  yaleuniversity       B    268
219  130794  yaleuniversity       H    212

In [321]:
"""Merge with the category names."""

section_name = pd.DataFrame() # create a dataframe with category names
section_name['section'] = ['A','B','C','D','E','F','G','H']
section_name['name'] = ['Human Necessitites','Performing Operations; Transporting','Chemistry; Metallurgy','Textiles; Paper','Fixed Constructions','Mechanical Engineering; Lighting; Heating; Weapons; Blasting','Physics','Electricity']

ipc_name = pd.merge(left=ipc_top_five,right=section_name,
                    on='section')
ipc_name_sorted = ipc_name.sort_values(['organization','count'],ascending=False)

"""Check a given university."""

ipc_name_sorted[ipc_name_sorted['organization'] == 'yaleuniversity']

,UNITID,organization,section,count,name
600,130794,yaleuniversity,A,1870,Human Necessitites
958,130794,yaleuniversity,C,1636,Chemistry; Metallurgy
262,130794,yaleuniversity,G,404,Physics
1317,130794,yaleuniversity,B,268,Performing Operations; Transporting
1,130794,yaleuniversity,H,212,Electricity

In [324]:
"""Rename the column to the variable name."""
ipc_name_sorted = ipc_name_sorted.rename(columns={'name':'top_5_ipc'})

"""Store top five categories in one list."""
ipc_name_top_five = ipc_name_sorted.groupby(['UNITID','organization'])['top_5_ipc'].apply(list).reset_index()
ipc_name_top_five.head()

,UNITID,organization,top_5_ipc
0,100654,alabamaamuniversity,"[Physics, Human Necessitites, Performing Opera..."
1,100706,universityofalabamainhuntsville,"[Physics, Electricity, Human Necessitites, Per..."
2,100724,alabamastateuniversity,"[Chemistry; Metallurgy, Human Necessitites, Ph..."
3,100751,theuniversityofalabama,"[Electricity, Chemistry; Metallurgy, Physics, ..."
4,100858,auburnuniversity,"[Human Necessitites, Chemistry; Metallurgy, Ph..."

In [325]:
"""535 universities have information on IPC patent categories."""

ipc_name_top_five.organization.nunique()

535

## Create a finalized output dataset

In [326]:
"""Merge all dataframes above together."""
combined = joint_with_business.merge(number_patents,on=['UNITID','organization'],how='outer').merge(with_govinterest,on=['UNITID','organization'],how='outer').merge(female_inventors,on=['UNITID','organization'],how='outer').merge(unique_inventors,on=['UNITID','organization'],how='outer').merge(ipc_name_top_five,on=['UNITID','organization'],how='outer')

"""Fill NaN values with 0."""
combined = combined.fillna(0)

"""Store values as integers."""
combined[['#joint_w_business','#female_inventors','#unique_inventors']] = combined[['#joint_w_business','#female_inventors','#unique_inventors']].astype(int)

In [328]:
combined.head()

,UNITID,organization,#joint_w_business,#applied_patents,#applied_govinterest,#female_inventors,#unique_inventors,top_5_ipc
0,100654,alabamaamuniversity,1,2,0.0,0,0,"[Physics, Human Necessitites, Performing Opera..."
1,100706,universityofalabamainhuntsville,7,44,18.0,0,3,"[Physics, Electricity, Human Necessitites, Per..."
2,100751,theuniversityofalabama,4,39,4.0,0,0,"[Electricity, Chemistry; Metallurgy, Physics, ..."
3,100858,auburnuniversity,24,492,142.0,10,30,"[Human Necessitites, Chemistry; Metallurgy, Ph..."
4,102094,universityofsouthalabama,8,30,9.0,0,0,"[Chemistry; Metallurgy, Human Necessitites, Pe..."

In [ ]:
%store