<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#NCSES-class---PatentsView-and-IPEDS-data" data-toc-modified-id="NCSES-class---PatentsView-and-IPEDS-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>NCSES class - PatentsView and IPEDS data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Python-Setup" data-toc-modified-id="Python-Setup-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Python Setup</a></span></li></ul></li><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load the data</a></span></li><li><span><a href="#Record-linkage" data-toc-modified-id="Record-linkage-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Record linkage</a></span><ul class="toc-item"><li><span><a href="#Merge-location-and-assignee-files" data-toc-modified-id="Merge-location-and-assignee-files-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Merge location and assignee files</a></span></li><li><span><a href='#Merge-with-location-ID-and-filter-by-country-("US")' data-toc-modified-id='Merge-with-location-ID-and-filter-by-country-("US")-1.2.2'><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Merge with location ID and filter by country ("US")</a></span></li><li><span><a href="#Merge-with-patent_assignee" data-toc-modified-id="Merge-with-patent_assignee-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Merge with patent_assignee</a></span></li><li><span><a href="#Merge-with-government-interest-file-and-create-a-dummy-(0,1)-for-government-interest" data-toc-modified-id="Merge-with-government-interest-file-and-create-a-dummy-(0,1)-for-government-interest-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Merge with government interest file and create a dummy (0,1) for government interest</a></span></li><li><span><a href='#Load-application-file-and-extract-year-from-the-"date"-field' data-toc-modified-id='Load-application-file-and-extract-year-from-the-"date"-field-1.2.5'><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Load application file and extract year from the "date" field</a></span></li><li><span><a href="#Filter-the-finalized-dataframe-for-years-from-2000+" data-toc-modified-id="Filter-the-finalized-dataframe-for-years-from-2000+-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Filter the finalized dataframe for years from 2000+</a></span></li><li><span><a href="#Merge-with-IPEDS-file" data-toc-modified-id="Merge-with-IPEDS-file-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Merge with IPEDS file</a></span></li></ul></li><li><span><a href="#Variable-construction" data-toc-modified-id="Variable-construction-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Variable construction</a></span><ul class="toc-item"><li><span><a href="#Number-of-patents-joint-with-business-(#joint_w_business)" data-toc-modified-id="Number-of-patents-joint-with-business-(#joint_w_business)-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Number of patents joint with business (#joint_w_business)</a></span></li><li><span><a href="#Total-number-of-patents-(#granted_patents)" data-toc-modified-id="Total-number-of-patents-(#granted_patents)-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Total number of patents (#granted_patents)</a></span></li><li><span><a href="#Number-of-patents-with-government-interest-(#govinterest)" data-toc-modified-id="Number-of-patents-with-government-interest-(#govinterest)-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Number of patents with government interest (#govinterest)</a></span></li><li><span><a href="#Number-of-female-inventors-(#female_inventors)" data-toc-modified-id="Number-of-female-inventors-(#female_inventors)-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Number of female inventors (#female_inventors)</a></span></li><li><span><a href="#Number-of-unique-inventors-(#unique_inventors)" data-toc-modified-id="Number-of-unique-inventors-(#unique_inventors)-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>Number of unique inventors (#unique_inventors)</a></span></li><li><span><a href="#Top-IPC-classification-categories" data-toc-modified-id="Top-IPC-classification-categories-1.3.6"><span class="toc-item-num">1.3.6&nbsp;&nbsp;</span>Top IPC classification categories</a></span></li></ul></li><li><span><a href="#Create-a-finalized-output-dataset" data-toc-modified-id="Create-a-finalized-output-dataset-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Create a finalized output dataset</a></span></li><li><span><a href="#NCSES-class---FedRePORTER-and-IPEDS-data" data-toc-modified-id="NCSES-class---FedRePORTER-and-IPEDS-data-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>NCSES class - FedRePORTER and IPEDS data</a></span><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Python-Setup" data-toc-modified-id="Python-Setup-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Python Setup</a></span></li></ul></li><li><span><a href="#Load-and-inspect-the-data" data-toc-modified-id="Load-and-inspect-the-data-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Load and inspect the data</a></span><ul class="toc-item"><li><span><a href="#Federal-RePORTER---Projects-(https://federalreporter.nih.gov/FileDownload)" data-toc-modified-id="Federal-RePORTER---Projects-(https://federalreporter.nih.gov/FileDownload)-1.6.1"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Federal RePORTER - Projects (<a href="https://federalreporter.nih.gov/FileDownload" target="_blank">https://federalreporter.nih.gov/FileDownload</a>)</a></span></li><li><span><a href="#Federal-RePORTER---Abstracts-(https://federalreporter.nih.gov/FileDownload)" data-toc-modified-id="Federal-RePORTER---Abstracts-(https://federalreporter.nih.gov/FileDownload)-1.6.2"><span class="toc-item-num">1.6.2&nbsp;&nbsp;</span>Federal RePORTER - Abstracts (<a href="https://federalreporter.nih.gov/FileDownload" target="_blank">https://federalreporter.nih.gov/FileDownload</a>)</a></span></li><li><span><a href="#IPEDS-data" data-toc-modified-id="IPEDS-data-1.6.3"><span class="toc-item-num">1.6.3&nbsp;&nbsp;</span>IPEDS data</a></span></li></ul></li><li><span><a href="#Filter-the-data" data-toc-modified-id="Filter-the-data-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Filter the data</a></span></li><li><span><a href="#Match-with-IPEDS-university-names" data-toc-modified-id="Match-with-IPEDS-university-names-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Match with IPEDS university names</a></span></li><li><span><a href="#Text-analysis-(Topic-modeling)" data-toc-modified-id="Text-analysis-(Topic-modeling)-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Text analysis (Topic modeling)</a></span><ul class="toc-item"><li><span><a href="#LDA-method---Latent-Dirichlet-Allocation" data-toc-modified-id="LDA-method---Latent-Dirichlet-Allocation-1.9.1"><span class="toc-item-num">1.9.1&nbsp;&nbsp;</span>LDA method - Latent Dirichlet Allocation</a></span></li><li><span><a href="#NMF-method---Non-negative-matrix-factorization" data-toc-modified-id="NMF-method---Non-negative-matrix-factorization-1.9.2"><span class="toc-item-num">1.9.2&nbsp;&nbsp;</span>NMF method - Non-negative matrix factorization</a></span></li><li><span><a href="#Choosing-results" data-toc-modified-id="Choosing-results-1.9.3"><span class="toc-item-num">1.9.3&nbsp;&nbsp;</span>Choosing results</a></span></li></ul></li><li><span><a href="#Variable-construction" data-toc-modified-id="Variable-construction-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Variable construction</a></span><ul class="toc-item"><li><span><a href="#Number-of-grants-per-university" data-toc-modified-id="Number-of-grants-per-university-1.10.1"><span class="toc-item-num">1.10.1&nbsp;&nbsp;</span>Number of grants per university</a></span></li><li><span><a href="#Top-5-topics-by-grants" data-toc-modified-id="Top-5-topics-by-grants-1.10.2"><span class="toc-item-num">1.10.2&nbsp;&nbsp;</span>Top 5 topics by grants</a></span></li><li><span><a href="#Top-5-topics-by-%dollars" data-toc-modified-id="Top-5-topics-by-%dollars-1.10.3"><span class="toc-item-num">1.10.3&nbsp;&nbsp;</span>Top 5 topics by %dollars</a></span></li></ul></li><li><span><a href="#Create-a-finalized-output-dataset" data-toc-modified-id="Create-a-finalized-output-dataset-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Create a finalized output dataset</a></span></li></ul></li></ul></div>

### Introduction

This notebook builds links between three datasets: 


1. **PatentsView** (www.patentsview.org) The PatentsView platform is built on data derived from the US Patent and Trademark Office (USPTO) bulk data to link inventors, their organizations, locations, and overall patenting activity.


2. **Federal RePORTER** (https://federalreporter.nih.gov) - a collaborative effort led by STAR METRICS® to create a searchable database of scientific awards from agencies (across agencies or fiscal years, by the award's project leader, or by a text search of a project's title, terms, or abstracts).


3. **IPEDS** (https://nces.ed.gov/ipeds/) IPEDS is the Integrated Postsecondary Education Data System, a system of interrelated surveys conducted annually by the U.S. Department of Education’s National Center for Education Statistics (NCES). IPEDS gathers information from every college, university, and technical and vocational institution that participates in the federal student financial aid programs on enrollments, program completions, graduation rates, faculty and staff, finances, institutional prices, and student financial aid.

------------------------------------------------------------

**Output file**

**Data dictionary**

Unit of observation: **university by year (from year 2000+)**

Variables: 
- **#unique_inventors** - number of unique inventors 
- **#female_inventors** - number of female inventors 
- **#patents** - total number of patents
- **#patents_w_govinterest** - total number of patents with government interest 
- **#joint_w_business** - total number of patents joint with businesses
- **top_5_ipc** - top 5 IPC classification categories
- **#grants** - total number of grants per university from 2000+
- **top_5_topics_by_grants** - top five topics by a grant share
- **top_5_topics_by_dollars** - top five topics by a dollar share

### Python Setup

In [2]:
# Data manipulation
import pandas as pd

# Optional: library for fuzzy matching of strings
import difflib

# Read in multiple files
import glob

# Display settings 
pd.set_option('float_format', '{:f}'.format)  # show full float numbers
pd.set_option('display.max_colwidth', -1)  # show full cells

# Text preprocessing and analysis (topic modeling)
import numpy as np
import sklearn
from sklearn.decomposition import NMF, LatentDirichletAllocation
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import string  
string.punctuation  # a list of punctuation, special symbols

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

# 1 Link PatentsView and IPEDS data

## Load the data

In [3]:
# PatentsView files

assignee = pd.read_csv('assignee.tsv', sep='\t') # unique assignee IDs
location_assignee = pd.read_csv('location_assignee.tsv', sep='\t') # crosswalk file with location and assignee IDs
location = pd.read_csv('location.tsv', sep='\t') # unique location id and associated city, state, country, etc.
patent_assignee = pd.read_csv('patent_assignee.tsv',sep='\t') # crosswalk between patent and assignee files
government_interest = pd.read_csv('government_interest.tsv',sep='\t') # mapping of patent numbers to raw government interest text
application = pd.read_csv('application.tsv',sep='\t') # information on the applications for granted patent
patent_inventor = pd.read_csv('patent_inventor.tsv',sep='\t') # crosswalk between patent and inventor tables
inventor_gender = pd.read_csv('inventor_gender.tsv',sep='\t') # inventor gender data
ipcr = pd.read_csv('ipcr.tsv',sep='\t') # International Patent Classification

# IPEDS file
ipeds = pd.read_csv('IPEDS.csv',encoding='ISO-8859-1')

/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
result = list(set(patent_inventor.patent_id.unique()) - set(patent_assignee.patent_id.unique()))

In [9]:
len(result)

6391481

In [10]:
patent_inventor.patent_id.nunique()

6914898

In [11]:
6914898 - 6391481

523417

## Record linkage

### Merge location and assignee files

In [17]:
"""Look at the ASSIGNEE dataset description. We are interested in organization names to merge IPEDS university
names on the names in the ASSIGNEE dataset. ORGANIZATION variable in this dataset has organization names.
There are less organization names known than assignees:
504,012 - ASSIGNEE_ID
456,776 - ORGANIZATION"""

assignee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504012 entries, 0 to 504011
Data columns (total 5 columns):
id              504012 non-null object
type            504011 non-null float64
name_first      47233 non-null object
name_last       47234 non-null object
organization    456776 non-null object
dtypes: float64(1), object(4)
memory usage: 19.2+ MB

In [18]:
"""Drop those row which do not have organization names."""

assignee = assignee[~assignee['organization'].isnull()]

In [19]:
"""Now the dataset only has assignees which have organization names."""

assignee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456776 entries, 0 to 456775
Data columns (total 5 columns):
id              456776 non-null object
type            456776 non-null float64
name_first      0 non-null object
name_last       0 non-null object
organization    456776 non-null object
dtypes: float64(1), object(4)
memory usage: 20.9+ MB

In [20]:
"""Look at the LOCATION_ASSIGNEE dataset description. We can use location to filter by assignees in the United States,
as we know that IPEDS university file contains United States universities.
In this dataset there are less LOCATION_IDs known than ASSIGNEE_IDs:
648,514 - ASSIGNEE_ID
646,919 - LOCATION_ID""" 

location_assignee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648514 entries, 0 to 648513
Data columns (total 2 columns):
location_id    646919 non-null object
assignee_id    648514 non-null object
dtypes: object(2)
memory usage: 9.9+ MB

In [21]:
"""Check how many locations can be associated with a given assignee.
Group by a given assignee, count the locations associated with a given assignee, and
see the unique values. There can be more than 1 location associated with a given assignee."""

location_assignee.groupby('assignee_id')['location_id'].count().unique()

array([  1,   3,   2,  10,   5,   4,   6,   7,  17,   8,  16,  13,   0,
         9,  11,  14,  12,  15,  31,  44,  43,  19,  21,  25,  32,  18,
        20,  37,  42,  24,  34,  49,  22,  29,  30,  53,  23,  65, 116,
        27,  57,  54,  39,  26,  28,  64,  55,  36,  41,  45,  35])

In [22]:
"""Merge on a common column containing assignee id: ID in ASSIGNEE and ASSIGNEE_ID in 
LOCATION_ASSIGNEE."""

merged_location_assignee = pd.merge(left=location_assignee,right=assignee, on=None,
                                    left_on='assignee_id',right_on='id')

"""Keep only needed columns"""
merged_location_assignee = merged_location_assignee[['location_id','assignee_id','organization']]

"""View the merged dataframe"""
merged_location_assignee.head()

    location_id                               assignee_id      organization
0  q8wc2x1ryasb  org_00054e2c-8d76-4e86-92d7-c3268e32438c  Sermeta
1  ny17xyn10k3d  org_0006dUf10fyaGu141Xsy                  Uber Co., Ltd.
2  qcj7zhcco1lm  org_000U7wc7DxrKo9M7gNOr                  I/P Engine, Inc.
3  symng222vxqi  org_00181b00-a087-4314-8a91-a78203517001  INTAP
4  v11nqt9ynpgb  org_0018ff04-6dba-4345-ace4-d0f170a30d87  WJRJ

In [23]:
"""Look at the merged dataset description. We have more ORGANIZATION name records (598,094) than 
before (456,776), which could be the duplicates, as one assignee can have multiple associated 
locations."""

merged_location_assignee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 598094 entries, 0 to 598093
Data columns (total 3 columns):
location_id     596547 non-null object
assignee_id     598094 non-null object
organization    598094 non-null object
dtypes: object(3)
memory usage: 18.3+ MB

In [24]:
"""Check the number of unique organization names. There are slightly less organization names
in this dataset (456,073) than before (456,776). 703 assignees were not found in 
the LOCATION_ASSIGNEE file."""

merged_location_assignee.organization.nunique()

456073

### Merge with location ID and filter by country ("US")

In [25]:
"""Look at the dataset description. We will merge this dataset on the LOCATION_ID with the 
dataset above to find out the associated location information with the location id. 
We are interested in the COUNTRY and STATE variable to filter by the United States assignees and
validate the data."""

location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137687 entries, 0 to 137686
Data columns (total 9 columns):
id             137687 non-null object
city           137565 non-null object
state          37654 non-null object
country        137687 non-null object
latitude       137687 non-null float64
longitude      137687 non-null float64
county         20847 non-null object
state_fips     137687 non-null int64
county_fips    137687 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 9.5+ MB

In [26]:
"""Merge on common column containing location_id: ID in LOCATION and LOCATION_ID in 
MERGED_LOCATION_ASSIGNEE"""

merged_assignee = pd.merge(left=location,right=merged_location_assignee, on=None,
                          left_on='id', right_on='location_id')

"""Keep only the needed columns."""
merged_assignee = merged_assignee[['state','country','assignee_id','organization','location_id']]
merged_assignee.head()

,state,country,assignee_id,organization,location_id
0,NaN,JP,org_0Adc4mfbmiYCpSr8q3jH,Toyooki Kogyo Kabushiki Kaisha,bfy03xoykgui
1,NaN,JP,org_6ohiYFQUje6OvPzby4VM,"Maeda Shell Service Co., Ltd.",bfy03xoykgui
2,NaN,JP,org_714dR5p9M1UWFw44LOE7,Toyoda Van Moppes Ltd.,bfy03xoykgui
3,NaN,JP,org_9MrVSbz6jPBqlVxmUf61,Japan as represented by Director of General of Okazaki National Research Institute,bfy03xoykgui
4,NaN,JP,org_9y6vRfBOr1754BBHZlII,Banno Kogyo Kabushiki Kaisha,bfy03xoykgui

In [27]:
"""Check all unique country names to find the United States. There is an abbrevation US."""

merged_assignee.country.unique()

array(['JP', 'GB', 'CH', 'TH', 'US', 'TW', 'DE', 'NL', 'FR', 'SW', 'AT',
       'NO', 'EN', 'IE', 'IT', 'HU', 'IN', 'MY', 'IL', 'AU', 'CN', 'KR',
       'PE', 'CA', 'ID', 'ES', 'RU', 'DK', 'ZA', 'MX', 'SE', 'PL', 'GI',
       'DT', 'SI', 'LK', 'WV', 'BR', 'JA', 'LT', 'HK', 'BE', 'FI', 'BG',
       'NZ', 'DD', 'SU', 'IR', 'YU', 'CS', 'NR', 'AZ', 'SG', 'PT', 'GR',
       'un', 'LU', 'MC', 'CZ', 'AR', 'FL', 'SA', 'TR', 'TX', 'BM', 'VE',
       'OE', 'BY', 'CL', 'LB', 'HR', 'SM', 'UA', 'PG', 'MK', 'BO', 'LI',
       'SF', 'WA', 'EP', 'EC', 'ML', 'CU', 'CO', 'MA', 'JM', 'SC', 'KS',
       'PY', 'BS', 'VG', 'PH', 'NG', 'KY', 'PR', 'LV', 'AI', 'TK', 'PK',
       'AE', 'SK', 'AM', 'KW', 'MH', 'CE', 'GT', 'BN', 'DL', 'BD', 'BH',
       'BA', 'CY', 'TT', 'JO', 'TN', 'CM', 'GG', 'NE', 'GE', 'BB', 'EE',
       'CT', 'EI', 'LR', 'VN', 'TC', 'IS', 'CR', 'QA', 'IM', 'PM', 'AO',
       'PO', 'VU', 'MG', 'PA', 'MI', 'EG', 'KZ', 'PF', 'MO', 'RO', 'AN',
       'UY', 'MT', 'AG', 'WI', 'AD', 'DO', 'SV', 'HN', 'IQ', 'CI', 'CK',
       'BW', 'OM', 'TD', 'GU', 'KN', 'DZ', 'HT', 'SL', 'ME', 'RS', 'NM',
       'MU', 'DM', 'KE', 'NH', 'FO', 'RH', 'GA', 'BZ', 'VA', 'GP', 'BF',
       'ZW', 'GY', 'AW', 'UZ', 'WS', 'BV', 'TG', 'MM', 'JE', 'AL', 'KP',
       'IO', 'SN', 'VC', 'FK', 'GC', 'LA', 'LC', 'NV', 'YE', 'UG', 'BU'],
      dtype=object)

In [28]:
"""Filter by the 'US' in the COUNTRY column."""

merged_assignee_filtered = merged_assignee[merged_assignee['country'] == 'US']
merged_assignee_filtered.head()

,state,country,assignee_id,organization,location_id
12721,CA,US,org_9gbxlFYDdz6sTZtvnhCX,United States Steel Corporation,ynzrfuok33o5
12722,CA,US,org_iv72dHbRItbvdHxgK3kB,"BioZone Laboratories, Inc.",ynzrfuok33o5
12723,CA,US,org_LPa0Kl9nAxFKX577TVVo,"Biozibe Laboratories, Inc.",ynzrfuok33o5
12724,CA,US,org_mxfZ1NN4vezAZ8hJLCCn,Bishop-Wisecarver Corporation,ynzrfuok33o5
12725,CA,US,org_Pd2V6MSVzPOPRgWAvXuI,Calgon Corporation,ynzrfuok33o5

In [29]:
"""Check whether all states associated with the US are valid."""

states = merged_assignee_filtered.state.unique() # get unique states from the dataframe

list_states = ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL','GA','GU','HI','ID','IL','IN','IA','KS',
'KY','LA','ME','MD','MH','MA','MI','FM','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY']
# get the known list of abbreviations for US states and territories

list(set(states) - set(list_states)) # compare the difference between two lists

[nan, 'UM', 'AA', 'JP', 'NB']

In [30]:
len(merged_assignee_filtered[merged_assignee_filtered['state'].isnull()]) 
# checking how many records do not have state listed

762

In [31]:
"""We find the following information:
nan - 802 records do not have state listed
UM - U.S. Minor Outlying Islands
NB - A former abbreviation code for Nebraska (now it is NE)
AA - U.S. Armed Forces – Americas
JP is an error, there is no such state or territory associted with the United States"""

'We find the following information:\nnan - 802 records do not have state listed\nUM - U.S. Minor Outlying Islands\nNB - A former abbreviation code for Nebraska (now it is NE)\nAA - U.S. Armed Forces – Americas\nJP is an error, there is no such state or territory associted with the United States'

In [32]:
"""There is only one record with JP."""
merged_assignee_filtered[merged_assignee_filtered['state'] == 'JP']

,state,country,assignee_id,organization,location_id
551597,JP,US,org_tTnLqYNs1lwyq9d7LA4S,"Takashimaya Nippatsy Kogyo Co., Ltd.",izcs2yxzkmcm

In [33]:
"""We remove the JP from the dataframe."""

merged_assignee_finalized = merged_assignee_filtered[merged_assignee_filtered['state'] != 'JP']

In [34]:
"""Now we have 274,214 organization names listed in the United States."""

merged_assignee_finalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274214 entries, 12721 to 558512
Data columns (total 5 columns):
state           273452 non-null object
country         274214 non-null object
assignee_id     274214 non-null object
organization    274214 non-null object
location_id     274214 non-null object
dtypes: object(5)
memory usage: 12.6+ MB

In [35]:
"""Among those, 230,047 organization names are unique."""

merged_assignee_finalized.organization.nunique()

230047

In [36]:
"""Some assignees have multiple associated locations."""

merged_assignee_finalized.groupby('assignee_id')['location_id'].count().unique()

array([ 1,  3,  2,  7,  5,  4, 13,  6, 10,  8,  9, 15, 19, 11, 12, 37, 18,
       22, 17, 81, 16, 14, 27, 34, 24, 35, 36, 21])

### Merge with patent_assignee

In [37]:
"""Check the dataset description."""

patent_assignee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6163970 entries, 0 to 6163969
Data columns (total 2 columns):
patent_id      object
assignee_id    object
dtypes: object(2)
memory usage: 94.1+ MB

In [38]:
"""Merge on a common column containing assignee id."""

merged_patent_assignee = pd.merge(left=patent_assignee,right=merged_assignee_finalized, 
                                  on='assignee_id')
merged_patent_assignee.head()

,patent_id,assignee_id,state,country,organization,location_id
0,5856666,org_6swO9pOeuJWANlfOE5mf,NY,US,U.S. Philips Corporation,ths6bmxbfgre
1,5856666,org_6swO9pOeuJWANlfOE5mf,NY,US,U.S. Philips Corporation,726a2siloa8w
2,5856666,org_6swO9pOeuJWANlfOE5mf,MA,US,U.S. Philips Corporation,hzx6s7d71iaj
3,5856666,org_6swO9pOeuJWANlfOE5mf,NY,US,U.S. Philips Corporation,dbpqy0bgug9d
4,5856666,org_6swO9pOeuJWANlfOE5mf,NaN,US,U.S. Philips Corporation,453ex4jkm5xc

In [39]:
"Check the dataset description."

merged_patent_assignee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26478304 entries, 0 to 26478303
Data columns (total 6 columns):
patent_id       object
assignee_id     object
state           object
country         object
organization    object
location_id     object
dtypes: object(6)
memory usage: 1.4+ GB

In [40]:
"""Check the number of unique organization names - it is the same number as before."""

merged_patent_assignee.organization.nunique()

230047

### Merge with government interest file and create a dummy (0,1) for government interest

In [41]:
"""Check the dataset description."""

government_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139237 entries, 0 to 139236
Data columns (total 2 columns):
patent_id       139237 non-null object
gi_statement    139237 non-null object
dtypes: object(2)
memory usage: 2.1+ MB

In [42]:
government_interest.head(1)

,patent_id,gi_statement
0,10000026,This invention was made with Government support under contract number DE-FG36-08GO18135 awarded by the United States Department of Energy. The government has certain rights in this invention.

In [43]:
"""Merge on a common column containing patent ids, preserving patents that don't have
government interest."""

patent_assignee_interest = pd.merge(left=merged_patent_assignee,right=government_interest, 
                                    on='patent_id', how='left')

In [44]:
"""Check that the number of unique organization names stayed the same."""

patent_assignee_interest.organization.nunique()

230047

In [45]:
"""Fill NaN values with 0."""

patent_assignee_interest = patent_assignee_interest.fillna(0)

In [46]:
"""Create a dummy variable: if a patent has government interest = 1, if not = 0."""

patent_assignee_interest['government_interest'] = (patent_assignee_interest['gi_statement'] != 0).astype(int)

In [47]:
"""Check that the values are either 1 or 0."""

patent_assignee_interest['government_interest'].unique()

array([0, 1])

In [48]:
"""Check that the number of unique organization names is the same."""

patent_assignee_interest.organization.nunique()

230047

### Load application file and extract year from the "date" field

In [49]:
"""Check the dataset description."""

application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6915759 entries, 0 to 6915758
Data columns (total 6 columns):
id             object
patent_id      object
series_code    object
number         object
country        object
date           object
dtypes: object(6)
memory usage: 316.6+ MB

In [50]:
"""Merge on a common column containing patent ids."""
patent_assignee_interest_application = pd.merge(left=patent_assignee_interest,right=application,
                                                on='patent_id')

"""Keep only the needed columns."""
patent_assignee_interest_application = patent_assignee_interest_application[['patent_id','assignee_id','organization','government_interest','date']]

In [51]:
"""Extract year from the date column."""

patent_assignee_interest_application['date'] = pd.to_datetime(patent_assignee_interest_application['date'], 
                                                              errors='coerce')
patent_assignee_interest_application['year'] = patent_assignee_interest_application['date'].dt.year
patent_assignee_interest_application = patent_assignee_interest_application.drop('date',axis=1)
patent_assignee_interest_application.head()

,patent_id,assignee_id,organization,government_interest,year
0,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.000000
1,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.000000
2,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.000000
3,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.000000
4,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.000000

In [52]:
"""Now that the LOCATION_ID column is not there (which used to differentiate
between different assignee rows), we can drop the duplicates."""

patent_assignee_interest_application = patent_assignee_interest_application.drop_duplicates()

In [53]:
patent_assignee_interest_application.head()

,patent_id,assignee_id,organization,government_interest,year
0,5856666,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1996.000000
8,4527017,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1980.000000
16,6339671,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.000000
24,5275163,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1992.000000
32,4803559,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,1987.000000

### Filter the finalized dataframe for years from 2000+

In [54]:
finalized_dataframe = patent_assignee_interest_application[patent_assignee_interest_application['year'] >= 2000]
finalized_dataframe.head()

,patent_id,assignee_id,organization,government_interest,year
16,6339671,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.000000
672,8228939,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.000000
680,8228939,org_LMhqUwxLfu0m5GTIRqMY,Sharp Kabushiki Kaisha,0,2000.000000
954,6348779,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.000000
1002,6388644,org_6swO9pOeuJWANlfOE5mf,U.S. Philips Corporation,0,2000.000000

### Merge with IPEDS file

In [55]:
"""Check the dataset description."""

ipeds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7153 entries, 0 to 7152
Data columns (total 4 columns):
UNITID    7153 non-null int64
INSTNM    7153 non-null object
IALIAS    7153 non-null object
STABBR    7153 non-null object
dtypes: int64(1), object(3)
memory usage: 223.6+ KB

In [56]:
"""Normalize university names before merging with assignee and patent file: lowercase, 
remove white space, remove punctuation/special symbols."""

def normalize_names(name):
    name = name.lower() # lowercase
    name = name.strip() # remove trailing white space
    for i in string.punctuation:
        name = name.replace(i,'') # remove punctuation and special symbols
    name = name.replace(' ','') # remove all white space
    return name

"""Apply normalization function to university and organization names."""

finalized_dataframe['organization'] = finalized_dataframe['organization'].apply(normalize_names)
ipeds['INSTNM'] = ipeds['INSTNM'].apply(normalize_names)

/home/ekaterina/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [57]:
"""Merge on a common column containing names."""

merged_ipeds_patents = pd.merge(left=ipeds,right=finalized_dataframe,
                                left_on='INSTNM',right_on='organization')

merged_ipeds_patents.head()

,UNITID,INSTNM,IALIAS,STABBR,patent_id,assignee_id,organization,government_interest,year
0,100654,alabamaamuniversity,AAMU,AL,6999221,org_agpbfFe0HQ59qCPZF1GH,alabamaamuniversity,0,2003.000000
1,100654,alabamaamuniversity,AAMU,AL,9795634,org_agpbfFe0HQ59qCPZF1GH,alabamaamuniversity,0,2016.000000
2,100706,universityofalabamainhuntsville,UAH |University of Alabama Huntsville,AL,9182228,org_tgWZGEfsbc3WWgsU6KAV,universityofalabamainhuntsville,1,2006.000000
3,100706,universityofalabamainhuntsville,UAH |University of Alabama Huntsville,AL,8735844,org_tgWZGEfsbc3WWgsU6KAV,universityofalabamainhuntsville,1,2013.000000
4,100706,universityofalabamainhuntsville,UAH |University of Alabama Huntsville,AL,8706178,org_tgWZGEfsbc3WWgsU6KAV,universityofalabamainhuntsville,0,2006.000000

In [58]:
"""Check the number of matched IPEDS organizations."""

merged_ipeds_patents.organization.nunique()

289

In [59]:
patent_universities = merged_ipeds_patents

"""Keep only needed columns."""
patent_universities = patent_universities[['UNITID','assignee_id','government_interest','organization','patent_id','year']]

## Variable construction

### Number of patents joint with business (#joint_w_business)

In [60]:
"""To find assignees which are businesses, filter the patents dataframe by assignees 
who do not have universities IDs."""

university_ids = patent_universities['assignee_id'].values.tolist()
patent_business = finalized_dataframe[~finalized_dataframe['assignee_id'].isin(university_ids)]

In [61]:
"""Check the number of organization names in the business category."""

patent_business.organization.nunique()

133862

In [62]:
"""Merge on a common patent_id number."""

merged_business_university = pd.merge(left=patent_business,right=patent_universities,
                                      on='patent_id')

In [63]:
"""Drop duplicates."""

merged_business_university = merged_business_university.drop_duplicates()

In [64]:
"""Group by a university and year and count the number of patents joint with businesses."""

joint_with_business = merged_business_university.groupby(['UNITID','organization_y','year_y'])['patent_id'].count().reset_index()

In [65]:
"""Convert float to integer in a YEAR column."""

joint_with_business['year_y'] = joint_with_business['year_y'].astype(int)

In [66]:
"""Create a balanced panel dataset."""

joint_w_business_balanced = (joint_with_business.set_index('year_y',append=True)
                 .reindex(pd.MultiIndex.from_product([joint_with_business.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

joint_w_business_balanced['UNITID'] = joint_w_business_balanced.groupby(level=0)['UNITID'].ffill().bfill()
joint_w_business_balanced['organization_y'] = joint_w_business_balanced.groupby(level=0)['organization_y'].ffill().bfill()
joint_w_business_balanced['patent_id'] = joint_w_business_balanced['patent_id'].fillna(0)

joint_w_business_balanced = joint_w_business_balanced.rename(columns={'organization_y':'university','patent_id':'#joint_w_business'})

joint_w_business_balanced_deduplicated = joint_w_business_balanced.drop_duplicates(subset=['year','UNITID','university'])

joint_with_business = joint_with_business.rename(columns={'organization_y':'university','year_y':'year','patent_id':'#joint_w_business'})

joint_w_business_finalized = joint_with_business.merge(joint_w_business_balanced_deduplicated, on=['UNITID','year','university'],
                         how='right')

joint_w_business_finalized = joint_w_business_finalized.drop('#joint_w_business_y',axis=1)

joint_w_business_finalized = joint_w_business_finalized.fillna(0)

joint_w_business_finalized = joint_w_business_finalized.sort_values(['university','year'])
joint_w_business_finalized = joint_w_business_finalized.rename(columns={'#joint_w_business_x':'#joint_w_business'})

### Total number of patents (#patents)

In [67]:
"""Group by a university and year and count the number of total patents since 2000."""

number_patents = patent_universities.groupby(['UNITID','organization','year'])['patent_id'].count().reset_index()

In [68]:
"""Create a balanced panel dataset."""

number_patents['year'] = number_patents['year'].astype(int)  # convert float to integer

number_patents_balanced = (number_patents.set_index('year',append=True)
                 .reindex(pd.MultiIndex.from_product([number_patents.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

number_patents_balanced['UNITID'] = number_patents_balanced.groupby(level=0)['UNITID'].ffill().bfill()
number_patents_balanced['organization'] = number_patents_balanced.groupby(level=0)['organization'].ffill().bfill()
number_patents_balanced['patent_id'] = number_patents_balanced['patent_id'].fillna(0)

In [69]:
number_patents_balanced_deduplicated = number_patents_balanced.drop_duplicates(subset=['year','UNITID','organization'])

number_patents_finalized = number_patents.merge(number_patents_balanced_deduplicated, on=['UNITID','year','organization'],
                         how='right')

number_patents_finalized = number_patents_finalized.drop('patent_id_y',axis=1)

number_patents_finalized = number_patents_finalized.fillna(0)

number_patents_finalized = number_patents_finalized.sort_values(['organization','year'])

number_patents_finalized[number_patents_finalized['organization'] == 'universityofalabamainhuntsville']

      UNITID                     organization  year  patent_id_x
2     100706  universityofalabamainhuntsville  2000 1.000000
3     100706  universityofalabamainhuntsville  2001 1.000000
4     100706  universityofalabamainhuntsville  2002 5.000000
5     100706  universityofalabamainhuntsville  2003 3.000000
6     100706  universityofalabamainhuntsville  2004 2.000000
2039  100706  universityofalabamainhuntsville  2005 0.000000
7     100706  universityofalabamainhuntsville  2006 2.000000
8     100706  universityofalabamainhuntsville  2007 3.000000
9     100706  universityofalabamainhuntsville  2008 1.000000
2040  100706  universityofalabamainhuntsville  2009 0.000000
10    100706  universityofalabamainhuntsville  2010 1.000000
11    100706  universityofalabamainhuntsville  2011 4.000000
12    100706  universityofalabamainhuntsville  2012 3.000000
13    100706  universityofalabamainhuntsville  2013 2.000000
14    100706  universityofalabamainhuntsville  2014 6.000000
15    100706  universityofalabamainhuntsville  2015 4.000000
16    100706  universityofalabamainhuntsville  2016 4.000000
17    100706  universityofalabamainhuntsville  2017 2.000000
2041  100706  universityofalabamainhuntsville  2018 0.000000

In [70]:
number_patents_finalized = number_patents_finalized.rename(columns={'organization':'university','patent_id_x':'#patents'})

In [71]:
number_patents_finalized.head()

      UNITID         university  year  #patents
3867  188429  adelphiuniversity  2000 0.000000
3868  188429  adelphiuniversity  2001 0.000000
3869  188429  adelphiuniversity  2002 0.000000
3870  188429  adelphiuniversity  2003 0.000000
3871  188429  adelphiuniversity  2004 0.000000

### Number of patents with government interest (#govinterest)

In [72]:
"""Subset dataframe by those patents with government interest."""

with_govinterest = patent_universities[patent_universities['government_interest'] == 1]

In [73]:
"""Group by a university and count the total number of patents with government interest."""

with_govinterest = with_govinterest.groupby(['UNITID','organization','year'])['patent_id'].count().reset_index()

In [74]:
with_govinterest.head()

   UNITID                     organization        year  patent_id
0  100706  universityofalabamainhuntsville 2002.000000  3
1  100706  universityofalabamainhuntsville 2003.000000  2
2  100706  universityofalabamainhuntsville 2004.000000  1
3  100706  universityofalabamainhuntsville 2006.000000  1
4  100706  universityofalabamainhuntsville 2007.000000  1

In [75]:
with_govinterest['year'] = with_govinterest['year'].astype(int)
with_govinterest_balanced = (with_govinterest.set_index('year',append=True)
                 .reindex(pd.MultiIndex.from_product([with_govinterest.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

with_govinterest_balanced['UNITID'] = with_govinterest_balanced.groupby(level=0)['UNITID'].ffill().bfill()
with_govinterest_balanced['organization'] = with_govinterest_balanced.groupby(level=0)['organization'].ffill().bfill()
with_govinterest_balanced['patent_id'] = with_govinterest_balanced['patent_id'].fillna(0)

with_govinterest_balanced_deduplicated = with_govinterest_balanced.drop_duplicates(subset=['year','UNITID','organization'])

with_govinterest_finalized = with_govinterest.merge(with_govinterest_balanced_deduplicated, on=['UNITID','year','organization'],
                         how='right')

with_govinterest_finalized = with_govinterest_finalized.drop('patent_id_y',axis=1)

with_govinterest_finalized = with_govinterest_finalized.fillna(0)

with_govinterest_finalized = with_govinterest_finalized.sort_values(['organization','year'])

with_govinterest_finalized[with_govinterest_finalized['organization'] == 'universityofalabamainhuntsville']

      UNITID                     organization  year  patent_id_x
1313  100706  universityofalabamainhuntsville  2000 0.000000
1314  100706  universityofalabamainhuntsville  2001 0.000000
0     100706  universityofalabamainhuntsville  2002 3.000000
1     100706  universityofalabamainhuntsville  2003 2.000000
2     100706  universityofalabamainhuntsville  2004 1.000000
1315  100706  universityofalabamainhuntsville  2005 0.000000
3     100706  universityofalabamainhuntsville  2006 1.000000
4     100706  universityofalabamainhuntsville  2007 1.000000
1316  100706  universityofalabamainhuntsville  2008 0.000000
1317  100706  universityofalabamainhuntsville  2009 0.000000
5     100706  universityofalabamainhuntsville  2010 1.000000
6     100706  universityofalabamainhuntsville  2011 1.000000
7     100706  universityofalabamainhuntsville  2012 3.000000
8     100706  universityofalabamainhuntsville  2013 1.000000
9     100706  universityofalabamainhuntsville  2014 2.000000
10    100706  universityofalabamainhuntsville  2015 1.000000
1318  100706  universityofalabamainhuntsville  2016 0.000000
11    100706  universityofalabamainhuntsville  2017 1.000000
1319  100706  universityofalabamainhuntsville  2018 0.000000

In [76]:
with_govinterest_finalized = with_govinterest_finalized.rename(columns={'organization':'university','patent_id_x':'#govinterest'})

In [77]:
with_govinterest_finalized.head()

      UNITID              university  year  #govinterest
1320  100724  alabamastateuniversity  2000 0.000000
1321  100724  alabamastateuniversity  2001 0.000000
1322  100724  alabamastateuniversity  2002 0.000000
1323  100724  alabamastateuniversity  2003 0.000000
1324  100724  alabamastateuniversity  2004 0.000000

### Number of female inventors (#female_inventors)

In [78]:
"""Check the dataset description."""

patent_inventor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16515750 entries, 0 to 16515749
Data columns (total 2 columns):
patent_id      object
inventor_id    object
dtypes: object(2)
memory usage: 252.0+ MB

In [79]:
patent_inventor.groupby('patent_id')['inventor_id'].count().unique()

array([ 1,  2,  4,  3, 10,  6,  8, 14, 11,  5,  9,  7, 12, 13, 16, 18, 24,
       15, 21, 25, 17, 19, 20, 27, 22, 26, 23, 34, 28, 32, 33, 29, 30, 41,
       38, 31, 51, 37, 36, 60, 76, 40, 43, 65, 53, 63, 39, 61, 42, 44])

In [80]:
"""Not all university patents are in the PATENT_INVENTOR dataset."""

patents_university = patent_universities.patent_id.unique()
patents_full = patent_inventor.patent_id.unique()

patents_university in patents_full

/home/ekaterina/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

False

In [81]:
"""1,746 university patents are not in PATENT_INVENTOR dataset."""

results = list(set(patents_university) - set(patents_full))
len(patents_university) - len(results)

616

In [82]:
"""Merge university patent data with PATENT_INVENTOR."""

assignee_inventor = pd.merge(left=patent_universities,right=patent_inventor, 
                             on='patent_id')

In [83]:
"""158 universities have data on associated inventors."""

assignee_inventor.organization.nunique()

90

In [84]:
"""Check the dataset description."""

inventor_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2335017 entries, 0 to 2335016
Data columns (total 4 columns):
disamb_inventor_id_20170808    object
disamb_inventor_id_20181127    object
disamb_inventor_id_20190312    object
male                           object
dtypes: object(4)
memory usage: 71.3+ MB

In [85]:
"""Merge with INVENTOR_GENDER. Use the latest version of disambiguation - 
disamb_inventor_id_20190312."""

assignee_inventor_gender = pd.merge(left=assignee_inventor,right=inventor_gender, 
                                    left_on='inventor_id',right_on='disamb_inventor_id_20190312')

In [86]:
"""Subset by those rows where "male" == 0 (or "female")."""
female_inventors = assignee_inventor_gender[assignee_inventor_gender['male'] == 0]

"""Group by a university and count the number of female inventors."""
female_inventors = female_inventors.groupby(['UNITID','organization','year'])['male'].count().reset_index()

In [87]:
female_inventors.head()

   UNITID                     organization        year  male
0  100858  auburnuniversity                2008.000000  2
1  100858  auburnuniversity                2010.000000  2
2  100858  auburnuniversity                2011.000000  1
3  110404  californiainstituteoftechnology 2002.000000  3
4  110404  californiainstituteoftechnology 2008.000000  1

In [88]:
female_inventors['year'] = female_inventors['year'].astype(int)
female_inventors_balanced = (female_inventors.set_index('year',append=True)
                 .reindex(pd.MultiIndex.from_product([female_inventors.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

In [89]:
female_inventors_balanced['UNITID'] = female_inventors_balanced.groupby(level=0)['UNITID'].ffill().bfill()
female_inventors_balanced['organization'] = female_inventors_balanced.groupby(level=0)['organization'].ffill().bfill()
female_inventors_balanced['male'] = female_inventors_balanced['male'].fillna(0)

In [90]:
female_inventors_balanced_deduplicated = female_inventors_balanced.drop_duplicates(subset=['year','UNITID','organization'])

female_inventors_finalized = female_inventors.merge(female_inventors_balanced_deduplicated, on=['UNITID','year','organization'],
                         how='right')

female_inventors_finalized = female_inventors_finalized.drop('male_y',axis=1)

female_inventors_finalized = female_inventors_finalized.fillna(0)

female_inventors_finalized = female_inventors_finalized.sort_values(['organization','year'])

female_inventors_finalized[female_inventors_finalized['organization'] == 'auburnuniversity']

     UNITID      organization  year   male_x
89   100858  auburnuniversity  2000 0.000000
90   100858  auburnuniversity  2001 0.000000
91   100858  auburnuniversity  2002 0.000000
92   100858  auburnuniversity  2003 0.000000
93   100858  auburnuniversity  2004 0.000000
94   100858  auburnuniversity  2005 0.000000
95   100858  auburnuniversity  2006 0.000000
96   100858  auburnuniversity  2007 0.000000
0    100858  auburnuniversity  2008 2.000000
97   100858  auburnuniversity  2009 0.000000
1    100858  auburnuniversity  2010 2.000000
2    100858  auburnuniversity  2011 1.000000
98   100858  auburnuniversity  2012 0.000000
99   100858  auburnuniversity  2013 0.000000
100  100858  auburnuniversity  2014 0.000000
101  100858  auburnuniversity  2015 0.000000
102  100858  auburnuniversity  2016 0.000000
103  100858  auburnuniversity  2017 0.000000
104  100858  auburnuniversity  2018 0.000000

In [91]:
female_inventors_finalized = female_inventors_finalized.rename(columns={'organization':'university','male_x':'#female_inventors'})

### Number of unique inventors (#unique_inventors)

In [92]:
"""Group by a university and count number of unique inventor IDs."""
unique_inventors = assignee_inventor.groupby(['UNITID','organization','year'])['inventor_id'].nunique().reset_index()

unique_inventors['year'] = unique_inventors['year'].astype(int)
unique_inventors_balanced = (unique_inventors.set_index('year',append=True)
                 .reindex(pd.MultiIndex.from_product([unique_inventors.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

unique_inventors_balanced['UNITID'] = unique_inventors_balanced.groupby(level=0)['UNITID'].ffill().bfill()
unique_inventors_balanced['organization'] = unique_inventors_balanced.groupby(level=0)['organization'].ffill().bfill()
unique_inventors_balanced['inventor_id'] = unique_inventors_balanced['inventor_id'].fillna(0)

In [93]:
unique_inventors.head()

   UNITID                     organization  year  inventor_id
0  100706  universityofalabamainhuntsville  2015  2
1  100706  universityofalabamainhuntsville  2016  1
2  100706  universityofalabamainhuntsville  2017  1
3  100858  auburnuniversity                 2008  8
4  100858  auburnuniversity                 2010  11

In [94]:
unique_inventors_balanced_deduplicated = unique_inventors_balanced.drop_duplicates(subset=['year','UNITID','organization'])

unique_inventors_finalized = unique_inventors.merge(unique_inventors_balanced_deduplicated, on=['UNITID','year','organization'],
                         how='right')

unique_inventors_finalized = unique_inventors_finalized.drop('inventor_id_y',axis=1)

unique_inventors_finalized = unique_inventors_finalized.fillna(0)

unique_inventors_finalized = unique_inventors_finalized.sort_values(['organization','year'])

unique_inventors_finalized[unique_inventors_finalized['organization'] == 'universityofalabamainhuntsville']

     UNITID                     organization  year  inventor_id_x
293  100706  universityofalabamainhuntsville  2000 0.000000
294  100706  universityofalabamainhuntsville  2001 0.000000
295  100706  universityofalabamainhuntsville  2002 0.000000
296  100706  universityofalabamainhuntsville  2003 0.000000
297  100706  universityofalabamainhuntsville  2004 0.000000
298  100706  universityofalabamainhuntsville  2005 0.000000
299  100706  universityofalabamainhuntsville  2006 0.000000
300  100706  universityofalabamainhuntsville  2007 0.000000
301  100706  universityofalabamainhuntsville  2008 0.000000
302  100706  universityofalabamainhuntsville  2009 0.000000
303  100706  universityofalabamainhuntsville  2010 0.000000
304  100706  universityofalabamainhuntsville  2011 0.000000
305  100706  universityofalabamainhuntsville  2012 0.000000
306  100706  universityofalabamainhuntsville  2013 0.000000
307  100706  universityofalabamainhuntsville  2014 0.000000
0    100706  universityofalabamainhuntsville  2015 2.000000
1    100706  universityofalabamainhuntsville  2016 1.000000
2    100706  universityofalabamainhuntsville  2017 1.000000
308  100706  universityofalabamainhuntsville  2018 0.000000

In [95]:
unique_inventors_finalized = unique_inventors_finalized.rename(columns={'organization':'university','inventor_id_x':'#unique_inventors'})

### Top IPC classification categories

In [96]:
"""Check the dataset description. This dataset provides information on IPC classification 
categories of patents."""

ipcr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14325388 entries, 0 to 14325387
Data columns (total 15 columns):
uuid                          object
patent_id                     object
classification_level          object
section                       object
ipc_class                     object
subclass                      object
main_group                    object
subgroup                      object
symbol_position               object
classification_value          object
classification_status         object
classification_data_source    object
action_date                   object
ipc_version_indicator         object
sequence                      int64
dtypes: int64(1), object(14)
memory usage: 1.6+ GB

In [97]:
"""Keep only needed columns: patent_id and category."""

ipcr = ipcr[['patent_id','section']]

In [98]:
"""Merge university patents with IPC."""

patent_ipc = pd.merge(left=patent_universities,right=ipcr,
                      on='patent_id')

In [99]:
"""535 universities have patents with IPC classification."""

patent_ipc.organization.nunique()

287

In [100]:
"""Count the number of patents per IPC category."""

patent_ipc['count'] = [1] * len(patent_ipc)
ipc = patent_ipc.groupby(['UNITID','organization','section','year'])['count'].count().reset_index()

In [101]:
ipc.head()

   UNITID         organization section        year  count
0  100654  alabamaamuniversity  A      2016.000000  3
1  100654  alabamaamuniversity  B      2003.000000  1
2  100654  alabamaamuniversity  B      2016.000000  1
3  100654  alabamaamuniversity  G      2003.000000  3
4  100654  alabamaamuniversity  H      2003.000000  1

In [102]:
ipc_balanced = (ipc.set_index('year',append=True)
                 .reindex(pd.MultiIndex.from_product([ipc.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

In [103]:
ipc_balanced.head()

    year  UNITID organization section  count
id
0   2000 nan      NaN          NaN    nan
0   2001 nan      NaN          NaN    nan
0   2002 nan      NaN          NaN    nan
0   2003 nan      NaN          NaN    nan
0   2004 nan      NaN          NaN    nan

In [104]:
ipc_balanced['UNITID'] = ipc_balanced.groupby(level=0)['UNITID'].ffill().bfill()
ipc_balanced['organization'] = ipc_balanced.groupby(level=0)['organization'].ffill().bfill()
ipc_balanced['section'] = ipc_balanced.groupby(level=0)['section'].ffill().bfill()
ipc_balanced['count'] = ipc_balanced['count'].fillna(0)

ipc_balanced_groupby = ipc_balanced.groupby(['UNITID','organization','year','section'])['count'].sum().reset_index()

ipc_with_values = ipc_balanced_groupby[ipc_balanced_groupby['count'] != 0]
ipc_with_values_sorted = ipc_with_values.sort_values(['year','count'],ascending=False)
ipc_top_five = ipc_with_values_sorted.groupby(['organization','year']).head(5)

"""Merge with the category names."""

section_name = pd.DataFrame() # create a dataframe with category names
section_name['section'] = ['A','B','C','D','E','F','G','H']
section_name['name'] = ['Human Necessitites','Performing Operations; Transporting','Chemistry; Metallurgy','Textiles; Paper','Fixed Constructions','Mechanical Engineering; Lighting; Heating; Weapons; Blasting','Physics','Electricity']

ipc_name = pd.merge(left=ipc_top_five,right=section_name,
                    on='section')

ipc_top_five_finalized = ipc_name.groupby(['UNITID','organization','year'])['name'].apply(list).reset_index()

ipc_balanced_deduplicated = ipc_balanced_groupby[['UNITID','organization','year']].drop_duplicates()

ipc_top_five_balanced_finalized = ipc_top_five_finalized.merge(ipc_balanced_deduplicated, on=['UNITID','year','organization'],
                         how='right').sort_values(['organization','year']).fillna(0)

ipc_top_five_balanced_finalized[ipc_top_five_balanced_finalized['organization'] == 'alabamaamuniversity']

,UNITID,organization,year,name
2018,100654.000000,alabamaamuniversity,2000,0
2019,100654.000000,alabamaamuniversity,2001,0
2020,100654.000000,alabamaamuniversity,2002,0
0,100654.000000,alabamaamuniversity,2003,"[Physics, Electricity, Performing Operations; Transporting]"
2021,100654.000000,alabamaamuniversity,2004,0
2022,100654.000000,alabamaamuniversity,2005,0
2023,100654.000000,alabamaamuniversity,2006,0
2024,100654.000000,alabamaamuniversity,2007,0
2025,100654.000000,alabamaamuniversity,2008,0
2026,100654.000000,alabamaamuniversity,2009,0
2027,100654.000000,alabamaamuniversity,2010,0
2028,100654.000000,alabamaamuniversity,2011,0
2029,100654.000000,alabamaamuniversity,2012,0
2030,100654.000000,alabamaamuniversity,2013,0
2031,100654.000000,alabamaamuniversity,2014,0
2032,100654.000000,alabamaamuniversity,2015,0
1,100654.000000,alabamaamuniversity,2016,"[Human Necessitites, Performing Operations; Transporting]"
2033,100654.000000,alabamaamuniversity,2017,0
2034,100654.000000,alabamaamuniversity,2018,0

In [105]:
ipc_top_five_balanced_finalized = ipc_top_five_balanced_finalized.rename(columns={'organization':'university','name':'top_5_ipc'})

In [106]:
joint_w_business_finalized.university.nunique()

167

In [107]:
with_govinterest_finalized.university.nunique()

188

In [108]:
number_patents_finalized.university.nunique()

289

In [109]:
female_inventors_finalized.university.nunique()

39

In [110]:
unique_inventors_finalized.university.nunique()

90

In [111]:
ipc_top_five_balanced_finalized.university.nunique()

287

In [112]:
patentsview_combined = number_patents_finalized.merge(with_govinterest_finalized,on=['UNITID','university','year'], how='outer').merge(joint_w_business_finalized,on=['UNITID','university','year'], how='outer').merge(female_inventors_finalized,on=['UNITID','university','year'],how='outer').merge(unique_inventors_finalized,on=['UNITID','university','year'],how='outer').merge(ipc_top_five_balanced_finalized,on=['UNITID','university','year'],how='outer')

In [113]:
patentsview_combined = patentsview_combined.fillna(0)

In [114]:
patentsview_combined.university.nunique()

289

# 2 Link FedRePORTER and IPEDS data

## Load and inspect the data

### Federal RePORTER - Projects (https://federalreporter.nih.gov/FileDownload)

In [115]:
"""Get all .csv files for FedRePORTER Projects."""

fedreporter_files = glob.glob('FedRePORTER_PRJ_C_FY20*.csv')
print(fedreporter_files)

['FedRePORTER_PRJ_C_FY2000.csv', 'FedRePORTER_PRJ_C_FY2001.csv', 'FedRePORTER_PRJ_C_FY2002.csv', 'FedRePORTER_PRJ_C_FY2003.csv', 'FedRePORTER_PRJ_C_FY2004.csv', 'FedRePORTER_PRJ_C_FY2005.csv', 'FedRePORTER_PRJ_C_FY2006.csv', 'FedRePORTER_PRJ_C_FY2007.csv', 'FedRePORTER_PRJ_C_FY2008.csv', 'FedRePORTER_PRJ_C_FY2009.csv', 'FedRePORTER_PRJ_C_FY2010.csv', 'FedRePORTER_PRJ_C_FY2011.csv', 'FedRePORTER_PRJ_C_FY2012.csv', 'FedRePORTER_PRJ_C_FY2013.csv', 'FedRePORTER_PRJ_C_FY2014.csv', 'FedRePORTER_PRJ_C_FY2015.csv', 'FedRePORTER_PRJ_C_FY2016.csv', 'FedRePORTER_PRJ_C_FY2017.csv', 'FedRePORTER_PRJ_C_FY2018.csv']

In [116]:
"""Read them in, concatenate and convert to a dataframe."""

list_data = []
for filename in fedreporter_files:
    data = pd.read_csv(filename, error_bad_lines=False)
    list_data.append(data)
    
projects = pd.concat(list_data)

/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (12,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 683: expected 24 fields, saw 31\nSkipping line 2741: expected 24 fields, saw 42\nSkipping line 5456: expected 24 fields, saw 42\nSkipping line 7502: expected 24 fields, saw 39\nSkipping line 9544: expected 24 fields, saw 29\nSkipping line 15669: expected 24 fields, saw 25\nSkipping line 17029: expected 24 fields, saw 33\nSkipping line 19741: expected 24 fields, saw 25\nSkipping line 25880: expected 24 fields, saw 26\nSkipping line 29933: expected 24 fields, saw 36\nSkipping line 30606: expected 24 fields, saw 28\n'
b'Skipping line 36711: expected 24 fields, saw 25\nSkipping line 37395: expected 24 fields, saw 41\nSkipping line 39407: expected 24 fields, saw 34\nSkipping line 40762: expected 24 fields, saw 25\nSkipping line 46873: expected 24 fields, saw 42\nSkipping line 49601: expected 24 fields, saw 42\nSkipping line 53674: expected 24 fields, saw 29\nSkipping line 57072: expected 24 fields, saw 25\nSkipping line 59114: expected 24 fields, saw 25\nSkipping line 60463: expected 24 fields, saw 36\nSkipping line 61840: expected 24 fields, saw 40\nSkipping line 64564: expected 24 fields, saw 36\n'
b'Skipping line 68674: expected 24 fields, saw 40\nSkipping line 73429: expected 24 fields, saw 36\nSkipping line 76846: expected 24 fields, saw 29\nSkipping line 80912: expected 24 fields, saw 25\nSkipping line 84330: expected 24 fields, saw 34\nSkipping line 85696: expected 24 fields, saw 25\nSkipping line 93159: expected 24 fields, saw 25\n'
b'Skipping line 102030: expected 24 fields, saw 25\nSkipping line 104067: expected 24 fields, saw 26\nSkipping line 104734: expected 24 fields, saw 34\nSkipping line 106103: expected 24 fields, saw 40\nSkipping line 108839: expected 24 fields, saw 36\nSkipping line 112934: expected 24 fields, saw 40\nSkipping line 122251: expected 24 fields, saw 36\nSkipping line 125777: expected 24 fields, saw 25\nSkipping line 130119: expected 24 fields, saw 25\n'
/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [117]:
"""Look at the dataset description. We are interested in PROJECT_ID, PROJECT_NUMBER, 
ORGANIZATION_NAME, FY_TOTAL_COST. We do not have ORGANIZATION_NAME and FY_TOTAL_COST 
for all PROJECT_IDs.

1,075,525 records - PROJECT_ID   
1,075,525 records - PROJECT_NUMBER  
1,074,914 recors - ORGANIZATION_NAME
881,417 records - FY_TOTAL_COST
"""

projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1145604 entries, 0 to 162586
Data columns (total 24 columns):
PROJECT_ID                     1145604 non-null object
 PROJECT_TERMS                 1111608 non-null object
 PROJECT_TITLE                 1145600 non-null object
 DEPARTMENT                    1145601 non-null object
 AGENCY                        1145599 non-null object
 IC_CENTER                     935000 non-null object
 PROJECT_NUMBER                1145597 non-null object
 PROJECT_START_DATE            992717 non-null object
 PROJECT_END_DATE              1000984 non-null object
 CONTACT_PI_PROJECT_LEADER     1145487 non-null object
 OTHER_PIS                     144565 non-null object
 CONGRESSIONAL_DISTRICT        1068981 non-null object
 DUNS_NUMBER                   1135094 non-null object
 ORGANIZATION_NAME             1144952 non-null object
 ORGANIZATION_CITY             1139729 non-null object
 ORGANIZATION_STATE            1128824 non-null object
 ORGANIZATION_ZIP              1093755 non-null object
 ORGANIZATION_COUNTRY          1139955 non-null object
 BUDGET_START_DATE             878181 non-null object
 BUDGET_END_DATE               878124 non-null object
 CFDA_CODE                     943573 non-null object
 FY                            1145575 non-null float64
 FY_TOTAL_COST                 939651 non-null float64
 FY_TOTAL_COST_SUB_PROJECTS    172711 non-null float64
dtypes: float64(3), object(21)
memory usage: 218.5+ MB

In [118]:
"""Inspect column names. Note that there is a space in the beginning of some column names."""

projects.columns

Index(['PROJECT_ID', ' PROJECT_TERMS', ' PROJECT_TITLE', ' DEPARTMENT',
       ' AGENCY', ' IC_CENTER', ' PROJECT_NUMBER', ' PROJECT_START_DATE',
       ' PROJECT_END_DATE', ' CONTACT_PI_PROJECT_LEADER', ' OTHER_PIS',
       ' CONGRESSIONAL_DISTRICT', ' DUNS_NUMBER', ' ORGANIZATION_NAME',
       ' ORGANIZATION_CITY', ' ORGANIZATION_STATE', ' ORGANIZATION_ZIP',
       ' ORGANIZATION_COUNTRY', ' BUDGET_START_DATE', ' BUDGET_END_DATE',
       ' CFDA_CODE', ' FY', ' FY_TOTAL_COST', ' FY_TOTAL_COST_SUB_PROJECTS'],
      dtype='object')

### Federal RePORTER - Abstracts (https://federalreporter.nih.gov/FileDownload)

In [119]:
"""Get all .csv files for FedRePORTER Abstracts."""

abstracts_files = glob.glob('FedRePORTER_PRJABS_C_FY20*.csv')
print(abstracts_files)

['FedRePORTER_PRJABS_C_FY2000.csv', 'FedRePORTER_PRJABS_C_FY2001.csv', 'FedRePORTER_PRJABS_C_FY2002.csv', 'FedRePORTER_PRJABS_C_FY2003.csv', 'FedRePORTER_PRJABS_C_FY2004.csv', 'FedRePORTER_PRJABS_C_FY2005.csv', 'FedRePORTER_PRJABS_C_FY2006.csv', 'FedRePORTER_PRJABS_C_FY2007.csv', 'FedRePORTER_PRJABS_C_FY2008.csv', 'FedRePORTER_PRJABS_C_FY2009.csv', 'FedRePORTER_PRJABS_C_FY2010.csv', 'FedRePORTER_PRJABS_C_FY2011.csv', 'FedRePORTER_PRJABS_C_FY2012.csv', 'FedRePORTER_PRJABS_C_FY2013.csv', 'FedRePORTER_PRJABS_C_FY2014.csv', 'FedRePORTER_PRJABS_C_FY2015.csv', 'FedRePORTER_PRJABS_C_FY2016.csv', 'FedRePORTER_PRJABS_C_FY2017.csv', 'FedRePORTER_PRJABS_C_FY2018.csv']

In [120]:
"""Read them in, concatenate and convert to a dataframe."""

list_data = []
for filename in abstracts_files:
    data = pd.read_csv(filename, error_bad_lines=False, encoding='ISO-8859-1')
    list_data.append(data)
    
abstracts = pd.concat(list_data)

b'Skipping line 64226: expected 2 fields, saw 3\nSkipping line 67628: expected 2 fields, saw 3\nSkipping line 211541: expected 2 fields, saw 7\n'
b'Skipping line 185326: expected 2 fields, saw 18\n'
b'Skipping line 136618: expected 2 fields, saw 3\nSkipping line 141289: expected 2 fields, saw 3\nSkipping line 175559: expected 2 fields, saw 7\n'
b'Skipping line 10242: expected 2 fields, saw 3\nSkipping line 11477: expected 2 fields, saw 3\n'
b'Skipping line 172983: expected 2 fields, saw 3\n'
b'Skipping line 80160: expected 2 fields, saw 3\nSkipping line 176828: expected 2 fields, saw 4\nSkipping line 177391: expected 2 fields, saw 3\nSkipping line 177714: expected 2 fields, saw 10\n'

In [121]:
"""Look at the dataset description."""

abstracts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1584298 entries, 0 to 92156
Data columns (total 2 columns):
PROJECT_ID    1584298 non-null object
 ABSTRACT     1572086 non-null object
dtypes: object(2)
memory usage: 36.3+ MB

In [122]:
"""Inspect column names. Note that there is a space in the beginning of the ABSTRACT column."""

abstracts.columns

Index(['PROJECT_ID', ' ABSTRACT'], dtype='object')

## Filter the data

In [123]:
"""Keep only first project (not to double count the total cost)."""

projects = projects.groupby(' PROJECT_NUMBER').first().reset_index()

"""Filter by projects that have more than 100,000 in FY_TOTAL_COST."""

projects = projects[projects[' FY_TOTAL_COST'] > 100000]

## Match with IPEDS university names

In [124]:
"""Keep only those records in PROJECTS that have ORGANIZATION_NAME. Keep only the needed columns.
Now the number of records is the same across columns."""

projects = projects.dropna(subset=[' ORGANIZATION_NAME'])

In [125]:
projects.columns

Index([' PROJECT_NUMBER', 'PROJECT_ID', ' PROJECT_TERMS', ' PROJECT_TITLE',
       ' DEPARTMENT', ' AGENCY', ' IC_CENTER', ' PROJECT_START_DATE',
       ' PROJECT_END_DATE', ' CONTACT_PI_PROJECT_LEADER', ' OTHER_PIS',
       ' CONGRESSIONAL_DISTRICT', ' DUNS_NUMBER', ' ORGANIZATION_NAME',
       ' ORGANIZATION_CITY', ' ORGANIZATION_STATE', ' ORGANIZATION_ZIP',
       ' ORGANIZATION_COUNTRY', ' BUDGET_START_DATE', ' BUDGET_END_DATE',
       ' CFDA_CODE', ' FY', ' FY_TOTAL_COST', ' FY_TOTAL_COST_SUB_PROJECTS'],
      dtype='object')

In [126]:
# PROJECT_TERMS ?
# PROJECT_START_DATE ?

In [127]:
projects = projects[[' PROJECT_NUMBER','PROJECT_ID',' ORGANIZATION_NAME',' FY',' FY_TOTAL_COST']]

In [128]:
projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 722673 entries, 10435 to 1071508
Data columns (total 5 columns):
 PROJECT_NUMBER       722673 non-null object
PROJECT_ID            722673 non-null object
 ORGANIZATION_NAME    722673 non-null object
 FY                   722673 non-null float64
 FY_TOTAL_COST        722673 non-null float64
dtypes: float64(2), object(3)
memory usage: 33.1+ MB

In [129]:
"""Normalize names before merging two datasets: lowercase, remove trailing white space, punctuation,
special symbols, and remove all white space."""

def normalize_names(name):
    name = name.lower()  # lowercase
    name = name.strip()  # remove trailing white space
    for i in string.punctuation:
        name = name.replace(i,'')  # remove punctuation, special symbols
    name = name.replace(' ','')  # remove all white space
    return name

"""Apply normalization function to university and organization names."""

ipeds['INSTNM'] = ipeds['INSTNM'].apply(normalize_names)
projects[' ORGANIZATION_NAME'] = projects[' ORGANIZATION_NAME'].apply(normalize_names)

In [130]:
"""See the normalized results in the IPEDS university file."""

ipeds['INSTNM'].head()

0    alabamaamuniversity
1    universityofalabamaatbirmingham
2    amridgeuniversity
3    universityofalabamainhuntsville
4    alabamastateuniversity
Name: INSTNM, dtype: object

In [131]:
"""See the normalized results in the PROJECTS file."""

projects[' ORGANIZATION_NAME'].head()

10435    associationofuniversitiesforresearchinastronomyinc
10436    columbiauniversity
10437    washingtonuniversity
10438    universityofhawaiisystems
10439    universityofcaliforniasandiego
Name:  ORGANIZATION_NAME, dtype: object

In [132]:
"""Merge on a common column containing organization names."""

projects_ipeds_1 = pd.merge(left=projects,right=ipeds,
                            left_on=' ORGANIZATION_NAME',right_on='INSTNM')

"""There are 1,154 universities that matched with the PROJECTS file."""

projects_ipeds_1[' ORGANIZATION_NAME'].nunique()

1154

## Text analysis (Topic modeling)

In [133]:
"""Merge abstracts with Project ID of IPEDS universities. Keep only needed columns."""

merged_abstracts = pd.merge(left=abstracts,right=projects_ipeds_1,
                            on='PROJECT_ID')

merged_abstracts = merged_abstracts[[' ABSTRACT',' FY',' FY_TOTAL_COST',' ORGANIZATION_NAME','UNITID',' PROJECT_NUMBER']]

In [134]:
merged_abstracts[' FY'] = merged_abstracts[' FY'].astype(int)

In [135]:
"""Inspect the dataset."""

merged_abstracts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168948 entries, 0 to 168947
Data columns (total 6 columns):
 ABSTRACT             168754 non-null object
 FY                   168948 non-null int64
 FY_TOTAL_COST        168948 non-null float64
 ORGANIZATION_NAME    168948 non-null object
UNITID                168948 non-null int64
 PROJECT_NUMBER       168948 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.0+ MB

In [136]:
"""Drop missing abstracts."""

merged_abstracts = merged_abstracts.dropna()

In [137]:
"""Get only the text of abstracts."""

merged_abstracts_list = merged_abstracts[' ABSTRACT'].values.tolist()

### LDA method - Latent Dirichlet Allocation

Latent Dirichlet Allocation is a probabilistic topic model that is used for discovering abstract topics from a collection of documents.

Latent (or hidden) stands for topics in the documents that are existing but not yet developed or manifest and which can be discovered based on observed data, such as words in the documents. Dirichlet refers to distributions that are taken into account when creating topics: a distribution of words in the topic (which words are more or less probable to belong to a given topic) and a distribution of topics in documents (which topic is more or less probable for a given document). Allocation stands for allocating topics to documents, once those distributions are in place.

LDA model takes as input a corpus (a collection of text documents). Every text document is tokenized to become a sequence of words (tokens). All unique words across a given corpus are saved as a vocabulary. Text documents are then converted to a matrix of token counts (how often a given unique word from a vocabulary appears in a given text document), e.g.:


|doc# / unique words| 'science' | 'research' | 'cell' | 'DNA' | 'gene'|
|----------|-----------|------------|--------|-------|-------|
|document 1|     0     |     0      |     1  |    5  |    7  |
|document 2|     1     |     5      |     0  |    0  |    0  |
|document 3|     0     |     2      |     5  |    0  |    0  |  


The LDA model finds the probability of a word appearing in a given topic, and then maps a probability of a topic being assigned to a given document.
 
Please see more information here: https://scikit-learn.org/stable/modules/decomposition.html#latentdirichletallocation

In [140]:
"""Convert a collection of text documents (corpus) to a matrix of token counts (TF, term-frequency, 
variable) using Sklearn CountVectorizer function (also, remove English stopwords in the text
documents - semantically-vacuous words, such as 'the', 'and', etc). Every token is a unique word 
across a collection of text documents, and the matrix consists of a count of a given word (token) 
in a given document.""" 

tf_vectorizer = CountVectorizer(stop_words='english') 
tf = tf_vectorizer.fit_transform(merged_abstracts_list)

"""Get feature names - unique words across a collection of text documents (vocabulary)."""

tf_feature_names = tf_vectorizer.get_feature_names()

In [ ]:
"""Run the LDA model to produce 10 topics across the collection of documents."""

lda = LatentDirichletAllocation(n_topics=10, random_state=0).fit(tf)

In [683]:
"""Store LDA model results."""

%store lda

Stored 'lda' (LatentDirichletAllocation)

In [141]:
%store -r lda

In [142]:
"""Get topics to documents matrix."""

lda_W = lda.transform(tf) 

"""Each record represents a document and contains probabilities of 10 topics being 
assigned to this document."""

lda_W[0] # probabilities of 10 topics in a document with an index 0

array([0.00454651, 0.16089033, 0.00454665, 0.00454693, 0.00454651,
       0.18827047, 0.61901323, 0.00454665, 0.00454631, 0.0045464 ])

In [143]:
"""Get word to topics matrix."""

lda_H = lda.components_ 

"""Each record is a topic with probabilities of unique words being assigned to this topic."""

lda_H[0] # probabilities of a given unique word to belong to a topic with an index 0

array([1.00028948e-01, 4.97606402e+02, 1.00000000e-01, ...,
       1.01010218e-01, 1.00000000e-01, 1.00000000e-01])

In [144]:
"""View the list of topics (10 top words per topic)."""

for topic_idx, topic in enumerate(lda_H):
    print("Topic %d:" % (topic_idx))
    print('----------------------------')
    print(" ".join([tf_feature_names[i]
                for i in topic.argsort()[:-10 - 1:-1]]))
    print('----------------------------')

Topic 0:
----------------------------
cell protein proteins gene genes cells dna molecular human specific
----------------------------
Topic 1:
----------------------------
cancer risk study disease studies diabetes obesity effects health exposure
----------------------------
Topic 2:
----------------------------
cells cell cancer tumor specific immune aim studies signaling mice
----------------------------
Topic 3:
----------------------------
data imaging brain methods develop project using new analysis information
----------------------------
Topic 4:
----------------------------
heart muscle cardiac mitochondrial function stress disease vascular aim mechanisms
----------------------------
Topic 5:
----------------------------
project research data species understanding water climate new environmental provide
----------------------------
Topic 6:
----------------------------
new project research high systems materials properties design structure methods
----------------------------
Topic 7:
----------------------------
health hiv study treatment risk use care intervention patients research
----------------------------
Topic 8:
----------------------------
research program training students university project science clinical center support
----------------------------
Topic 9:
----------------------------
brain neurons mechanisms studies activity specific function aim neuronal role
----------------------------

In [145]:
"""View a top document related to a given topic to inspect the relevance of a topic in a context."""

for topic_idx, topic in enumerate(lda_H):
    print('--------------------')
    print("Topic %d:" % (topic_idx))
    print('--------------------')
    print(" ".join([tf_feature_names[i]
                    for i in topic.argsort()[:-10 - 1:-1]]))
    top_doc_indices = np.argsort(lda_W[:,topic_idx] )[::-1][0:1]
    for doc_index in top_doc_indices:
        print('--------------------')
        print(merged_abstracts_list[doc_index])

--------------------
Topic 0:
--------------------
cell protein proteins gene genes cells dna molecular human specific
--------------------
DESCRIPTION (provided by applicant): The ubiquitin system controls many cellular pathways. Proteins are tagged with ubiquitin via an E1-E2-E3 cascade, and this frequently leads to degradation via the proteasome. Deubiquitinating enzymes (Dubs) act to remove ubiquitin from proteins, leading to reversal of the signaling input generated by the ubiquitination event. A small number of Dubs have been linked to important cellular pathways linked to transcriptional control, oncogenesis, tumor suppression, and neurodegeneration, yet the biological functions, interaction partners, and substrates of the majority of Dubs are unknown. We have recently developed a new informatic and experimental platform for semi high-throughput proteomic analysis of protein complexes and have applied this technology to 75 of the 95 Dubs encoded by the human genome, using 293T cells as an initial cell system. These studies reveal that a substantial fraction of Dubs are stably associated with previously identified and novel protein complexes. In many cases, the identity of associated proteins provides the first indications of the biological functions or pathways in which uncharacterized Dubs may operate. Several Dubs and/or their associated proteins have been identified in shRNA-based checkpoint screens, providing candidate biological pathways for many Dubs and their newly identified complexes. Several themes have emerged: 1) Dubs are frequently components of large molecular machines, 2) Dubs frequently associate with E3s, and 3) WD40- repeat containing proteins (including WD40 proteins that have recently been shown to bind ubiquitin) are frequently associated with Dubs, which is interesting in light of the recent finding that WDR48 activates Usp1. Our approach identified many tightly associated proteins but known substrates of a small number of well- studied Dubs were not identified, suggesting that alternative approaches are required to identify more weakly bound substrates of Dubs. This proposal seeks to further elucidate the functions and pathways controlled by Dubs. In aim 1,we will complete our systematic analysis of the Dub proteome, and will examine the proteome of  substrate-trapping  Dub mutants with the goal of identifying weakly bound substrates. Further enhancement and integration of our informatics platform and database is also proposed. Aim 2 has the broad goal of elucidating emerging themes in the function and regulation of Dubs, including: 1) the role of WD40 proteins as activator and substrate receptor subunits of Dubs, and 2) the cross-regulation of Dubs, E3s, and targets of E3s. These themes will be addressed using 2 specific Dub networks we have identified via our proteomics analysis. Together, these experiments will provide a powerful resource for the field devoted to elucidating the functions and targets of Dubs and will begin to uncover important regulatory networks that appear to be commonly employed to regulate Dub function. PUBLIC HEALTH RELEVANCE: Modification of proteins by ubiquitin constitutes a primary mode of protein regulation in cells and underlies diverse signaling pathways. Removal of ubiquitin is a key step in many pathways and can lead to alterations in the flux through signaling pathways. The enzymes responsible for ubiquitin removal are referred to as deubiquitinating enzymes (Dubs). Several Dubs have been implicated in key signaling systems, including p53 regulation, the DNA damage response, DNA repair, and neurodegenerative diseases. We have employed proteomics to elucidate the proteins and protein complexes associated with 75 of the 95 Dubs present in the human genome. In many cases, we provide the first indications of the pathways within which a particular Dub functions. In this proposal, we seek to continue to elucidate Dub pathways by employing  substrate trapping  mutants in a systematic analysis of Dub targets, and we propose to elucidate 2 major regulatory themes that have emerged from our proteomic analysis thus far: 1) activation of Dubs by WD40 proteins and reciprocal regulation of E3s by Dubs. This work will continue to strengthen our understanding of the functions and regulation of Dubs in a systematic manner.
--------------------
Topic 1:
--------------------
cancer risk study disease studies diabetes obesity effects health exposure
--------------------
DESCRIPTION (provided by applicant): The parent study for this proposed ancillary study is an NIH/NHLBI-funded investigation comparing the effects of consuming sweetened beverages for 2 weeks in young (18-40 years), normal weight and overweight/obese adults (5R01HL091333-02: Effects of 2wk fructose & HFCS consumption on lipid dysregulation & insulin resistance). Baseline experimental procedures (including 24-h serial blood sampling) are conducted while subjects reside as inpatients at the CTSC-funded Clinical Research Center (CCRC) for 3.5 days and consume an energy-balanced, high complex carbohydrate diet. Subjects then consume sweetened beverages providing 25% of energy requirements as fructose, glucose, or high fructose corn syrup (HFCS); or 0, 10, or 17.5% of energy as fructose or HFCS along with their usual ad libitum diet. At the end of the 2-week intervention, subjects return to the CCRC and the same experimental procedures are performed while subjects consume an energy-balanced diet, which includes the assigned sweetened beverages. The early results from this investigation indicate that consumption of HFCS-sweetened beverages at 25% of energy results in significant increases of late-night postprandial triglyceride (TG) concentrations, and of fasting LDL cholesterol and apolipoprotein-B (ApoB) concentrations that are comparable in magnitude to those observed after consumption of beverages sweetened with 100% fructose. Consumption of glucose-sweetened beverages does not alter these parameters. There is considerable evidence to support the hypothesis that postprandial hypertriglyceridemia is a key metabolic disturbance that gives rise to the lipid dysregulation characteristic of metabolic syndrome and type 2 diabetes. The purpose of this proposal is to investigate the mechanisms that contribute to the postprandial hypertriglyceridemia induced by fructose and HFCS consumption by quantifying the absolute and proportional contributions of fatty acids derived from de novo lipogenesis (DNL), diet, and free fatty acids (FFA) from adipose TG lipolysis to fasting and postprandial levels of triglyceride-rich lipoproteins (TRL). Stable isotopes will be administered (via oral consumption and 26-h intravenous infusions) to subsets of subjects during the 24-h serial blood sampling protocols that are conducted in all study participants during consumption of energy-balanced, high complex carbohydrate meals at baseline, and meals consumed with beverages sweetened with HFCS, fructose, glucose or aspartame at the end of intervention. The specific objective of these studies is to test the hypothesis that 2 weeks of fructose or HFCS consumption will increase the absolute and proportional contributions of fatty acids derived from DNL to late-night increases of TRL, and that the increases of DNL-fatty acid will be a critical determinant of the increases of fasting LDL and ApoB concentrations. A second objective is to determine the doses of HFCS that increase the absolute and proportional contributions of DNL-fatty acids to postprandial TRL. PUBLIC HEALTH RELEVANCE: There is evidence to suggest that consumption of high sugar diets is associated with increased incidence of cardiovascular disease and diabetes, and the early results from the parent study indicate that consumption of beverages sweetened with high fructose corn syrup (HFCS) at 25% of energy requirement for 2 weeks increases risk factors for cardiovascular disease, including late-night triglyceride (TG) concentrations, and fasting LDL-cholesterol and apolipoprotein-B concentrations. Scientific evidence suggests that increased plasma TG concentrations after meals lead to the increases of other risk factors, and studies are proposed to mechanistically investigate the late-night postprandial increase of TG induced by consumption of HFCS and fructose. These studies will help to determine how sugar consumption may promote increased risk for cardiovascular and related metabolic diseases. (End of Abstract)
--------------------
Topic 2:
--------------------

cells cell cancer tumor specific immune aim studies signaling mice
--------------------
Background:  A significant literature suggests that cancer stem-like cells drive the aggressive behavior of androgen-independent prostate cancers (Jeter et al., 2011), for which there exists no effective therapy.  Thus, targeting prostate cancer stem-like cells is a logical approach to developing an effective prostate cancer therapy.  A first step will be identifying receptors that regulate prostate cancer stem-like cell activities.  In addition to being an endoplasmic reticulum chaperone protein, glucose-regulated protein of 78 kDa (GRP78) is expressed on the surface of a variety of tumors.  Cell surface GRP78 is an ideal therapeutic target because it promotes tumor cell survival and is not detected in normal tissues.  ShRNA-mediated silencing of total cellular GRP78 in head and neck cancers suppresses tumor initiation.  However, it remains unknown if targeting cell surface GRP78 eliminates cancer stem-like cells.  Cancer stem-like cells are enriched by culturing prostate cancer cells in non-adherent conditions, resulting in the growth of self-renewing prostaspheres.  Our preliminary studies show that cell surface GRP78 expression is higher in prostaspheres than in adherent prostate cancer cells.  We also identified an antibody that, by binding to cell surface GRP78 on prostate cancer cells, (1) reduces expression of Snail-1, a transcriptional repressor that drives cancer stem-like cell activities and (2) suppresses prostasphere growth.  Based on these findings, this study investigates if targeting cell surface GRP78 eliminates prostate cancer stem-like cells.Innovation/Impact:  These studies are the first to investigate the effects of targeting a cell surface receptor in prostate cancer stem-like cells on their tumor-initiating activities.  The studies are of high impact because they determine if targeting cell surface GRP78 eliminates androgen-independent prostate cancer stem-like cells, which are thought to contribute to therapy resistance and patient mortality.Specific Aims/Hypotheses/Study Design: Aim 1:  Examine cell surface GRP78 expression/signaling in human androgen-independent prostate cancer stem-like cells.  Hypotheses:  Cell surface GRP78 expression is higher in prostaspheres than in adherent prostate cancer cells.  Monoclonal antibodies specific for amino- (N-) and carboxy- (C-) terminal domains of cell surface GRP78 respectively stimulate and inhibit Akt/GSK-3/Snail-1 signaling in prostate cancer stem-like cells.1.1.  By flow cytometry, investigate the relative expression of cell surface GRP78 in adherent androgen-independent prostate cancer cells and in prostaspheres derived from these cells.1.2.  Determine relative activities of Akt and its substrate GSK-3 in adherent prostate cancer cells and in prostaspheres derived from these cells by immunoblotting and ELISA.1.3.  Investigate the relative expression of Snail-1, a GSK-3 target, in adherent prostate cancer cells and in prostaspheres derived from these cells by performing reverse-transcription-PCR and immunoblotting.1.4.  Determine the effect of incubating prostate cancer stem-like cells with antibodies specific for N- and C-terminal domains of cell surface GRP78 on Akt/GSK-3/Snail-1 signaling.  Prostasphere-derived cells will be incubated with cell surface GRP78 antibodies.  Akt/GSK-3/Snail-1 expression/activity will be measured.Aim 2:  Determine the effect on human androgen-independent prostate cancer stem-like cell growth of targeting cell surface GRP78.  Hypotheses: Cell surface GRP78(+) but not cell surface GRP78(-) prostate cancer cells grow as self-renewing prostaspheres in vitro and initiate tumor growth in vivo.  Antibodies specific for N- and C-terminal domains of cell surface GRP78 respectively promote and inhibit the self-renewing/tumor initiating activities of prostate cancer stem-like cells.  An antibody specific for a C-terminal domain of cell surface GRP78 inhibits androgen-independent prostate cancer growth in a xenograft model.2.1.  Investigate the relative ability of cell surface GRP78(+) and cell surface GRP78(-) androgen-independent prostate cancer cells (sorted by flow cytometry) to grow as self-renewing prostaspheres in vitro.2.2.  Using Snail-1 shRNAs, assess the importance of Snail-1 for cell surface GRP78 regulation of the growth of self-renewing prostate cancer stem-like cells (prostaspheres).2.3.  Determine the relative ability of cell surface GRP78(+) and cell surface GRP78(-)-sorted prostate cancer cells to initiate tumor growth (subcutaneous injection of 103, 105, or 106 cells) in a xenograft model.2.4.  Assess the effect of antibodies specific for N-terminal and C-terminal domains of cell surface GRP78 on prostate cancer stem-like cell growth.  Antibody effects on (1) self-renewing prostasphere growth in vitro and (2) tumor-initiating activity of prostasphere-derived cells (103, 105, or 106) in SCID mice will be determined.2.5.  Examine the effect of an antibody specific for a C-terminal domain of cell surface GRP78 on human androgen-independent prostate cancer growth.  Antibody effects on the ability of human prostate cancer cells (derived from adherent culture) to establish tumors in SCID mice will be assessed.
--------------------
Topic 3:
--------------------
data imaging brain methods develop project using new analysis information
--------------------
DESCRIPTION (provided by applicant): The overall objective of this project is to improve the quality of images obtained by positron emission tomography (PET) for human studies in clinical nuclear medicine. This will be done by developing a fast and accurate computer method for generating images from basic photon-count data acquired by PET scanners having detectors with time-of-flight (TOF) capability. Data from TOF-PET systems contain additional information that permits better spatial localization of coincidence events, compared to conventional (non-TOF) scanners. TOF-PET scanners have been shown to yield significantly better images, especially for large patients; however, the full benefit of TOF has not yet been achieved in the clinical environment due to the relatively slow reconstruction techniques available for TOF-PET data. The proposed work involves the development and testing of an iterative computer method for statistical image reconstruction that makes specific use of the localized nature of TOF-PET data. The method is called DIRECT, short for Direct Image Reconstruction for TOF, and it involves grouping the TOF-PET data based on a novel combination of angular intervals in data space and voxel-like partitions in image space. The hypothesis is that this method will achieve high quantitative accuracy, combined with high computational efficiency, which is critical for obtaining these quantitative images in the clinical environment. High computational efficiency is needed for human studies, since a large amount of data is collected, the image space is sampled on a fine grid, and many iterations are required to accurately recover the activity levels at all locations in the body. Multi-frame studies (e.g., dual time point imaging, dynamic studies) involve multiple runs of the image reconstruction process for which a fast reconstruction technique is essential. In the DIRECT method, the novel grouping of TOF-PET data leads to high efficiency for many of the reconstruction operations; in particular, this grouping enables the operations of forward-projection and back-projection to be done using efficient Fourier-based methods. Achievement of high accuracy combined with high computational efficiency would be a significant step towards realizing the full potential of TOF-PET in the clinical environment, since in current practice performance is compromised for efficiency in order to complete routine whole-body studies in a practical time. Specific aim 1 is designed to formulate, implement, and investigate the DIRECT method for iterative image reconstruction in TOF-PET, focusing on the core components of the method. Specific aim 2 is designed to formulate, implement, and investigate those components of the DIRECT method that involve compensation for the non-ideal characteristics of measured data, including attenuation, scatter, randoms, and detector normalization. Specific aim 3 involves evaluation of the performance of DIRECT in comparison with other TOF-PET reconstruction techniques. PUBLIC HEALTH RELEVANCE: Positron emission tomography is now well established as a valuable imaging tool for the diagnosis of cancer and other diseases and for the planning and monitoring of treatment. The proposed work involves new methods for computer processing of data from a technically advanced generation of PET scanner; the new computer methods are designed to enable these scanners to reach their full potential, leading to improved accuracy of PET images. The proposed work is relevant to public health, since an improvement in the accuracy of PET images would lead to more accurate diagnosis of cancer and other diseases, more accurate planning of treatment, and more accurate monitoring of the response to therapy, leading in turn to better patient outcomes.
--------------------
Topic 4:
--------------------

heart muscle cardiac mitochondrial function stress disease vascular aim mechanisms
--------------------
ProjectÂ SummaryÂ -Â­ââÂ FunctionalÂ LnFe-Â­ââNxHyÂ ModelsÂ ofÂ BiologicalÂ N2Â FixationÂ NitrogenaseÂ  (N2ase)Â  isÂ  aÂ  metalloenzymeÂ  thatÂ  mediatesÂ  biologicalÂ  nitrogenÂ  fixationÂ  andÂ  isÂ  essentialÂ  toÂ  life.Â  AsÂ such,Â  theÂ  studyÂ  ofÂ  nitrogenaseÂ  attractsÂ  intenseÂ  scrutinyÂ  amongÂ  theÂ  biologyÂ  andÂ  chemistryÂ  communities.Â Nonetheless,Â  theÂ  mechanismÂ  byÂ  whichÂ  nitrogenaseÂ  enzymesÂ  promoteÂ  theÂ  biologicalÂ  reductionÂ  ofÂ  nitrogenÂ underÂ  ambientÂ  conditionsÂ  remainsÂ  aÂ  fascinatingÂ  andÂ  unsolvedÂ  problem.Â  TheÂ  broadÂ  goalÂ  ofÂ  ourÂ  researchÂ  isÂ  toÂ evaluateÂ  theÂ  mechanismsÂ  byÂ  whichÂ  aÂ  singleÂ  ironÂ  siteÂ  isÂ  ableÂ  toÂ  mediateÂ  catalyticÂ  N2Â  reductionÂ  inÂ  syntheticÂ modelÂ  systemsÂ  and,Â  byÂ  extension,Â  inÂ  biology.Â  TheÂ  proposedÂ  programÂ  isÂ  toÂ  designÂ  andÂ  studyÂ  biomimeticÂ  Fe-Â­ââNxHyÂ  modelÂ  complexesÂ  toÂ  addressÂ  thisÂ  goal.Â  OurÂ  experimentalÂ  approachÂ  stressesÂ  functionally,Â  ratherÂ  thanÂ structurally,Â  faithfulÂ  modelsÂ  ofÂ  theÂ  iron-Â­ââmolybdenumÂ  cofactorÂ  (FeMoco).Â  LowÂ  molecularÂ  weightÂ  Fe-Â­ââNxHyÂ complexesÂ  willÂ  beÂ  developedÂ  toÂ  exploreÂ  ironÂ  sitesÂ  inÂ  lowÂ  coordinateÂ  geometriesÂ  thatÂ  mayÂ  accommodateÂ dinitrogenÂ  andÂ  otherÂ  NxHyÂ  functionalities.Â  WeÂ  positÂ  theseÂ  geometriesÂ  asÂ  relevantÂ  toÂ  Fe-Â­ââNxHyÂ  intermediatesÂ  ofÂ theÂ  FeMoco.Â  ByÂ  analogyÂ  toÂ  theÂ  modesÂ  ofÂ  Fe-Â­ââmediatedÂ  biocatalyticÂ  O2Â  reduction,Â  twoÂ  limitingÂ  single-Â­ââsiteÂ mechanismsÂ  areÂ  emphasized.Â  TheÂ  firstÂ  isÂ  anÂ  alternatingÂ  mechanism,Â  whereÂ  successiveÂ  H-Â­ââatomÂ  transfersÂ  (viaÂ H+/e-Â­ââÂ steps)Â occurÂ atÂ theÂ distalÂ andÂ proximalÂ N-Â­ââatomsÂ ofÂ theÂ Fe-Â­ââNâ¡NÂ subunitÂ inÂ anÂ alternatingÂ fashionÂ (e.g.,Â Fe-Â­ââN=NHÂ  âÂ  Fe-Â­ââNH=NHÂ  âÂ  Fe-Â­ââNH-Â­ââNH2âÂ  Fe-Â­ââNH2-Â­ââNH2Â âÂ  Fe-Â­ââNH2Â  +Â  NH3).Â  TheÂ  secondÂ  isÂ  aÂ  distalÂ  mechanism,Â whereÂ  completeÂ  H-Â­ââatomÂ  transferÂ  atÂ  theÂ  distalÂ  N-Â­ââatomÂ  toÂ  liberateÂ  anÂ  NH3Â  equivalentÂ  precedesÂ  transfersÂ  toÂ  theÂ proximalÂ N-Â­ââatomÂ (e.g.,Â Fe-Â­ââN2Â +Â 3Â e-Â­ââÂ +Â 3Â H+Â âÂ Feâ¡NÂ +Â NH3).Â WeÂ alsoÂ exploreÂ aÂ newÂ hybridÂ mechanismÂ thatÂ firstÂ invokesÂ  aÂ  distalÂ  intermediateÂ  (Fe=NNH2)Â  thatÂ  thenÂ  crossesÂ  toÂ  anÂ  alternatingÂ  intermediateÂ  (Fe-Â­ââN2H4)Â  beforeÂ releasingÂ  theÂ  firstÂ  NH3Â  equivalent.Â WeÂ  willÂ  useÂ  syntheticÂ  modelÂ  complexesÂ  toÂ  testÂ  theÂ  viabilityÂ  ofÂ  eachÂ  ofÂ  theseÂ mechanisticÂ  pathways,Â  andÂ  toÂ  understandÂ  howÂ  theÂ  nuclearity,Â  localÂ  geometry,Â  andÂ  electronicÂ  structureÂ  ofÂ  Fe-Â­ââNxHyÂ  speciesÂ  controlÂ  theirÂ  relativeÂ  stabilitiesÂ  andÂ  reactivityÂ  patterns.Â  ThisÂ  knowledgeÂ  willÂ  beÂ  appliedÂ  toÂ  theÂ study,Â  viaÂ  spectroscopic,Â  electrochemical,Â  andÂ  theoreticalÂ  methods,Â  ofÂ  theÂ  firstÂ  examplesÂ  ofÂ  single-Â­ââsiteÂ  ironÂ catalystsÂ forÂ N2-Â­ââto-Â­ââNH3Â conversionÂ thatÂ weÂ discoveredÂ inÂ theÂ previousÂ grantÂ period,Â andÂ towardsÂ theÂ designÂ ofÂ newÂ  N2-Â­ââfixingÂ  catalystsÂ  withÂ  enhancedÂ  efficiency.Â  RegardlessÂ  ofÂ  theÂ  preciseÂ  mechanismÂ  forÂ  nitrogenÂ  reductionÂ atÂ  theÂ  FeMoco,Â  itsÂ  ultimateÂ  solutionÂ  willÂ  requireÂ  comparisonÂ  ofÂ  spectroscopicÂ  dataÂ  fromÂ  theÂ  cofactorÂ  toÂ  relatedÂ dataÂ  obtainedÂ  forÂ  well-Â­ââdefinedÂ  modelÂ  complexes.Â  WeÂ  willÂ  thereforeÂ  continueÂ  toÂ  collaborateÂ  withÂ  researchersÂ thatÂ specializeÂ inÂ spectroscopicÂ studiesÂ ofÂ theÂ FeMocoÂ toÂ makeÂ suchÂ comparisons,Â andÂ otherÂ investigatorsÂ withÂ expertiseÂ complementaryÂ toÂ ourÂ own.Â InÂ sum,Â theÂ functionalÂ Fe-Â­ââNxHyÂ modelÂ chemistryÂ proposedÂ willÂ continueÂ toÂ  playÂ  aÂ  criticalÂ  roleÂ  alongsideÂ  currentÂ  biochemical,Â  spectroscopic,Â  andÂ  theoreticalÂ  modelÂ  studiesÂ  aimedÂ  atÂ unravelingÂ theÂ chemicalÂ mechanismÂ ofÂ biologicalÂ nitrogenÂ fixation.
--------------------
Topic 5:
--------------------
project research data species understanding water climate new environmental provide
--------------------
The classic view of the deep overturning circulation of the ocean is one in which densest waters formed at high latitudes sink and spread along the abyssal basins. Small-scale mixing, such as is caused by breaking internal waves, drives upwelling of these densest waters slowly back toward the surface over the interior of the basins. However, turbulence measurements over the last 20 years have shown that mixing becomes more vigorous toward the ocean bottom, which should result in the sinking of the water masses formed by mixing. Recent work, combining theory, numerical models and turbulence measurements have suggested that the upwelling necessary to bring the water back toward the surface to close the loop happens in thin boundary layers very close to the ocean bottom. This is a region typically avoided in turbulence measurements to prevent the instruments from hitting the bottom. This US-UK joint project will seek the first direct evidence that turbulent mixing drives sinking in the stratified interior and upwelling along thin boundary layers. It has potentially wide impact because it explores the importance of boundary layer upwelling in the overturning circulation, a process that has received little attention to date. Should this experiment succeed in finding evidence for large upwelling confined to deep boundary layers, it will reinvigorate studies of boundary layer turbulence. The field program will compare different approaches to measure turbulent buoyancy fluxes in the ocean, and help settle the ongoing debate on which ones are most accurate. The result of this experiment will have important implications for climate studies, because the ocean uptake of carbon and heat is regulated by the pathways of deep water masses. Finally, the project has a strong educational component through the training of two postdocs at WHOI and SIO, who will lead the analysis of the observations, and one graduate student at MIT, who will run numerical simulations to put the observations in the overall context of the regional circulation and the global overturningStarting with Munk (1966), it is generally understood that small-scale mixing, such as is caused by breaking internal waves, drives upwelling of the densest waters that sink to the ocean bottom at high latitudes. However, turbulence measurements over the last 20 years have shown that mixing becomes more vigorous toward the ocean bottom, and thus converts light waters into denser ones and not vice versa. Using a combination of theoretical ideas, numerical models, and turbulence measurements, Ferrari et al. (2016), de Lavergne et al. (2016) and McDougall and Ferrari (2017) have argued that abyssal waters are converted from dense to light along weakly stratified bottom boundary layers, where small-scale turbulent buoyancy fluxes decrease to zero to satisfy the no-density flux condition at the ocean bottom. In this view, the lower branch of the meridional overturning circulation is the residual of a large diapycnal sinking, driven by convection at high latitudes and small-scale mixing in the stratified ocean interior, balanced by an even larger diapycnal upwelling along the ocean boundary layers. Callies and Ferrari (2017) illustrate that the confinement of upwelling along boundary layers results in a different abyssal circulation from the classical view pioneered by Stommel (1958) and Munk (1966), with important implications for ocean carbon and heat uptake. Observational support for this emerging view of the overturning circulation is lacking, because tracers are advected rapidly in and out of the boundary layers and thus reflect some average of the diapycnal sinking in the stratified interior and diapycnal upwelling along the boundaries. Vertical profiles of turbulence in the deep ocean generally stop above the boundary layer to avoid hitting the seafloor, and thus miss the crucial decrease of turbulent buoyancy flux through the bottom boundary layer. This US-UK collaborative project will use the Rockall Trough in the Northeast Atlantic as a natural laboratory to study diapycnal upwelling along sloping boundaries. This basin is characterized by rough topography and strong topographic mixing, and is an important conduit of abyssal waters in the North Atlantic. Tracers will be released along the Trough's eastern boundary to see whether their movement is consistent with these new ideas and with inferences in prior work that deep waters enter the Rockall Trough from the south and upwell in the basin. The temporal evolution of the tracers will be compared with diapycnal velocities estimated from buoyancy flux measurements from vertical profilers in the stratified interior and moored sensors across the boundary layer. Diapycnal velocities are expected to be strong and upward in the boundary layer, and downward in the stratified interior. Successful completion of the field program will return the first direct observation of the role played by deep boundary layers in the oceanic overturning circulation.This award reflects NSF's statutory mission and has been deemed worthy of support through evaluation using the Foundation's intellectual merit and broader impacts review criteria.
--------------------
Topic 6:
--------------------
new project research high systems materials properties design structure methods
--------------------
TECHNICAL SUMMARYThis award supports computational and theoretical research and education on a long-standing obstacle to the understanding of condensed-phase systems: many important processes occur on a time-scale that is not easily accessible with conventional methods. In order to address this gap, a variety of accelerated dynamics techniques including hyperdynamics, parallel replica dynamics, and temperature-accelerated dynamics have been proposed. In particular, temperature-accelerated dynamics has been quite successful in extending the time-scales for simulations since it allows realistic simulations of low temperature processes over timescales as long as seconds and even hours. However, due to the fact that the computational work required for serial temperature-accelerated dynamics scales as the number of atoms, N, cubed, this technique can only be applied to extremely small systems. In order to address this problem, the PI has recently developed a method for parallel temperature-accelerated dynamics simulations or  parTAD,  which is based on spatial decomposition combined with the PI's synchronous sublattice algorithm, which scales as log(N). Using this method, the PI has studied the low-temperature growth of Cu/Cu (100) over extended length-scales in order to explain recent observations of vacancy formation and compressive strain.The PI aims to use parTAD to carry out parallel temperature-accelerated dynamics simulations of a variety of non-equilibrium processes over extended time- and length-scales. In addition, the PI plans to develop mew methods which will enable the temperature-accelerated dynamics method to study processes at higher temperatures as well as to study 3D systems and systems with long-range interactions. These include the development of a method to locally adapt the high temperature parameter which controls the  boost  in the accelerated-dynamics simulations in each processor to optimize the efficiency for a given configuration, as well as to deal with the  low-barrier  problem. To extend the possible size of events that can be handled by simulations and also further enhance the efficiency of parTAD simulations, the PI also aims to develop a hybrid approach to parTAD in which spatial decomposition is coupled with medium scale parallel molecular dynamics simulations and localized saddle-point searches. Using these methods the PI will carry out parallel accelerated dynamics simulations to understand important non-equilibrium processes which cannot be easily studied with lattice-based methods, including:(1) Crystalline-to-amorphous transition in low-temperature semiconductor growth(2) Early stages of growth of amorphous Si on SiO2 substrates(3) Ordering, intermixing and defect formation in submonolayer and multilayer Fe/Cu(100), Cu/Ni(100), and Co/Cu(111) growth(4) Radiation damage and defect mobility in MgOThe work will provide opportunities for educational and outreach activities with broad national, international, and societal impact. Some of the methods and results developed from this project will also be incorporated in a joint undergraduate-graduate course on Computational Physics taught by the PI at the University of Toledo along with a graduate course on Thin-Films and Surface Physics in which students will learn about new theoretical advances and state-of-the-art implementation and empirical evaluation techniques. New algorithms that are developed contribute to the cyberinfrastructure of the broader materials research community.NON-TECHNICAL SUMMARYThis award supports computational research and education to develop and apply algorithms and software to simulate processes on time scales that are important to the underlying science but out of the range of conventional simulation methods. For example, molecular dynamics is generally limited to nanoseconds because of the small time-step required for the integration of the equations of motion. However, important infrequent events often take place on a time scale of microseconds, seconds, or even hours. Examples include the evolution of the surface morphology during crystal or film growth, the diffusion of point defects in solids, and the migration of grain boundaries during plastic strain. The PI aims to build on research performed under previous NSF funding to develop new simulation tools that can access longer time scales, higher temperatures, and larger systems.  With the PI's existing and enhanced tools he will tackle specific materials problems involving how semiconductor materials grow and the morphology of new layers, how growing materials layers can intermix with the material upon which they are grown, and how imperfections in the arrangement of atoms near surfaces move and their affect on the growth process. The PI will also apply the new methods to materials growth and the dynamics of materials after irradiation. These studies will be carried out in close connection with specific experiments and will enhance our understanding of materials growth. The work will provide opportunities for educational and outreach activities with broad national, international, and societal impact. Some of the methods and results developed from this project will also be incorporated in a joint undergraduate-graduate course on Computational Physics taught by the PI at the University of Toledo along with a graduate course on Thin-Films and Surface Physics in which students will learn about new theoretical advances and state-of-the-art implementation and empirical evaluation techniques. New algorithms that are developed contribute to the cyberinfrastructure of the broader materials research community.
--------------------
Topic 7:
--------------------

health hiv study treatment risk use care intervention patients research
--------------------
DESCRIPTION (provided by applicant): South Africa (SA) has the largest number of people living with HIV/AIDS (PLWHA) in the world. Youth in SA are experiencing the fastest increase in new HIV infections, and in the Western Cape region, new infections are  increasingly fueled by mental health problems and substance use. Families can be effective collaborators in HIV prevention efforts, but no family-based interventions exist for South African teens, particularly those with mental health problems and drug/alcohol use. This developmental study will adapt and pilot test a multi-level, highly promising, HIV and alcohol/drug use prevention program (Project STYLE) for South African caregivers and their teens receiving outpatient mental health services. Project STYLE was designed and tested with 750 mentally ill teens across three US cities, and we  will systematically adapt it for the South African context using a combination of ADAPT-ITT and CDC guidelines. Stage 1 will involve extensive formative work (e.g., focus groups, feedback groups, in-depth interviews, theater testing), revisions to survey instruments and the curriculum, and translation/back-translation into Afrikaans and isiXhosa. We will assemble a CAB to advise in the adaptations and revisions. In Stage 2, we will pilot test the revised intervention with two groups of 14 - 18 year old parent-teen dyads receiving mental health services. Teens will be male and female from all ethnic groups (i.e., White, Black, and Colored). We will revise study procedures and materials based on comprehensive participant evaluations, observations, and facilitator ratings. In Stage 3, we will re-test the revised program with 60 parent-teen dyads randomly assigned to Project STYLE versus a control group. All participants will complete baseline and 3-month follow-up interviews to evaluate tracking, retention, and preliminary treatment effects. Guided by a Social-Personal framework6 of HIV-risk and the Theory of Gender and Power, the intervention will target personal attributes, peer and partner relationship processes, and family context to reduce risky sexual behavior and drug/alcohol use among South African youth. Given the exploratory nature of the study, we will cautiously examine change in theoretical mediators and risky sexual behavior and substance abuse as a function of program participation, and we will determine the pretest-posttest effect size of program impact on HIV-risk behavior between groups. The long-term goal of the study is to adapt a highly promising and scientifically-based HIV and substance use prevention program for South African teens and parents that can be tested in a large-scale effectiveness study. This study is consistent with R34 guidelines to support the early phase of intervention development and preliminary testing to examine feasibility, acceptability, and tolerability.    PUBLIC HEALTH RELEVANCE: Sub-Saharan Africa is the global epicenter of the AIDS epidemic, and South Africa is estimated to have the largest number of people living with HIV/AIDS in the world. With youth experiencing the fastest increase in new HIV infections in South Africa, stemming transmissions is a global public health priority. Unfortunately, national efforts have been  disappointing; 50% of South African youth are sexually experienced, 25% were previously diagnosed with an STI, and  40% report sexual activity involving blood. Similarly, adolescent rates of alcohol and other drug use are rising, and age  at first use (13 - 16 years old) for the majority (54%) is young. Likewise, despite high-risk taking among teens in  psychiatric care, and the World Health Organization's statement that  there can be no health without mental  health,  mental health has been a low priority in South Africa. Disproportionate rates of HIV infection among South  Africans may reflect, in part, few available mental health services, while improved mental health care may reduce the  spread of HIV/AIDS. In the Western Cape region of South Africa, associations among sexual risk taking, alcohol and  drug use, and mental illness are fueling HIV/AIDS infections among youth. Families can be effective collaborators in  HIV prevention efforts, but no family-based interventions exist for South African teens, particularly those with mental health  problems and drug/alcohol use. This developmental study will adapt and pilot test a multi-level, highly promising, HIV and alcohol/drug use prevention program (Project STYLE) for this exceptionally high-risk population. Simultaneously addressing sexual risk taking, mental health, and substance use among South African youth has the potential to reduce these intersecting epidemics. The long-term goal of the proposed project is to develop an empirically-validated, theoretically-based family-focused HIV and substance use prevention program to reduce health risk behavior among South  African youth with mental health problems.
--------------------
Topic 8:
--------------------
research program training students university project science clinical center support
--------------------

brain neurons mechanisms studies activity specific function aim neuronal role
--------------------
DESCRIPTION (provided by applicant): The GABAergic system of the mammalian brain consists of neurons that release GABA and receptors that bind GABA. The GABA-releasing cells are extraordinarily diverse and highly specialized. Some GABAergic cells control the activity in a local network (interneurons, INs), while others constitute the output of a well-defined structure (e.g., striatal medium spiny neurons, MSNs). The receptors for GABA are also diverse and specific. Ligand-gated GABA receptors (GABAARs), members of the Cys-loop receptor family, are present on virtually every neuron in the brain and perform different functions depending on their synaptic or extrasynaptic localization. The GABAARs located outside the synapses (peri- or extrasynaptically) are activated by GABA molecules present in the extracellular space. These GABAARs mediate a type of inhibition that is  always on , also termed tonic inhibition. The studies completed during the past funding period have addressed fundamental mechanisms related to the nature, pharmacology and origin of tonic inhibition. As a direct continuation of the research carried out during the previous funding period, the present project will focus on novel and untested roles of the tonic GABA conductance in cellular/network excitability and neuroprotection. The proposal will address a specific hypothesis using state-of-the-art electrophysiological, microscopical, molecular pharmacological, optical, and transgenic mouse technologies. The hypothesis posits that a tonically active GABAAR-mediated conductance is essential for protecting highly vulnerable neurons in the brain against hyperexcitability and neurotoxicity. The aim is to focus on two damage-prone brain regions where this conductance is present, but can be altered under various conditions. The proposed studies will elucidate the mechanisms whereby the tonic GABA conductance dampens excessive synchrony in the hyperexcitable hippocampal CA3 region and how it protects neostriatal neurons against neurotoxicity. Considering the extremely excitable nature of the CA3 region and its relevance to epilepsy, and the high susceptibility of the neostriatum to dysfunction and degeneration, these experiments will address central issues related to the pathologies and treatments of epilepsies, Huntington's disease (HD), Tourette's syndrome (TS) and other disorders of the limbic system and striatum. The studies are expected to generate novel pharmacological interventions specific for tonic inhibition for the treatment of disorders related to neuronal synchrony including epilepsy and cognitive disorders, and for treating or preventing neurodegenerative conditions of the striatum and other damage-prone brain structures.  PUBLIC HEALTH RELEVANCE The principal inhibitory neurotransmitter in the mammalian brain is 3-aminobutyric acid (GABA). The GABAergic system of the brain can be disrupted at the level of the nerve cells that produce and release GABA or at the level of the receptors that are activated by the transmitter. Both disruptions have devastating effects on the brain's normal functioning. The present proposal will address critical aspects of the GABAergic signaling in health and disease. It will tackle the role of a special type of neuronal communication, characterized during our previous funding period, involving the actions of GABA molecules that float around in the extracellular space of the brain. Such ambient levels of GABA can effectively and uninterruptedly control the excitability of a large number of neurons. Receptors activated during this sustained (tonic) type of inhibition are the specific targets of important modulatory compounds both endogenous (such as ovarian- and sex-hormone derivatives) and exogenous (such as ethanol) to the brain. The present proposal will address the role of this tonic form of inhibition in controlling neuronal network oscillations known to be important in epilepsy and cognitive function. Moreover it will examine the role of tonic inhibition in the first line of defense against the degeneration of striatal neurons known as a hallmark of Huntington's disease and other striatal dysfunction possibly involved in Parkinson's disease, Tourette syndrome and drug addiction. Our research shall reveal fundamental and novel mechanisms of GABA action, thus opening new and specific ways to defend nerve cells against hyperexcitability in epilepsy, degeneration in Huntington's disease and in other neurological disorders. Our findings will also help advance a new concept of striatal function, a part of the brain involved in movement disorders such as Parkinson's disease and Tourette syndrome, and in drug addiction.

### NMF method - Non-negative matrix factorization

NMF is another model used for topic extraction. While the LDA model uses term frequency per document, NMF model uses term-frequency times inverse document-frequency (TF-IDF). In other words, we look not only for how often a word appears in a given document, but also whether this particular word is distinct across all the collections of documents (corpus). For example, words like "often" or "use" could be frequently encountered, but they are less informative if we want to discern a particular topic of a document, as they might be frequently used across all text documents in a corpus. On the other hand, words which we see less frequently across a collection of document but which might have a high frequency in a particular document (for example, words related to a particular area of research, such as "DNA" or "genes") might indicate that those words are specific to this document, and, therefore, constitute a basis for a distinct topic. 

Please see more information here: 

- https://scikit-learn.org/stable/modules/decomposition.html#non-negative-matrix-factorization-nmf-or-nnmf
- https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html
- https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html#sklearn.feature_extraction.text.TfidfTransformer

In [146]:
"""Convert a collection of raw documents to a matrix of TF-IDF features."""

vectorizer = TfidfVectorizer(stop_words='english')
tfidf = vectorizer.fit_transform(merged_abstracts_list)

"""Get feature names - unique words across a collection of text documents (vocabulary)."""

vectorizer_feature_names = vectorizer.get_feature_names()

In [ ]:
"""Run the NMF model with 10 topics."""

nmf = NMF(n_components=10).fit(tfidf)

In [689]:
"""Store NMF model results."""

%store nmf

Stored 'nmf' (NMF)

In [147]:
%store -r nmf

In [148]:
"""Get topics to documents matrix."""

nmf_W = nmf.transform(tfidf) 

"""Each record represents a document and contains weights of 10 topics in relation to this document."""

nmf_W[0] # weights of 10 topics in relation a document with an index 0

array([8.77615425e-03, 0.00000000e+00, 3.27915385e-03, 2.31711467e-03,
       5.49299832e-05, 0.00000000e+00, 2.02873088e-04, 1.65153843e-03,
       1.58104359e-03, 2.84694620e-03])

In [149]:
"""Get word to topics matrix."""

nmf_H = nmf.components_

"""Each record is a topic with weights of unique words in relation to this topic."""

nmf_H[0] # weights of unique words in relation to a topic with an index 0

array([0.00000000e+00, 4.13243740e-02, 1.25463514e-04, ...,
       0.00000000e+00, 2.98376682e-05, 0.00000000e+00])

In [150]:
"""View the list of topics (10 top words per topic)."""

for topic_idx, topic in enumerate(nmf_H):
    print("Topic %d:" % (topic_idx))
    print('----------------------------')
    print(" ".join([vectorizer_feature_names[i]
                for i in topic.argsort()[:-10 - 1:-1]]))
    print('----------------------------')

Topic 0:
----------------------------
data project research systems new methods materials computational applications models
----------------------------
Topic 1:
----------------------------
training research program trainees faculty clinical biology postdoctoral center medicine
----------------------------
Topic 2:
----------------------------
cells cell immune stem tumor responses differentiation infection mice il
----------------------------
Topic 3:
----------------------------
health care intervention risk children study treatment patients outcomes clinical
----------------------------
Topic 4:
----------------------------
cancer breast tumor prostate tumors cancers imaging patients clinical metastasis
----------------------------
Topic 5:
----------------------------
hiv infection infected viral aids virus drug vaccine transmission immune
----------------------------
Topic 6:
----------------------------
students science stem program research student education engineering school graduate
----------------------------
Topic 7:
----------------------------
brain neural neurons cognitive memory visual synaptic cortex learning cortical
----------------------------
Topic 8:
----------------------------
dna gene genes genetic genome expression human rna transcription genomic
----------------------------
Topic 9:
----------------------------
protein proteins signaling membrane function molecular muscle mechanisms binding mitochondrial
----------------------------

In [151]:
"""View a top document related to a given topic to inspect the relevance of a topic in a context."""

for topic_idx, topic in enumerate(nmf_H):
    print('--------------------')
    print("Topic %d:" % (topic_idx))
    print('--------------------')
    print(" ".join([vectorizer_feature_names[i]
                    for i in topic.argsort()[:-10 - 1:-1]]))
    top_doc_indices = np.argsort(nmf_W[:,topic_idx] )[::-1][0:1]
    for doc_index in top_doc_indices:
        print('--------------------')
        print(merged_abstracts_list[doc_index])

--------------------
Topic 0:
--------------------
data project research systems new methods materials computational applications models
--------------------
Recent revolutions in data availability have radically altered activities across many fields within science, industry, and government. For instance, contemporary simulations medication properties can require the computational power of entire data centers, and recent efforts in astronomy will soon generate the largest image datasets in history. In such extreme environments, the only viable path forward for scientific discovery hinges on the development and exploitation of next-generation computational cyberinfrastructure of supercomputers and software. The development of this new computational infrastructure demands significant engineering resources, so it is paramount to maximize the infrastructure's potential for high impact and wide adoption across as many technical domains as possible. Unfortunately, despite this necessity, existing development processes often produce software that is limited to specific hardware, or requires additional expertise to use properly, or is overly specialized to a specific problem domain. Such  single-use  software tools are limited in scope, leading to underutilization by the wider scientific community. In contrast, this project seeks to develop methods and software for computer-based scientific analysis that are sufficiently powerful, flexible and accessible to (i) enable domain experts to achieve significant advancements within their domains, and (ii) enable innovative use of advanced computational techniques in unexpected scientific, technological and industrial applications. This project will apply these tools to a wide variety of specific scientific challenges faced by various research teams in astronomy, medicine, and energy management. These teams plan on using the proposed work to map out new star systems, develop new life-saving medications, and design new power systems that will deliver more energy to a greater number of homes and businesses at a lower cost than existing systems. Finally, this project will seek to leave a legacy of sustained societal benefit by educating students and practitioners in the broader scientific and engineering communities via exposure to state-of-the-art computational techniques. Through close collaboration with research teams in statistical astronomy, pharmacometrics, power systems optimization, and high-performance computing, this project will deliver cyberinfrastructure that will effectively and effortlessly enable the next generation of computer-based scientific analysis and discovery. To ensure the practical applicability of the developed cyberinfrastructure, the project will focus on three target scientific applications: (i) economically viable decarbonization of electrical power networks, (ii) real-time analysis of extreme-scale astronomical image data, and (iii) pharmacometric modeling and simulation for drug analysis and discovery. While tackling these specific problems will constitute an initial stress test of the proposed cyberinfrastructure, it is the ultimate goal of the project that the developed tools be sufficiently performant, accessible, composable, flexible and adaptable to be applied to the widest possible range of problem domains. To achieve this vision, the project will build and improve various software tools for computational optimization, machine learning, parallel computing, and model-based simulation. Particular attention will be paid to the proposed cyberinfrastructure's composability with new and existing tools for scientific analysis and discovery. The pursuit of these goals will require the design and implementation of new programming language abstractions to allow close integration of high-level language features with low-level compiler optimizations. Furthermore, maximally exploiting proposed cyberinfrastructure will require research into new methods that combine state-of-the-art techniques from optimization, machine learning, and high-performance computing.This award reflects NSF's statutory mission and has been deemed worthy of support through evaluation using the Foundation's intellectual merit and broader impacts review criteria.
--------------------
Topic 1:
--------------------
training research program trainees faculty clinical biology postdoctoral center medicine
--------------------
DESCRIPTION (provided by applicant):      This is a competing renewal of a training program designed to prepare highly qualified individuals with prior training in developmental medicine for an investigative career by providing them the necessary skills to conduct collaborative research related to the Development of Cardiovascular and Pulmonary Function. Since its inception 29 years ago, the program has provided an in-depth research experience intended to teach the fundamentals of scientific investigation by the direct association of trainees with established investigators in a number of areas of biomedical science. Trainees spend 2-3 years participating in all activities of a research experience, and under the direct supervision of a training faculty member, take primary responsibility for a project. Training faculty are members of many clinical and basic science departments in the Yale School of Medicine, including Pediatrics, Pathology, Genetics, Cellular and Molecular Physiology, Internal Medicine and Immunobiology. In addition to a focused and intense research experience, the program has a core curriculum designed to provide basic skills in experimental design/analysis (for both basic and clinical research), data presentation, biostatistics, grant preparation and ethical scientific conduct. Most trainees are selected from a large, highly competitive pool of physicians from Yale and other institutions who are trained in pediatrics and desire a strong foundation in biomedical research in order to become independent investigators. While the program has emphasized research training for exemplary physicians, Ph.Ds seeking postdoctoral training in cardiopulmonary research are strongly encouraged to apply and have been supported in recent funding periods. Because most of the physician trainees need clinical as well as research training, the three clinical sections that primarily support this training grant have secured separate (non-NIH) funding to support the necessary advanced clinical training. Thus, the effort supported by this training grant is devoted to the acquisition of research skills. Additionally, the program director and training faculty view this grant as a vehicle to initiate career development in collaborative biomedical investigation and not as a mechanism to fully complete an trainee's research training. Thus trainees are encouraged to apply for extramural support to extend their research training, and they have been quite successful in obtaining such support.
--------------------
Topic 2:
--------------------
cells cell immune stem tumor responses differentiation infection mice il
--------------------
Project Summary B cells are important for the generation of protective immunity and function at multiple discrete stages. The unique role that B cells play as antibody-producing cells is appreciated, however the other functions of B cells as antigen presenting cells, lymphoid tissue organizers and cytokine-producing effector or regulatory cells are much less understood and rarely studied. Recent work from our lab showed that cytokine producing effector B cells play crucial roles in the development of protective humoral and cellular immunity to infectious agents. We therefore hypothesized that there are specialized populations of B cells that have the ability to secrete cytokines and regulate immune responses. To address this hypothesis, we developed an in vitro culture system using primary mouse B cell to generate different classes of cytokine producing effector B cells. We characterized these in vitro generated cells and found markers that we subsequently used to identify the cytokine producing B cell subpopulations in vivo. For example, using markers identified in our in vitro cultures, we can now identify IFN&#947; producing B cell effectors in vivo and showed that these B cells are specifically induced in response to influenza infection and are elevated in number in some mouse models of autoimmunity. Thus, this approach has allowed us for the first time to visualize B cell effectors in vivo and has opened the door to functional and mechanistic studies that will reveal the roles for these cells in infectious and autoimmune disease. Despite the significant progress that we have made in our studies of mouse effector B cells, little is known about their human B cell counterparts. In fact, only very rudimentary studies have been conducted to date with human B cells. From these limited studies it is clear that human B cells have the potential to make cytokines under some stimulation conditions. However, these studies have been conducted with bulk peripheral blood B cells, thus the effector human B cells subsets remain to be identified. The goals of this proposal are to (i) to develop an in vitro culture system to phenotypically and functionally characterize human effector B cells and (ii) To use the information that we have obtained from the in vitro cultures to identify effector B cells in samples from healthy and autoimmune individuals.
--------------------
Topic 3:
--------------------

health care intervention risk children study treatment patients outcomes clinical
--------------------
DESCRIPTION (provided by applicant): This application for a randomized trial to evaluate a health behavior intervention for reducing health risk behaviors and promoting health in adolescents with major depressive disorder (MDD) is being submitted in response to RFA-MH-06-002 inviting research on health behavior change in mental disorders modeled from HIV interventions. MDD in adolescence is a common and impairing disorder which leads to significant disability, morbidity, and mortality. Health risk behaviors are frequently comorbid with adolescent MDD, adding to the personal, social, and societal burden of the disorder. Effective interventions for reducing health risk behavior in adolescent MDD are important for preventing negative health consequences and improving both health and mental health outcomes. The proposal builds on our group's expertise in behavioral interventions for HIV prevention (Rotheram-Borus) and primary care interventions for depressed adolescents (Asarnow). We will enroll 300 adolescents with MDD identified through screening at the time of a primary care visit. Adolescents will be randomized to either 1) the health behavior intervention, or 2) usual care. The intervention targets four major areas of health risk behavior: tobacco use; alcohol and drug use; sexual activity; and obesity. Based on our prior HIV preventive interventions and our work integrating behavioral interventions for adolescent depression within primary health care services, the intervention employs a collaborative care model, with a Care Manager supporting the primary care provider and delivering a 10-session cognitive-behavioral health education intervention aimed at reducing health risk behaviors and promoting and maintaining positive health behaviors. Like successful HIV prevention programs, the intervention addresses multiple risk factors simultaneously, intervenes at multiple system levels (individual, family, organization), and emphasizes linking youth to care. Outcomes are monitored at baseline and at 6 and 12-month follow-ups. We hypothesize that adolescents randomized to the intervention, compared to adolescents in usual care, will have fewer health risk behaviors (our primary outcome) and improved secondary outcomes (depression, satisfaction with care, and quality of life/functioning). Results will provide critical guidance to the field regarding strategies for improving health and reducing health risk behaviors in adolescents with MDD.
--------------------
Topic 4:
--------------------
cancer breast tumor prostate tumors cancers imaging patients clinical metastasis
--------------------
Breast cancer remains a public health concern, and despite intense cancer research and numerous advances in treatment, it continues to present with significant morbidity and mortality, particularly in advanced disease.  HER2+ breast cancer, a type of breast cancer characterized by overexpression of HER2 receptors on cancer cells, accounts for 15%-20% of all breast cancer cases.  Although specific therapies (HER2-targeted therapies) exist for this type of cancer, they are effective primarily in early stages of the disease, whereas advanced disease is rarely cured, thus presenting an unmet need in breast cancer treatment.  It is estimated that 20%-65% of patients with advanced HER2+ breast cancer do not respond to HER2 treatment.  The objective of this project is to investigate the mechanisms by which HER2+ breast cancer cells develop resistance to HER2-therapy (e.g., lapatinib), with a particular focus on factors within the environment of the cancer cell (microenvironment).  This investigation will be conducted in cell cultures and in animal models, and we will evaluate clinical relevance using de-identified samples from patients through clinical trials.  These approaches provide an integrative framework to discover and evaluate the functional role of clinically relevant factors within the tumor microenvironment that may play a role in HER2 therapy resistance.  The factors identified in this study could also serve as markers to individualize treatment in breast cancer patients.Accumulating evidence suggests that breast cancer cells from advanced tumors are protected from therapeutic agents by the tumor microenvironment, which consists of other cell types (e.g., fibroblasts, macrophages, etc.); however, the mechanism by which this occurs is not well understood.  Based on previous research in my mentor's lab, I hypothesize that fibroblasts in the tumor microenvironment secrete certain factors (e.g., growth factors, cytokines, TGFbeta) that confer resistance to therapy by promoting tumor cell survival and circumvent the therapeutic effects of HER2 treatment.  A better understanding of the involvement of fibroblast-secreted resistance-inducing factors in therapy-resistance will lead to the development of novel therapeutic targets to improve treatment outcomes.  Once these factors are identified the next step will involve conducting experiments to determine whether either direct blockade of these factors, or blockade of the downstream effectors that mediate resistance can restore sensitivity to HER2-therapy (cancer cells become susceptible to treatment).  The results of my studies will help guide the design of clinical trials investigating combinatorial therapies of tumor cell extrinsic signals with HER2-therapy in advanced HER2+ breast cancer patients.The importance of the microenvironment in understanding cancer and its progression became evident to me during my graduate research and has fueled my interest in breast cancer.  With this in mind, I pursued a postdoctoral position in Dr. Joan Brugge's laboratory at Harvard Medical School to gain a better understanding of breast cancer biology and interact with an interdisciplinary group of biologists and clinician-scientists.  My long-term goal is to pursue a faculty position and conduct research that integrates my strong interest in breast cancer with my expertise in bioengineering.  As an independent investigator, my mission will be to make important advances in breast cancer treatment through the development of next-generation bioengineering technologies and focus on the interplay of the signals between tumor cells and their microenvironment in breast cancer disease progression and therapy-resistance.  I also plan to train undergraduates, graduates, and postdoctoral fellows and prepare the next generation of cancer bioengineers.All of my long-term goals will become more feasible through the skills that I will develop during this project, as outlined in my research and training plan.  It will help me enrich my bioengineering background with further training in breast cancer research and at the same time deepen my understanding of biological mechanisms in the context of clinically important questions.  It gives me the opportunity to be co-mentored by both Dr. Joan Brugge, a renowned basic cancer scientist with an excellent track record in training next-generation breast cancer scientists, and an expert breast cancer pathologist, Dr. Sgroi, who will train me in new experimental and analytical techniques.  The collaborations with breast cancer oncologists (Dr. Hurvitz, Dr. Lim) and basic cancer scientists (Dr. Mills, Dr. Straussman) through this project, as well as the graduate level courses I will attend at Harvard Medical School by leading breast cancer scientists, will provide me with a strong foundation in basic and clinical breast cancer research.  This experience will pave my path towards becoming an independent breast cancer scientist and striving to achieve better outcomes for patients afflicted by breast cancer.
--------------------
Topic 5:
--------------------
hiv infection infected viral aids virus drug vaccine transmission immune
--------------------
DESCRIPTION (provided by applicant): This is a new R21 application to investigate potentially protective immune responses in individuals exposed to HIV-1 but who are HIV-1 uninfected. In our preliminary data, we have shown that anti-HIV-1 protease and anti-long-terminal interspersed nuclear elements (LINE) specific immune responses are detected in a large fraction of individuals exposed to HIV-1, but who are HIV-1 uninfected (exposed seronegatives, ESN). We hypothesize that exposure to HIV-1 and HIV-1 infected cell products have led to these responses, and that they may be partially responsible for prevention of establishment of an HIV-1 infection. The grant proposes in two specific aims to characterize the epitopes recognized by HIV-1 protease and LINE specific T cells in HIV-1 exposed uninfected subjects, and to determine the efficacy of anti-HIV-1 protease and LINE specific T cell clones to recognize HIV-1 infected cells in vitro and to suppress HIV-1 viral replication in a viral inhibition assay using primary isolates of a range of different viruses. The data generated from this grant would provide preliminary data for a future R01 to longitudinally follow a large cohort of ESNs to determine whether possession of such immunity was associated with protection from HIV-1 transmission.    PUBLIC HEALTH RELEVANCE: This is a new R21 application to investigate potentially protective immune responses in individuals exposed to HIV-1, but who are HIV-1 uninfected.
--------------------
Topic 6:
--------------------

students science stem program research student education engineering school graduate
--------------------
The NSF Scholarships in Science, Technology, Engineering, and Mathematics (S-STEM) program supports the retention and graduation of high-achieving, low-income students pursuing STEM degrees. This S-STEM project at Northern Illinois University will provide scholarships and enhanced mentoring to support graduation of students in biological sciences, chemistry and biochemistry, computer sciences, geosciences, mathematics, or physics. Over a period of five years, the project will select forty-six Scholars from the population of rising juniors and transfer students from Illinois' community college system. This community college system is the third-largest in the country, serving more than one million students each year. Student support will feature a mentoring structure centered around student cohorts and student-faculty pairs, augmented by research opportunities. Student cohorts will meet regularly and will be guided by experienced faculty, near-peer, industrial, and government laboratory mentors. This project has the potential to increase understanding of the personal and institutional circumstances that affect students' participation in academic activities and persistence to degrees in STEM fields. This project aims to advance understanding of the role that multiple evidence-based, high impact practices play in improving persistence and graduation of upper-division STEM students. The project leverages existing infrastructure (including NSF STEP and REU programs) and offers students a mentoring program that includes faculty-student pairs, access to research experiences, and weekly cohort meetings to help students achieve their goals and reach their highest academic potential. The program is structured to support students' self-efficacy and science identity, as well as to build essential skills for technical and professional development (i.e., time management, task prioritization, scientific literacy, critical thinking, scientific writing and speaking, leadership, and resume writing). Students will also network with alumni and leaders from industrial, government, and academic laboratories to support the next steps in their professional development. Qualitative research guided by Social Cognitive Career Theory will generate knowledge about the personal and contextual factors, both internal and external to the university, that lead to persistence of economically disadvantaged students in science and mathematics.This award reflects NSF's statutory mission and has been deemed worthy of support through evaluation using the Foundation's intellectual merit and broader impacts review criteria.
--------------------
Topic 7:
--------------------
brain neural neurons cognitive memory visual synaptic cortex learning cortical
--------------------
ï»¿   DESCRIPTION (provided by applicant): The brain processes information and generates behavior by transmitting signals at its synapses, which connect neurons into vast networks of communicating cells. These networks, known as neural circuits, are not static but are modified throughout life by experience. Such neural circuit plasticity is critical for the brain to develop normally and perform all of its important functions, including learning and memory. When brain plasticity mechanisms function abnormally, however, devastating mental illnesses often ensue. Thus, a major goal of neuroscience research is to understand the detailed mechanisms by which the brain activity generated by experiences modifies neural circuit behavior. This occurs in large part because neural activity continually adjusts the efficiency or strength of synaptic communication between neurons, a process known as synaptic plasticity. Despite the importance of synaptic plasticity for brain development and higher brain functions, relatively litte is known about its molecular mechanisms other than it is commonly triggered by activity- dependent changes in intracellular calcium levels. This Conte Center will bring together four leading investigators to continue their previous efforts to use innovative molecular genetic manipulations combined with sophisticated and unique biochemical, electrophysiological, and imaging assays to elucidate highly novel mechanisms that underlie different forms of synaptic plasticity and how these forms of synaptic plasticity play a role in adaptive and pathological forms of experience-dependent plasticity, including learning and memory. The new insights into synaptic and circuit plasticity mechanisms generated by this Conte Center will influence a broad array of neuroscientists working on a wide range of topics related to normal and pathological brain function. The Center will also provide the research community with novel molecular genetic tools and genetically modified mice that can be used to manipulate proteins critical for synaptic plasticity throughout the brain to explore the roles of these critical proteins in specifi cell types that participate in a wide range of normal and pathological behaviors. Thus the Center will provide both technological and intellectual innovations to one of the most important areas of neuroscience research with far ranging implications for our understanding of normal and diseased brain function. Relevance The effectiveness of communication between nerve cells is modified by experience and these modifications are crucial for all normal brain functions including learning and memory. The goal of this Center is to determine the molecular mechanisms that are responsible for these modifications. Such information will lead to a better understanding of the causes of mental illness and eventually to the development of more efficacious treatments
--------------------
Topic 8:
--------------------
dna gene genes genetic genome expression human rna transcription genomic
--------------------
DESCRIPTION (provided by applicant): Most psychiatric disorders are not due to mutations in a single gene but rather involve cellular pathways under control of many genes and molecular signals. Recent studies point to the fact that complex epigenetic mechanisms regulating gene activity 'above' the genetic nucleotide sequence may be involved as well. The best understood mechanism of epigenetic modification is DNA methylation. In this genome-wide study we will examine the role of DNA methylation in schizophrenia susceptibility. Our study consists of a genome-wide discovery and replication phase to identify CpG loci in the human genome that are under epigenetic control and involved in disease susceptibility, followed by locus-specific validation in large schizophrenia cohorts. Our systematic approach for identifying candidate CpG loci involved in disease also includes study of general features of DNA methylation such as age, gender and genetic controls. The genome-wide effort with comparative analyses of multiple brain regions of patients and controls will provide a unique opportunity to establish what role DNA methylation plays in vulnerability to develop schizophrenia and perhaps other psychiatric traits. Public Health Relevance: Biochemical modifications of DNA and chromosome structure provide heritable information that is not encoded in the DNA sequence itself, but is likely to play a role in disease susceptibility. We will screen the human genome of schizophrenia patients and unaffected control subjects in order to identify these sites involved in disease. This will lead to a better understanding of the genetic basis of schizophrenia.
--------------------
Topic 9:
--------------------
protein proteins signaling membrane function molecular muscle mechanisms binding mitochondrial
--------------------
DESCRIPTION (provided by applicant): Mitochondria, the site of a variety of important metabolic processes, are essential organelles of eukaryotic organisms. Pathological effects of reduced bioenergetics capacity and altered iron metabolism caused by mitochondrial dysfunction are common in human populations. Molecular chaperones play vital roles in the biogenesis of mitochondria. Two essential, highly conserved mitochondrial processes that depend upon the function of Hsp70 and J-protein molecular chaperones will be studied - translocation of proteins from the cytosol into the mitochondrial matrix and the generation of Fe/S clusters, critical co-factors for numerous enzymes. The goal of this proposal is to not only gain a better understanding of these two essential processes, but also to understand the mechanisms by which the action of Hsp70s and J-proteins are co-opted to make them competent to efficiently carry out specific roles in diverse biological processes. These two systems represent examples of the two basic features known to govern the ability of Hsp70s/J- proteins to function in diverse biological processes: localization to sites of action (protein impot) and restricted client binding, rather than the promiscuous binding characteristic of function in protein folding (Fe/S cluster biogenesis).  The vast majority of the hundreds of proteins of the mitochondrial matrix are synthesized on cytosolic ribosomes. Thus, efficient import of proteins is critical for mitochondrial function. The import motor required for driving proteins across the inne membrane into the matrix is composed of 5 essential components, with the matrix Hsp70, Ssc1, and its obligate J-protein co-chaperone, Pam18, at its core. Genetic, biochemical and structural approaches will be used, with a goal of understanding the regulated protein: protein interactions that have evolved to drive efficient translocation of proteins across the membrane. The results generated will also provide a framework for understanding Hsp70/J-protein machines in other systems, as mechanisms such as tethering regulated by interaction with client proteins are likely common regulatory strategies in chaperone systems.  The mitochondrial matrix contains a set of essential proteins devoted to the biogenesis of Fe/S clusters. The clusters are assembled on the scaffold protein, Isu, via action of an  assembly complex  prior to transfer to recipient apo-proteins. The specialized J-protein: Hsp70 chaperone pair, Jac1:Ssq1, facilitates transfer of the cluster. Using biochemical interaction assays and exploiting mutant proteins  having defects in their interactions with partner proteins, the mechanism by which binding of Jac1 initiates  the transfer process will be studied to understand the kinetic switch between cluster formation and cluster transfer. Our work on this system will also serve as a model for a more general understanding of the  means by which molecular chaperones modulate protein: protein interactions in other biological processes.

### Choosing results

Comparing the outputs of LDA and NMF models, the results of NMF model appear to be more coherent within one topic and also in relation to the context of associated documents. Therefore, we will take the top 10 topics from the NMF model output.

In [152]:
"""Review the 10 topics returned by the NMF model."""

for topic_idx, topic in enumerate(nmf_H):
    print("Topic %d:" % (topic_idx))
    print(" ".join([vectorizer_feature_names[i]
                for i in topic.argsort()[:-10 - 1:-1]]))
    print('----------------------------')

Topic 0:
data project research systems new methods materials computational applications models
----------------------------
Topic 1:
training research program trainees faculty clinical biology postdoctoral center medicine
----------------------------
Topic 2:
cells cell immune stem tumor responses differentiation infection mice il
----------------------------
Topic 3:
health care intervention risk children study treatment patients outcomes clinical
----------------------------
Topic 4:
cancer breast tumor prostate tumors cancers imaging patients clinical metastasis
----------------------------
Topic 5:
hiv infection infected viral aids virus drug vaccine transmission immune
----------------------------
Topic 6:
students science stem program research student education engineering school graduate
----------------------------
Topic 7:
brain neural neurons cognitive memory visual synaptic cortex learning cortical
----------------------------
Topic 8:
dna gene genes genetic genome expression human rna transcription genomic
----------------------------
Topic 9:
protein proteins signaling membrane function molecular muscle mechanisms binding mitochondrial
----------------------------

In [153]:
"""Create topic names from the word lists above."""

topics_names = pd.DataFrame()
topics_names['topic'] = [0,1,2,3,4,5,6,7,8,9]
topics_names['topic_name'] = ['computational methods/research systems','training programs',
                              'cell research','health care','cancer','HIV','STEM education',
                              'brain/neural','DNA/genes','protein/molecular']

In [154]:
topics_names['topic'] = ['topic_0','topic_1','topic_2','topic_3','topic_4','topic_5','topic_6','topic_7','topic_8','topic_9']
topics_names

     topic                              topic_name
0  topic_0  computational methods/research systems
1  topic_1  training programs
2  topic_2  cell research
3  topic_3  health care
4  topic_4  cancer
5  topic_5  HIV
6  topic_6  STEM education
7  topic_7  brain/neural
8  topic_8  DNA/genes
9  topic_9  protein/molecular

## Variable construction

### Number of grants per university

In [155]:
"""Group by a university and count the number of grants (PROJECT_NUMBER)."""

grants_per_university = merged_abstracts.groupby(['UNITID',' ORGANIZATION_NAME',' FY'])[' PROJECT_NUMBER'].count().reset_index()

In [156]:
grants_per_university = grants_per_university.rename(columns={' FY':'year'})
grants_per_university['year'] = grants_per_university['year'].astype(int)

In [157]:
grants_per_university.head()

   UNITID                ORGANIZATION_NAME  year   PROJECT_NUMBER
0  100663  universityofalabamaatbirmingham  2005  1
1  100663  universityofalabamaatbirmingham  2006  2
2  100663  universityofalabamaatbirmingham  2007  1
3  100663  universityofalabamaatbirmingham  2008  488
4  100663  universityofalabamaatbirmingham  2009  580

In [158]:
grants_per_university_balanced = (grants_per_university.set_index('year',append=True)
                 .reindex(pd.MultiIndex.from_product([grants_per_university.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

grants_per_university_balanced['UNITID'] = grants_per_university_balanced.groupby(level=0)['UNITID'].ffill().bfill()
grants_per_university_balanced[' ORGANIZATION_NAME'] = grants_per_university_balanced.groupby(level=0)[' ORGANIZATION_NAME'].ffill().bfill()
grants_per_university_balanced[' PROJECT_NUMBER'] = grants_per_university_balanced[' PROJECT_NUMBER'].fillna(0)

In [159]:
grants_per_university_balanced_deduplicated = grants_per_university_balanced.drop_duplicates(subset=['year','UNITID',' ORGANIZATION_NAME'])

grants_per_university_finalized = grants_per_university.merge(grants_per_university_balanced_deduplicated, on=['UNITID','year',' ORGANIZATION_NAME'],
                         how='right')

In [160]:
grants_per_university_finalized = grants_per_university_finalized.drop(' PROJECT_NUMBER_y',axis=1)
grants_per_university_finalized = grants_per_university_finalized.fillna(0)
grants_per_university_finalized = grants_per_university_finalized.sort_values([' ORGANIZATION_NAME','year'])

In [161]:
grants_per_university_finalized = grants_per_university_finalized.rename(columns={' ORGANIZATION_NAME':'university',' PROJECT_NUMBER_x':'#grants'})

### Top 5 topics by grants

In [162]:
"""Get the index of documents and topic weights per document."""

topics_weights = []
for index,i in enumerate(nmf_W): # for every document
    topics_weights.append([i, index]) # get all topic weights
    
topics_weights_dataframe = pd.DataFrame(topics_weights)

In [163]:
"""Merge the dataframe with topic probabilities per document with abstracts dataframe on index."""

merged_abstracts = merged_abstracts.reset_index()
topics_abstracts = pd.merge(left=merged_abstracts,right=topics_weights_dataframe,
                                   left_on='index',right_on=1)

"""Keep only needed columns."""
topics_abstracts = topics_abstracts[[' ABSTRACT',' FY',' FY_TOTAL_COST',' ORGANIZATION_NAME','UNITID',' PROJECT_NUMBER',0]]

In [164]:
"""Convert list of values to columns."""

topics_abstracts = topics_abstracts.rename(columns={0:'topics'})
topics_abstracts[[0,1,2,3,4,5,6,7,8,9]] = topics_abstracts['topics'].apply(pd.Series)
topics_abstracts = topics_abstracts.drop('topics',axis=1)

In [165]:
"""Group by a university and sum the probabilities per topic."""

topics_per_grant_university = topics_abstracts.groupby(['UNITID',' ORGANIZATION_NAME',' FY'])[[0,1,2,3,4,5,6,7,8,9]].sum().reset_index()
topics_per_grant_university.head()

,UNITID,ORGANIZATION_NAME,FY,0,1,2,3,4,5,6,7,8,9
0,100663,universityofalabamaatbirmingham,2005,0.000000,0.000000,0.002398,0.020868,0.001532,0.000231,0.000000,0.001409,0.000000,0.003210
1,100663,universityofalabamaatbirmingham,2006,0.019328,0.015604,0.000000,0.025595,0.000002,0.000000,0.008663,0.005044,0.000000,0.000000
2,100663,universityofalabamaatbirmingham,2007,0.004973,0.020773,0.000000,0.012007,0.000000,0.000000,0.006345,0.013882,0.000000,0.000000
3,100663,universityofalabamaatbirmingham,2008,1.544493,3.073703,3.459212,3.274044,2.405425,0.879803,0.988870,2.156861,2.837471,4.958219
4,100663,universityofalabamaatbirmingham,2009,1.953677,4.088704,3.306581,4.407501,3.241842,1.227282,1.536775,2.808532,3.213892,5.643699

In [166]:
topics_per_grant_university["sum"] = topics_per_grant_university[[0,1,2,3,4,5,6,7,8,9]].sum(axis=1)
topics_per_grant_university.head()

,UNITID,ORGANIZATION_NAME,FY,0,1,2,3,4,5,6,7,8,9,sum
0,100663,universityofalabamaatbirmingham,2005,0.000000,0.000000,0.002398,0.020868,0.001532,0.000231,0.000000,0.001409,0.000000,0.003210,0.029649
1,100663,universityofalabamaatbirmingham,2006,0.019328,0.015604,0.000000,0.025595,0.000002,0.000000,0.008663,0.005044,0.000000,0.000000,0.074237
2,100663,universityofalabamaatbirmingham,2007,0.004973,0.020773,0.000000,0.012007,0.000000,0.000000,0.006345,0.013882,0.000000,0.000000,0.057979
3,100663,universityofalabamaatbirmingham,2008,1.544493,3.073703,3.459212,3.274044,2.405425,0.879803,0.988870,2.156861,2.837471,4.958219,25.578103
4,100663,universityofalabamaatbirmingham,2009,1.953677,4.088704,3.306581,4.407501,3.241842,1.227282,1.536775,2.808532,3.213892,5.643699,31.428486

In [167]:
topics_per_grant_university = topics_per_grant_university.rename(columns={0:'topic_0',1:'topic_1',2:'topic_2',3:'topic_3',
                                                                         4:'topic_4',5:'topic_5',6:'topic_6',7:'topic_7',
                                                                         8:'topic_8',9:'topic_9'})

topics_per_grant_university[['topic_0','topic_1','topic_2','topic_3','topic_4','topic_5','topic_6','topic_7','topic_8','topic_9']] = topics_per_grant_university.loc[:,'topic_0':'topic_9'].div(topics_per_grant_university['sum'], axis=0)

In [168]:
topics_per_grant_university = topics_per_grant_university.drop('sum',axis=1)
topics_per_grant_university.head()

,UNITID,ORGANIZATION_NAME,FY,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9
0,100663,universityofalabamaatbirmingham,2005,0.000000,0.000000,0.080896,0.703840,0.051675,0.007801,0.000000,0.047510,0.000000,0.108278
1,100663,universityofalabamaatbirmingham,2006,0.260357,0.210198,0.000000,0.344771,0.000031,0.000000,0.116699,0.067943,0.000000,0.000000
2,100663,universityofalabamaatbirmingham,2007,0.085764,0.358285,0.000000,0.207085,0.000000,0.000000,0.109439,0.239427,0.000000,0.000000
3,100663,universityofalabamaatbirmingham,2008,0.060383,0.120169,0.135241,0.128002,0.094042,0.034397,0.038661,0.084325,0.110934,0.193846
4,100663,universityofalabamaatbirmingham,2009,0.062163,0.130095,0.105210,0.140239,0.103150,0.039050,0.048898,0.089363,0.102260,0.179573

In [169]:
"""Convert columns to row observations: university/topic/weight."""

topics_weights = pd.melt(frame=topics_per_grant_university, id_vars=['UNITID',' ORGANIZATION_NAME',' FY'],value_vars=['topic_0','topic_1','topic_2','topic_3','topic_4','topic_5','topic_6','topic_7','topic_8','topic_9'],var_name='topic',value_name='weight')
topics_weights.sort_values(['UNITID',' ORGANIZATION_NAME']).head()

   UNITID                ORGANIZATION_NAME    FY    topic   weight
0  100663  universityofalabamaatbirmingham  2005  topic_0 0.000000
1  100663  universityofalabamaatbirmingham  2006  topic_0 0.260357
2  100663  universityofalabamaatbirmingham  2007  topic_0 0.085764
3  100663  universityofalabamaatbirmingham  2008  topic_0 0.060383
4  100663  universityofalabamaatbirmingham  2009  topic_0 0.062163

In [170]:
topics_weights_balanced = (topics_weights.set_index(' FY',append=True)
                 .reindex(pd.MultiIndex.from_product([topics_weights.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

topics_weights_balanced['UNITID'] = topics_weights_balanced.groupby(level=0)['UNITID'].ffill().bfill()
topics_weights_balanced[' ORGANIZATION_NAME'] = topics_weights_balanced.groupby(level=0)[' ORGANIZATION_NAME'].ffill().bfill()
topics_weights_balanced['topic'] = topics_weights_balanced.groupby(level=0)['topic'].ffill().bfill()
topics_weights_balanced['weight'] = topics_weights_balanced['weight'].fillna(0)

In [171]:
topics_weights_balanced_groupby = topics_weights_balanced.groupby(['UNITID',' ORGANIZATION_NAME','year','topic'])['weight'].sum().reset_index()

topics_weights_with_values = topics_weights_balanced_groupby[topics_weights_balanced_groupby['weight'] != 0]
topics_weights_with_values_sorted = topics_weights_with_values.sort_values(['year','weight'],ascending=False)
topics_weights_top_five = topics_weights_with_values_sorted.groupby([' ORGANIZATION_NAME','year']).head(5)

In [172]:
"""Merge with the category names."""

topics_weights_name = pd.merge(left=topics_weights_top_five,right=topics_names,
                    on='topic')

topics_weights_top_five_finalized = topics_weights_name.groupby(['UNITID',' ORGANIZATION_NAME','year'])['topic_name'].apply(list).reset_index()

topics_weights_balanced_deduplicated = topics_weights_balanced_groupby[['UNITID',' ORGANIZATION_NAME','year']].drop_duplicates()

topics_weights_top_five_balanced_finalized = topics_weights_top_five_finalized.merge(topics_weights_balanced_deduplicated, on=['UNITID','year',' ORGANIZATION_NAME'],
                         how='right').sort_values([' ORGANIZATION_NAME','year']).fillna(0)

topics_weights_top_five_balanced_finalized[topics_weights_top_five_balanced_finalized[' ORGANIZATION_NAME'] == 'universityofalabamaatbirmingham']

,UNITID,ORGANIZATION_NAME,year,topic_name
3768,100663.000000,universityofalabamaatbirmingham,2000,0
3769,100663.000000,universityofalabamaatbirmingham,2001,0
3770,100663.000000,universityofalabamaatbirmingham,2002,0
3771,100663.000000,universityofalabamaatbirmingham,2003,0
3772,100663.000000,universityofalabamaatbirmingham,2004,0
0,100663.000000,universityofalabamaatbirmingham,2005,"[health care, brain/neural, cancer, protein/molecular, cell research]"
1,100663.000000,universityofalabamaatbirmingham,2006,"[computational methods/research systems, STEM education, training programs, health care, brain/neural]"
2,100663.000000,universityofalabamaatbirmingham,2007,"[computational methods/research systems, STEM education, training programs, health care, brain/neural]"
3,100663.000000,universityofalabamaatbirmingham,2008,"[training programs, health care, protein/molecular, cell research, DNA/genes]"
4,100663.000000,universityofalabamaatbirmingham,2009,"[training programs, health care, cancer, protein/molecular, cell research]"
3773,100663.000000,universityofalabamaatbirmingham,2010,0
5,100663.000000,universityofalabamaatbirmingham,2011,"[training programs, health care, cancer, protein/molecular, cell research]"
3774,100663.000000,universityofalabamaatbirmingham,2012,0
6,100663.000000,universityofalabamaatbirmingham,2013,"[training programs, health care, cancer, protein/molecular, cell research]"
3775,100663.000000,universityofalabamaatbirmingham,2014,0
3776,100663.000000,universityofalabamaatbirmingham,2015,0
3777,100663.000000,universityofalabamaatbirmingham,2016,0
7,100663.000000,universityofalabamaatbirmingham,2017,"[training programs, health care, brain/neural, protein/molecular, cell research]"
8,100663.000000,universityofalabamaatbirmingham,2018,"[training programs, health care, brain/neural, protein/molecular, cell research]"

In [173]:
topics_weights_top_five_balanced_finalized = topics_weights_top_five_balanced_finalized.rename(columns={' ORGANIZATION_NAME':'university','topic_name':'top_5_topics_by_grants'})

### Top 5 topics by %dollars

In [174]:
topics_dollars = topics_abstracts

In [175]:
topics_dollars["sum"] = topics_dollars[[0,1,2,3,4,5,6,7,8,9]].sum(axis=1)

In [176]:
topics_dollars = topics_dollars.rename(columns={0:'topic_0',1:'topic_1',2:'topic_2',3:'topic_3',
                                                                         4:'topic_4',5:'topic_5',6:'topic_6',7:'topic_7',
                                                                         8:'topic_8',9:'topic_9'})

topics_dollars[['topic_0','topic_1','topic_2','topic_3','topic_4','topic_5','topic_6','topic_7','topic_8','topic_9']] = topics_dollars.loc[:,'topic_0':'topic_9'].div(topics_dollars['sum'], axis=0)

In [177]:
def multiply(row):
    total_cost = row[' FY_TOTAL_COST']
    topic_0 = row['topic_0']
    topic_1 = row['topic_1']
    topic_2 = row['topic_2']
    topic_3 = row['topic_3']
    topic_4 = row['topic_4']
    topic_5 = row['topic_5']
    topic_6 = row['topic_6']
    topic_7 = row['topic_7']
    topic_8 = row['topic_8']
    topic_9 = row['topic_9']
    return total_cost*topic_0,total_cost*topic_1,total_cost*topic_2,total_cost*topic_3,total_cost*topic_4,total_cost*topic_5,total_cost*topic_6,total_cost*topic_7,total_cost*topic_8,total_cost*topic_9

topics_dollars['result'] = topics_dollars.apply(multiply,axis=1)

In [178]:
topics_dollars[['topic_0','topic_1','topic_2','topic_3','topic_4','topic_5','topic_6','topic_7','topic_8','topic_9']] = topics_dollars['result'].apply(pd.Series)

In [179]:
"""Convert columns to row observations: university/topic/weight."""

topics_dollars_rows = pd.melt(frame=topics_dollars, id_vars=['UNITID',' ORGANIZATION_NAME',' FY'],value_vars=['topic_0','topic_1','topic_2','topic_3','topic_4','topic_5','topic_6','topic_7','topic_8','topic_9'],var_name='topic',value_name='weight')
topics_dollars_rows.sort_values(['UNITID',' ORGANIZATION_NAME']).head()

      UNITID                ORGANIZATION_NAME    FY    topic         weight
569   100663  universityofalabamaatbirmingham  2005  topic_0 0.000000
722   100663  universityofalabamaatbirmingham  2006  topic_0 1225730.508020
746   100663  universityofalabamaatbirmingham  2006  topic_0 422072.122469
794   100663  universityofalabamaatbirmingham  2007  topic_0 186279.175301
1597  100663  universityofalabamaatbirmingham  2008  topic_0 45738.846173

In [180]:
topics_dollars_balanced = (topics_dollars_rows.set_index(' FY',append=True)
                 .reindex(pd.MultiIndex.from_product([topics_dollars_rows.index.unique(),
                                                      range(2000,2019)],
                                                     names=['id','year']))
                 .reset_index(level=1))

topics_dollars_balanced['UNITID'] = topics_dollars_balanced.groupby(level=0)['UNITID'].ffill().bfill()
topics_dollars_balanced[' ORGANIZATION_NAME'] = topics_dollars_balanced.groupby(level=0)[' ORGANIZATION_NAME'].ffill().bfill()
topics_dollars_balanced['topic'] = topics_dollars_balanced.groupby(level=0)['topic'].ffill().bfill()
topics_dollars_balanced['weight'] = topics_dollars_balanced['weight'].fillna(0)

In [181]:
topics_dollars_balanced_groupby = topics_dollars_balanced.groupby(['UNITID',' ORGANIZATION_NAME','year','topic'])['weight'].sum().reset_index()

topics_dollars_with_values = topics_dollars_balanced_groupby[topics_dollars_balanced_groupby['weight'] != 0]
topics_dollars_with_values_sorted = topics_dollars_with_values.sort_values(['year','weight'],ascending=False)
topics_dollars_top_five = topics_dollars_with_values_sorted.groupby([' ORGANIZATION_NAME','year']).head(5)

In [182]:
"""Merge with the topics names."""

topics_dollars_name = pd.merge(left=topics_dollars_top_five,right=topics_names,
                    on='topic')

topics_dollars_top_five_finalized = topics_dollars_name.groupby(['UNITID',' ORGANIZATION_NAME','year'])['topic_name'].apply(list).reset_index()

topics_dollars_balanced_deduplicated = topics_dollars_balanced_groupby[['UNITID',' ORGANIZATION_NAME','year']].drop_duplicates()

topics_dollars_top_five_balanced_finalized = topics_dollars_top_five_finalized.merge(topics_dollars_balanced_deduplicated, on=['UNITID','year',' ORGANIZATION_NAME'],
                         how='right').sort_values([' ORGANIZATION_NAME','year']).fillna(0)

topics_dollars_top_five_balanced_finalized[topics_dollars_top_five_balanced_finalized[' ORGANIZATION_NAME'] == 'universityofalabamaatbirmingham']

,UNITID,ORGANIZATION_NAME,year,topic_name
3768,100663.000000,universityofalabamaatbirmingham,2000,0
3769,100663.000000,universityofalabamaatbirmingham,2001,0
3770,100663.000000,universityofalabamaatbirmingham,2002,0
3771,100663.000000,universityofalabamaatbirmingham,2003,0
3772,100663.000000,universityofalabamaatbirmingham,2004,0
0,100663.000000,universityofalabamaatbirmingham,2005,"[health care, protein/molecular, cancer, cell research, brain/neural]"
1,100663.000000,universityofalabamaatbirmingham,2006,"[health care, computational methods/research systems, STEM education, brain/neural, training programs]"
2,100663.000000,universityofalabamaatbirmingham,2007,"[health care, computational methods/research systems, STEM education, brain/neural, training programs]"
3,100663.000000,universityofalabamaatbirmingham,2008,"[health care, protein/molecular, cell research, brain/neural, DNA/genes]"
4,100663.000000,universityofalabamaatbirmingham,2009,"[health care, protein/molecular, cancer, cell research, DNA/genes]"
3773,100663.000000,universityofalabamaatbirmingham,2010,0
5,100663.000000,universityofalabamaatbirmingham,2011,"[health care, protein/molecular, cancer, cell research, DNA/genes]"
3774,100663.000000,universityofalabamaatbirmingham,2012,0
6,100663.000000,universityofalabamaatbirmingham,2013,"[health care, protein/molecular, cell research, brain/neural, training programs]"
3775,100663.000000,universityofalabamaatbirmingham,2014,0
3776,100663.000000,universityofalabamaatbirmingham,2015,0
3777,100663.000000,universityofalabamaatbirmingham,2016,0
7,100663.000000,universityofalabamaatbirmingham,2017,"[health care, protein/molecular, cell research, brain/neural, DNA/genes]"
8,100663.000000,universityofalabamaatbirmingham,2018,"[health care, protein/molecular, cell research, brain/neural, DNA/genes]"

In [183]:
topics_dollars_top_five_balanced_finalized = topics_dollars_top_five_balanced_finalized.rename(columns={' ORGANIZATION_NAME':'university','topic_name':'top_5_topics_by_dollars'})

# 3 Create a finalized output dataset

In [184]:
grants_per_university_finalized.university.nunique()

979

In [185]:
topics_dollars_top_five_balanced_finalized.university.nunique()

979

In [186]:
topics_weights_top_five_balanced_finalized.university.nunique()

979

In [187]:
fedreporter = grants_per_university_finalized.merge(topics_dollars_top_five_balanced_finalized,on=['UNITID','university','year'],how='outer').merge(topics_weights_top_five_balanced_finalized, on=['UNITID','university','year'],how='outer')

In [188]:
finalized_dataset = patentsview_combined.merge(fedreporter, on=['UNITID','university','year'])

In [189]:
finalized_dataset.university.nunique()

240

In [190]:
finalized_dataset[['#patents','#govinterest','#joint_w_business','#female_inventors','#unique_inventors','#grants']] = finalized_dataset[['#patents','#govinterest','#joint_w_business','#female_inventors','#unique_inventors','#grants']].astype(int)

In [192]:
finalized_dataset[finalized_dataset['university'] == 'yaleuniversity']

,UNITID,university,year,#patents,#govinterest,#joint_w_business,#female_inventors,#unique_inventors,top_5_ipc,#grants,top_5_topics_by_dollars,top_5_topics_by_grants
4579,130794,yaleuniversity,2000,36,15,13,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity]",2,"[health care, computational methods/research systems, protein/molecular, STEM education, DNA/genes]","[computational methods/research systems, STEM education, training programs, health care, protein/molecular]"
4580,130794,yaleuniversity,2001,38,17,7,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity]",2,"[health care, computational methods/research systems, STEM education, brain/neural, training programs]","[computational methods/research systems, STEM education, training programs, health care, brain/neural]"
4581,130794,yaleuniversity,2002,35,16,14,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",0,0,0
4582,130794,yaleuniversity,2003,26,16,4,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Performing Operations; Transporting, Textiles; Paper]",0,0,0
4583,130794,yaleuniversity,2004,23,12,3,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",2,"[health care, computational methods/research systems, protein/molecular, cell research, brain/neural]","[computational methods/research systems, health care, brain/neural, protein/molecular, cell research]"
4584,130794,yaleuniversity,2005,27,17,9,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity]",3,"[health care, computational methods/research systems, protein/molecular, DNA/genes, HIV]","[computational methods/research systems, health care, protein/molecular, HIV, DNA/genes]"
4585,130794,yaleuniversity,2006,28,13,6,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Mechanical Engineering; Lighting; Heating; Weapons; Blasting]",2,"[health care, computational methods/research systems, protein/molecular, training programs, DNA/genes]","[computational methods/research systems, training programs, health care, protein/molecular, DNA/genes]"
4586,130794,yaleuniversity,2007,34,21,11,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",1,"[health care, cell research, STEM education, DNA/genes, HIV]","[STEM education, health care, cell research, HIV, DNA/genes]"
4587,130794,yaleuniversity,2008,22,11,5,0,0,"[Human Necessitites, Chemistry; Metallurgy, Performing Operations; Transporting]",879,"[health care, protein/molecular, cell research, brain/neural, DNA/genes]","[training programs, health care, brain/neural, protein/molecular, cell research]"
4588,130794,yaleuniversity,2009,37,21,9,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",986,"[health care, protein/molecular, cell research, brain/neural, DNA/genes]","[health care, brain/neural, protein/molecular, cell research, DNA/genes]"
4589,130794,yaleuniversity,2010,30,21,8,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy, Performing Operations; Transporting]",0,0,0
4590,130794,yaleuniversity,2011,38,21,4,0,1,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",1678,"[health care, protein/molecular, cell research, training programs, DNA/genes]","[training programs, health care, brain/neural, protein/molecular, cell research]"
4591,130794,yaleuniversity,2012,39,25,13,0,9,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",0,0,0
4592,130794,yaleuniversity,2013,39,24,15,0,1,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",829,"[health care, protein/molecular, cell research, brain/neural, training programs]","[training programs, health care, brain/neural, protein/molecular, cell research]"
4593,130794,yaleuniversity,2014,53,34,14,0,19,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",0,0,0
4594,130794,yaleuniversity,2015,35,21,7,0,18,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",0,0,0
4595,130794,yaleuniversity,2016,28,19,8,0,8,"[Human Necessitites, Physics, Chemistry; Metallurgy, Electricity, Performing Operations; Transporting]",0,0,0
4596,130794,yaleuniversity,2017,8,3,0,0,0,"[Human Necessitites, Physics, Chemistry; Metallurgy]",892,"[health care, protein/molecular, cell research, brain/neural, DNA/genes]","[training programs, health care, brain/neural, protein/molecular, cell research]"
4597,130794,yaleuniversity,2018,0,0,0,0,0,0,333,"[health care, computational methods/research systems, protein/molecular, cell research, brain/neural]","[computational methods/research systems, STEM education, training programs, health care, protein/molecular]"