<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#NCSES-class---PatentsView-and-IPEDS-data" data-toc-modified-id="NCSES-class---PatentsView-and-IPEDS-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>NCSES class - PatentsView and IPEDS data</a></span><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Python-Setup" data-toc-modified-id="Python-Setup-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Python Setup</a></span></li></ul></li><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Load the data</a></span><ul class="toc-item"><li><span><a href="#PatentsView-files" data-toc-modified-id="PatentsView-files-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>PatentsView files</a></span></li><li><span><a href="#IPEDS-file" data-toc-modified-id="IPEDS-file-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>IPEDS file</a></span></li></ul></li><li><span><a href="#Record-linkage" data-toc-modified-id="Record-linkage-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Record linkage</a></span><ul class="toc-item"><li><span><a href="#Merge-location-and-assignee-files" data-toc-modified-id="Merge-location-and-assignee-files-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Merge location and assignee files</a></span></li><li><span><a href='#Merge-with-location-ID-and-filter-by-country-("US")' data-toc-modified-id='Merge-with-location-ID-and-filter-by-country-("US")-3.2'><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Merge with location ID and filter by country ("US")</a></span></li><li><span><a href="#Merge-with-patent_assignee" data-toc-modified-id="Merge-with-patent_assignee-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Merge with patent_assignee</a></span></li><li><span><a href="#Merge-with-government-interest-file-and-create-a-dummy-(0,1)-for-government-interest" data-toc-modified-id="Merge-with-government-interest-file-and-create-a-dummy-(0,1)-for-government-interest-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Merge with government interest file and create a dummy (0,1) for government interest</a></span></li><li><span><a href='#Load-application-file-and-extract-year-from-the-"date"-field' data-toc-modified-id='Load-application-file-and-extract-year-from-the-"date"-field-3.5'><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Load application file and extract year from the "date" field</a></span></li><li><span><a href="#Filter-the-finalized-dataframe-for-years-from-2000+" data-toc-modified-id="Filter-the-finalized-dataframe-for-years-from-2000+-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Filter the finalized dataframe for years from 2000+</a></span></li><li><span><a href="#Merge-with-IPEDS-file" data-toc-modified-id="Merge-with-IPEDS-file-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Merge with IPEDS file</a></span></li></ul></li><li><span><a href="#Variable-construction" data-toc-modified-id="Variable-construction-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Variable construction</a></span><ul class="toc-item"><li><span><a href="#Number-of-patents-joint-with-business-(#joint_w_business)" data-toc-modified-id="Number-of-patents-joint-with-business-(#joint_w_business)-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Number of patents joint with business (#joint_w_business)</a></span></li><li><span><a href="#Total-number-of-patents-(#applied_patents)" data-toc-modified-id="Total-number-of-patents-(#applied_patents)-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Total number of patents (#applied_patents)</a></span></li><li><span><a href="#Number-of-patents-with-government-interest-(#applied_govinterest)" data-toc-modified-id="Number-of-patents-with-government-interest-(#applied_govinterest)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Number of patents with government interest (#applied_govinterest)</a></span></li><li><span><a href="#Number-of-female-inventors-(#female_inventors)" data-toc-modified-id="Number-of-female-inventors-(#female_inventors)-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Number of female inventors (#female_inventors)</a></span></li><li><span><a href="#Number-of-unique-inventors-(#unique_inventors)" data-toc-modified-id="Number-of-unique-inventors-(#unique_inventors)-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Number of unique inventors (#unique_inventors)</a></span></li><li><span><a href="#Top-IPC-classification-categories" data-toc-modified-id="Top-IPC-classification-categories-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Top IPC classification categories</a></span></li></ul></li><li><span><a href="#Create-a-finalized-dataset" data-toc-modified-id="Create-a-finalized-dataset-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Create a finalized dataset</a></span></li></ul></div>

## NCSES class - PatentsView and IPEDS data

### Introduction

This notebook builds links between two datasets: 


1. **PatentsView** (www.patentsview.org) The PatentsView platform is built on data derived from the US Patent and Trademark Office (USPTO) bulk data to link inventors, their organizations, locations, and overall patenting activity.


2. **IPEDS** (https://nces.ed.gov/ipeds/) IPEDS is the Integrated Postsecondary Education Data System, a system of interrelated surveys conducted annually by the U.S. Department of Educationâ€™s National Center for Education Statistics (NCES). IPEDS gathers information from every college, university, and technical and vocational institution that participates in the federal student financial aid programs on enrollments, program completions, graduation rates, faculty and staff, finances, institutional prices, and student financial aid.

------------------------------------------------------------

**Output file**

**Data dictionary**

Unit of observation: **university by year (from year 2000+)**

Variables: 
- **#unique_inventors** - number of unique inventors 
- **#female_inventors** - number of female inventors 
- **#applied_patents** - total number of applied patents
- **#applied_govinterest** - total number of applied patents with government interest 
- **#joint_w_business** - total number of patents joint with businesses
- **#top_ipc** - top IPC classification categories

### Python Setup

In [273]:
# Data manipulation
import pandas as pd

# Text preprocessing
import string

# Optional: library for fuzzy matching of strings
import difflib

## Load the data

### PatentsView files

- **assignee** - unique assignee IDs

In [274]:
assignee = pd.read_csv('assignee.tsv', sep='\t')

/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

- **location_assignee** - crosswalk file with location and assignee IDs

In [275]:
location_assignee = pd.read_csv('location_assignee.tsv', sep='\t')

- **location** - unique location id and associated city, state, country, etc.

In [276]:
location = pd.read_csv('location.tsv', sep='\t')

- **patent_assignee** - crosswalk between patent and assignee files

In [277]:
patent_assignee = pd.read_csv('patent_assignee.tsv',sep='\t')

- **government_interest** - mapping of patent numbers to raw government interest text

In [278]:
government_interest = pd.read_csv('government_interest.tsv',sep='\t')

- **application** - information on the applications for granted patent

In [279]:
application = pd.read_csv('application.tsv',sep='\t')

- **patent_inventor** - crosswalk between patent and inventor tables

In [280]:
patent_inventor = pd.read_csv('patent_inventor.tsv',sep='\t')

- **inventor_gender** - inventor gender data

In [281]:
inventor_gender = pd.read_csv('inventor_gender.tsv',sep='\t')

- **ipcr** - International Patent Classification

In [358]:
ipcr = pd.read_csv('ipcr.tsv',sep='\t')

/home/ekaterina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### IPEDS file

In [282]:
ipeds = pd.read_csv('IPEDS.csv',encoding='ISO-8859-1')

## Record linkage

### Merge location and assignee files

In [283]:
assignee = assignee.rename(columns={'id': 'assignee_id'})

In [284]:
merged_location_assignee = location_assignee.merge(assignee, on='assignee_id')

In [285]:
merged_location_assignee.head()

,location_id,assignee_id,type,name_first,name_last,organization
0,q8wc2x1ryasb,org_00054e2c-8d76-4e86-92d7-c3268e32438c,3.0,NaN,NaN,Sermeta
1,ny17xyn10k3d,org_0006dUf10fyaGu141Xsy,3.0,NaN,NaN,"Uber Co., Ltd."
2,qcj7zhcco1lm,org_000U7wc7DxrKo9M7gNOr,2.0,NaN,NaN,"I/P Engine, Inc."
3,symng222vxqi,org_00181b00-a087-4314-8a91-a78203517001,2.0,NaN,NaN,INTAP
4,v11nqt9ynpgb,org_0018ff04-6dba-4345-ace4-d0f170a30d87,2.0,NaN,NaN,WJRJ

### Merge with location ID and filter by country ("US")

In [286]:
location = location.rename(columns={'id':'location_id'})

In [287]:
merged_assignee = location.merge(merged_location_assignee, on='location_id')

In [288]:
merged_assignee = merged_assignee[['state','country','assignee_id','organization']]

In [289]:
merged_assignee_filtered = merged_assignee[merged_assignee['country'] == 'US']

In [290]:
merged_assignee_filtered.head()

      state country               assignee_id                     organization
13583    CA      US  org_9gbxlFYDdz6sTZtvnhCX  United States Steel Corporation
13584    CA      US  org_iv72dHbRItbvdHxgK3kB       BioZone Laboratories, Inc.
13585    CA      US  org_LPa0Kl9nAxFKX577TVVo       Biozibe Laboratories, Inc.
13586    CA      US  org_mxfZ1NN4vezAZ8hJLCCn    Bishop-Wisecarver Corporation
13587    CA      US  org_Pd2V6MSVzPOPRgWAvXuI               Calgon Corporation

### Merge with patent_assignee

In [291]:
merged_patent_assignee = patent_assignee.merge(merged_assignee_filtered, on='assignee_id')

In [292]:
merged_patent_assignee.head()

  patent_id               assignee_id state country              organization
0   5856666  org_6swO9pOeuJWANlfOE5mf    NY      US  U.S. Philips Corporation
1   5856666  org_6swO9pOeuJWANlfOE5mf    NY      US  U.S. Philips Corporation
2   5856666  org_6swO9pOeuJWANlfOE5mf    MA      US  U.S. Philips Corporation
3   5856666  org_6swO9pOeuJWANlfOE5mf    NY      US  U.S. Philips Corporation
4   5856666  org_6swO9pOeuJWANlfOE5mf   NaN      US  U.S. Philips Corporation

### Merge with government interest file and create a dummy (0,1) for government interest

In [293]:
patent_assignee_interest = merged_patent_assignee.merge(government_interest, on='patent_id', how='left')

In [294]:
patent_assignee_interest = patent_assignee_interest.fillna(0)

In [295]:
patent_assignee_interest['government_interest'] = (patent_assignee_interest['gi_statement'] != 0).astype(int)

In [296]:
patent_assignee_interest['government_interest'].unique()

array([0, 1])

### Load application file and extract year from the "date" field

In [297]:
patent_assignee_interest_application = patent_assignee_interest.merge(application,on='patent_id')

In [298]:
patent_assignee_interest_application = patent_assignee_interest_application[['patent_id','assignee_id','state','organization','government_interest','date']]

In [299]:
patent_assignee_interest_application['date'] = pd.to_datetime(patent_assignee_interest_application['date'], errors='coerce')

In [300]:
patent_assignee_interest_application['year'] = patent_assignee_interest_application['date'].dt.year

In [301]:
patent_assignee_interest_application = patent_assignee_interest_application.drop('date',axis=1)

In [302]:
patent_assignee_interest_application.head()

,patent_id,assignee_id,state,organization,government_interest,year
0,5856666,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,1996.0
1,5856666,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,1996.0
2,5856666,org_6swO9pOeuJWANlfOE5mf,MA,U.S. Philips Corporation,0,1996.0
3,5856666,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,1996.0
4,5856666,org_6swO9pOeuJWANlfOE5mf,0,U.S. Philips Corporation,0,1996.0

### Filter the finalized dataframe for years from 2000+

In [303]:
finalized_dataframe = patent_assignee_interest_application[patent_assignee_interest_application['year'] >= 2000]

In [304]:
finalized_dataframe.head()

,patent_id,assignee_id,state,organization,government_interest,year
16,6339671,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,2000.0
17,6339671,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,2000.0
18,6339671,org_6swO9pOeuJWANlfOE5mf,MA,U.S. Philips Corporation,0,2000.0
19,6339671,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,2000.0
20,6339671,org_6swO9pOeuJWANlfOE5mf,0,U.S. Philips Corporation,0,2000.0

### Merge with IPEDS file

In [305]:
ipeds.head()

,UNITID,INSTNM,IALIAS,STABBR
0,100654,Alabama A & M University,AAMU,AL
1,100663,University of Alabama at Birmingham,,AL
2,100690,Amridge University,Southern Christian University |Regions University,AL
3,100706,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,AL
4,100724,Alabama State University,,AL

In [306]:
ipeds = ipeds.rename(columns={'INSTNM':'organization'})

In [307]:
# Normalize organization names before merging: lowercase, remove white space, remove punctuation/special symbols

def normalize_names(name):
    name = name.lower() # lowercase
    name = name.strip() # remove trailing white space
    for i in string.punctuation:
        name = name.replace(i,'') # remove punctuation and special symbols
    name = name.replace(' ','') # remove all white space
    return name

In [308]:
finalized_dataframe = finalized_dataframe[finalized_dataframe['organization'] != 0]

In [309]:
# Run the normalization function on the patents dataframe's column with organization names
finalized_dataframe['organization'] = finalized_dataframe['organization'].apply(normalize_names)

In [310]:
# Run the normalization function on the IPEDS file's column with organization names
ipeds['organization'] = ipeds['organization'].apply(normalize_names)

In [311]:
merged_ipeds_patents = ipeds.merge(finalized_dataframe,on='organization')

In [312]:
merged_ipeds_patents.head()

,UNITID,organization,IALIAS,STABBR,patent_id,assignee_id,state,government_interest,year
0,100654,alabamaamuniversity,AAMU,AL,6999221,org_agpbfFe0HQ59qCPZF1GH,AL,0,2003.0
1,100654,alabamaamuniversity,AAMU,AL,6999221,org_agpbfFe0HQ59qCPZF1GH,AL,0,2003.0
2,100654,alabamaamuniversity,AAMU,AL,9795634,org_agpbfFe0HQ59qCPZF1GH,AL,0,2016.0
3,100654,alabamaamuniversity,AAMU,AL,9795634,org_agpbfFe0HQ59qCPZF1GH,AL,0,2016.0
4,100706,universityofalabamainhuntsville,UAH |University of Alabama Huntsville,AL,9182228,org_tgWZGEfsbc3WWgsU6KAV,AL,1,2006.0

In [313]:
# Check the number of matched IPEDS organizations
merged_ipeds_patents.organization.nunique()

289

In [314]:
# Optional: run a fuzzy matching function to get close matches in names, a specified cutoff is 0.6, or 60% in similarity 
# between two names

#results = []
#for i in ipeds['organization']:
    #results.append([i, difflib.get_close_matches(i, finalized['organization'], cutoff=0.6)])

# Validate the matches and import file with validate matches

#results.to_csv('names_matches_to_validate.csv') # file to validate

# Validation by quering the patents dataframe organization name column
# e.g.
#for i in finalized_dataframe['organization']:
#    if 'florida' in i:
#        print(i)
        
validated = pd.read_csv('names_matches_validated.csv') # import validated file

In [315]:
# Rename the columns to merge with the patents dataframe 
validated = validated.rename(columns={'PatentsView_organization':'organization'})

In [316]:
# Merge with the patents dataframe on the organization name column
additional_validated = finalized_dataframe.merge(validated,on='organization')

In [317]:
additional_validated = additional_validated.drop('state',axis=1)

In [318]:
additional_validated = additional_validated.drop_duplicates()

In [319]:
validated_merged = pd.concat([merged_ipeds_patents,additional_validated])

/home/ekaterina/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [320]:
validated_merged = validated_merged.drop_duplicates()

In [321]:
validated_merged.organization.nunique()

537

In [322]:
len(validated_merged)

105253

## Variable construction

### Number of patents joint with business (#joint_w_business)

In [323]:
# Filter the patents dataframe by universities IDs and then filter the dataframe by all other assignees who are not in
# universities IDs, e.g. businesses

university_ids = validated_merged['assignee_id'].values.tolist()
patent_business = finalized_dataframe[~finalized_dataframe['assignee_id'].isin(university_ids)]

In [324]:
len(patent_business)

16027646

In [325]:
# Check the number of patents related to universities
patent_universities = validated_merged

In [326]:
len(patent_universities)

105253

In [327]:
# Merge on common patent_id and count the number of patents where assignees are from universities and businesses
merged_business_university = patent_business.merge(patent_universities,on='patent_id')

In [328]:
len(merged_business_university)

61147

In [329]:
merged_business_university.head()

,patent_id,assignee_id_x,state_x,organization_x,government_interest_x,year_x,CTOTALT,IALIAS,IPEDS_organization,STABBR,UNITID,assignee_id_y,government_interest_y,organization_y,state_y,year_y
0,9489582,org_ccMMcUijAIsKIxUqMTyP,NY,xeroxcorporation,0,2014.0,1618.0,NaN,pennsylvaniastateuniversitymaincampus,NaN,214777,org_oc1bCBtS9yjBGFF0gQAc,0,thepennstateresearchfoundation,NaN,2014.0
1,9489582,org_ccMMcUijAIsKIxUqMTyP,CT,xeroxcorporation,0,2014.0,1618.0,NaN,pennsylvaniastateuniversitymaincampus,NaN,214777,org_oc1bCBtS9yjBGFF0gQAc,0,thepennstateresearchfoundation,NaN,2014.0
2,9489582,org_ccMMcUijAIsKIxUqMTyP,NY,xeroxcorporation,0,2014.0,1618.0,NaN,pennsylvaniastateuniversitymaincampus,NaN,214777,org_oc1bCBtS9yjBGFF0gQAc,0,thepennstateresearchfoundation,NaN,2014.0
3,9489582,org_ccMMcUijAIsKIxUqMTyP,0,xeroxcorporation,0,2014.0,1618.0,NaN,pennsylvaniastateuniversitymaincampus,NaN,214777,org_oc1bCBtS9yjBGFF0gQAc,0,thepennstateresearchfoundation,NaN,2014.0
4,9489582,org_ccMMcUijAIsKIxUqMTyP,CA,xeroxcorporation,0,2014.0,1618.0,NaN,pennsylvaniastateuniversitymaincampus,NaN,214777,org_oc1bCBtS9yjBGFF0gQAc,0,thepennstateresearchfoundation,NaN,2014.0

In [330]:
# Groupby an IPEDS university name and count the number of patents joint with businesses 
joint_with_business = merged_business_university.groupby(['UNITID','IPEDS_organization'])['patent_id'].count().reset_index()

In [331]:
# Rename the columns
joint_with_business = joint_with_business.rename(columns={'patent_id':'#joint_w_business'})

In [332]:
# Show top ten universities with patents that are joint with business
joint_with_business.sort_values('#joint_w_business',ascending=False).head(10)

    UNITID                  IPEDS_organization  #joint_w_business
81  243744                  stanforduniversity               3074
5   110662    universityofcalifornialosangeles               3042
37  166683  massachusettsinstituteoftechnology               2352
82  243780          purdueuniversitymaincampus               1890
40  170976        universityofmichiganannarbor               1828
36  166027                   harvarduniversity               1238
32  162928              johnshopkinsuniversity                847
57  198419                      dukeuniversity                825
43  174066     universityofminnesotatwincities                782
52  190415                   cornelluniversity                722

### Total number of patents (#applied_patents)

In [333]:
# Groupby an IPEDS university and count the number of total patents since 2000
number_patents = validated_merged.groupby(['UNITID','IPEDS_organization'])['patent_id'].count().reset_index()

In [334]:
# Rename the columns
number_patents = number_patents.rename(columns={'patent_id':'#applied_patents'})

In [335]:
# View top 10 universities by total patents
number_patents.sort_values('#applied_patents',ascending=False).head(10)

    UNITID                     IPEDS_organization  #applied_patents
5   110662       universityofcalifornialosangeles              7412
40  166683     massachusettsinstituteoftechnology              3654
86  243744                     stanforduniversity              2699
85  240444           universityofwisconsinmadison              2159
35  162928                 johnshopkinsuniversity              1763
43  170976           universityofmichiganannarbor              1737
55  190415                      cornelluniversity              1326
54  190150   columbiauniversityinthecityofnewyork              1312
18  134130                    universityofflorida              1283
27  145637  universityofillinoisaturbanachampaign              1272

### Number of patents with government interest (#applied_govinterest)

In [336]:
# Subset dataframe by those patents with government interest
with_govinterest = validated_merged[validated_merged['government_interest'] == 1]

In [337]:
# Groupby an IPEDS university and count the total number of patents with government interest
with_govinterest = with_govinterest.groupby(['UNITID','IPEDS_organization'])['patent_id'].count().reset_index()

In [338]:
with_govinterest = with_govinterest.rename(columns={'patent_id':'#applied_govinterest'})

In [339]:
# View top 10 universities by patents with government interest
with_govinterest.sort_values('#applied_govinterest',ascending=False).head(10)

    UNITID                     IPEDS_organization  #applied_govinterest
5   110662       universityofcalifornialosangeles                  4539
40  166683     massachusettsinstituteoftechnology                  2171
85  240444           universityofwisconsinmadison                  1606
86  243744                     stanforduniversity                  1455
43  170976           universityofmichiganannarbor                  1038
35  162928                 johnshopkinsuniversity                   950
39  166027                      harvarduniversity                   911
27  145637  universityofillinoisaturbanachampaign                   821
28  147767                 northwesternuniversity                   763
55  190415                      cornelluniversity                   760

### Number of female inventors (#female_inventors)

In [340]:
assignee_inventor = validated_merged.merge(patent_inventor, on='patent_id')

In [341]:
inventor_gender.head()

,disamb_inventor_id_20170808,disamb_inventor_id_20181127,disamb_inventor_id_20190312,male
0,3930273-1,3930273-1,3930273-1,1
1,3930274-1,3930274-1,3930274-1,1
2,3930275-1,3930275-1,3930275-1,1
3,3930276-1,3930276-1,3930276-1,1
4,3930277-1,3930277-1,3930277-1,1

In [342]:
# Use the latest version of disambiguation - disamb_inventor_id_20190312

inventor_gender_renamed = inventor_gender.rename(columns={'disamb_inventor_id_20190312':'inventor_id'})

In [343]:
# Merge with inventor_gender table

assignee_inventor_gender = assignee_inventor.merge(inventor_gender_renamed, on='inventor_id')

In [344]:
# Subset by those rows where "male" == 0 (e.g. "female")
female_inventors = assignee_inventor_gender[assignee_inventor_gender['male'] == 0]

In [345]:
# Rename columns
female_inventors = female_inventors.rename(columns={'male':'gender'})

In [346]:
# Groupby an IPEDS university and count the number of female inventors
female_inventors = female_inventors.groupby(['UNITID','IPEDS_organization'])['gender'].count().reset_index()

In [347]:
# Rename columns
female_inventors = female_inventors.rename(columns={'gender':'#female_inventors'})

In [348]:
# Show top 10 universities by female inventors
female_inventors.sort_values('#female_inventors',ascending=False).head(10)

    UNITID                     IPEDS_organization  #female_inventors
2   110662       universityofcalifornialosangeles                 37
10  139959                    universityofgeorgia                 34
21  166683     massachusettsinstituteoftechnology                 32
29  186380          rutgersuniversitynewbrunswick                 29
44  228723        texasamuniversitycollegestation                 21
36  199193  northcarolinastateuniversityatraleigh                 16
26  174066        universityofminnesotatwincities                 13
8   137351     universityofsouthfloridamaincampus                 11
31  190415                      cornelluniversity                 10
50  243744                     stanforduniversity                  9

### Number of unique inventors (#unique_inventors)

In [349]:
# Groupby an IPEDS university and count number of unique inventor IDs
unique_inventors = assignee_inventor.groupby(['UNITID','IPEDS_organization'])['inventor_id'].nunique().reset_index()

In [350]:
# Rename the columnms
unique_inventors = unique_inventors.rename(columns={'inventor_id':'#unique_inventors'})

In [351]:
# Show top 10 universities by unique inventor_id
unique_inventors.sort_values('#unique_inventors',ascending=False).head(10)

    UNITID                  IPEDS_organization  #unique_inventors
2   110662    universityofcalifornialosangeles                401
31  166683  massachusettsinstituteoftechnology                257
30  166027                   harvarduniversity                118
11  134130                 universityofflorida                114
37  174066     universityofminnesotatwincities                107
45  190415                   cornelluniversity                106
26  162928              johnshopkinsuniversity                101
70  240444        universityofwisconsinmadison                 99
58  215062            universityofpennsylvania                 96
34  170976        universityofmichiganannarbor                 95

### Top IPC classification categories

In [360]:
ipcr = ipcr[['patent_id','section']]

In [363]:
patent_ipc = patent_universities.merge(ipcr,on='patent_id')

In [366]:
patent_ipc = patent_ipc.drop_duplicates()

In [370]:
patent_ipc['count'] = [1] * len(patent_ipc)

/home/ekaterina/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [525]:
ipc = patent_ipc.groupby(['UNITID','IPEDS_organization','section'])['count'].count().reset_index()

In [535]:
ipc_sorted = ipc.sort_values(['IPEDS_organization','count'],ascending=False).head(10)

In [536]:
ipc_top_five = ipc_sorted.groupby('IPEDS_organization').head(5)

In [539]:
section_name = pd.DataFrame()
section_name['section'] = ['A','B','C','D','E','F','G','H']
section_name['name'] = ['Human Necessitites','Performing Operations; Transporting','Chemistry; Metallurgy','Textiles; Paper','Fixed Constructions','Mechanical Engineering; Lighting; Heating; Weapons; Blasting','Physics','Electricity']
ipc_name = ipc_top_five.merge(section_name,on='section')

In [540]:
ipc_name = ipc_name.rename(columns={'name':'top_5_ipc'})

In [546]:
len(ipc_name)

9

## Create a finalized dataset

In [542]:
combined = joint_with_business.merge(number_patents,on=['UNITID','IPEDS_organization'],how='outer').merge(with_govinterest,on=['UNITID','IPEDS_organization'],how='outer').merge(female_inventors,on=['UNITID','IPEDS_organization'],how='outer').merge(unique_inventors,on=['UNITID','IPEDS_organization'],how='outer').merge(ipc_name,on=['UNITID','IPEDS_organization'],how='outer')

In [543]:
combined = combined.fillna(0)

In [544]:
combined[['#joint_w_business','#female_inventors','#unique_inventors']] = combined[['#joint_w_business','#female_inventors','#unique_inventors']].astype(int)

In [545]:
combined.sort_values('#applied_patents',ascending=False)

,UNITID,IPEDS_organization,#joint_w_business,#applied_patents,#applied_govinterest,#female_inventors,#unique_inventors,section,count,top_5_ipc
5,110662,universityofcalifornialosangeles,3042,7412,4539,37,401,0,0.0,0
41,166683,massachusettsinstituteoftechnology,2352,3654,2171,32,257,0,0.0,0
88,243744,stanforduniversity,3074,2699,1455,9,95,0,0.0,0
87,240444,universityofwisconsinmadison,427,2159,1606,7,99,0,0.0,0
36,162928,johnshopkinsuniversity,847,1763,950,8,101,0,0.0,0
44,170976,universityofmichiganannarbor,1828,1737,1038,5,95,0,0.0,0
56,190415,cornelluniversity,722,1326,760,10,106,0,0.0,0
55,190150,columbiauniversityinthecityofnewyork,635,1312,728,4,72,0,0.0,0
20,134130,universityofflorida,450,1283,572,4,114,0,0.0,0
29,145637,universityofillinoisaturbanachampaign,544,1272,821,3,88,0,0.0,0
40,166027,harvarduniversity,1238,1246,911,4,118,0,0.0,0
72,215062,universityofpennsylvania,527,1222,611,7,96,0,0.0,0
23,137351,universityofsouthfloridamaincampus,279,1125,461,11,52,0,0.0,0
85,236948,universityofwashingtonseattlecampus,630,1074,641,1,57,0,0.0,0
89,243780,purdueuniversitymaincampus,1890,1035,493,5,89,0,0.0,0
30,147767,northwesternuniversity,376,1003,763,3,88,0,0.0,0
57,193900,newyorkuniversity,525,995,418,2,57,0,0.0,0
9,123961,universityofsoutherncalifornia,411,910,479,2,35,0,0.0,0
64,198419,dukeuniversity,825,900,476,3,78,0,0.0,0
47,174066,universityofminnesotatwincities,782,891,425,13,107,0,0.0,0
81,230764,universityofutah,328,833,373,2,50,0,0.0,0
65,199120,universityofnorthcarolinaatchapelhill,425,790,471,3,76,0,0.0,0
54,186380,rutgersuniversitynewbrunswick,490,737,270,29,58,0,0.0,0
71,214777,pennsylvaniastateuniversitymaincampus,498,717,321,4,60,0,0.0,0
66,199193,northcarolinastateuniversityatraleigh,198,690,234,16,39,0,0.0,0
45,171100,michiganstateuniversity,228,651,259,5,30,0,0.0,0
69,204796,ohiostateuniversitymaincampus,352,645,284,5,28,0,0.0,0
16,130794,yaleuniversity,479,578,328,0,55,H,37.0,Electricity
15,130794,yaleuniversity,479,578,328,0,55,B,56.0,Performing Operations; Transporting
14,130794,yaleuniversity,479,578,328,0,55,G,119.0,Physics
...,...,...,...,...,...,...,...,...,...,...
68,201885,universityofcincinnatimaincampus,124,196,55,0,17,0,0.0,0
83,234030,virginiacommonwealthuniversity,76,180,68,4,26,0,0.0,0
21,135726,universityofmiami,99,160,62,0,10,0,0.0,0
8,117636,lomalindauniversity,36,151,76,0,2,0,0.0,0
74,216339,templeuniversity,87,149,50,0,12,0,0.0,0
73,215293,universityofpittsburghpittsburghcampus,23,124,60,0,0,0,0.0,0
86,238032,westvirginiauniversity,39,115,40,0,11,0,0.0,0
51,179159,saintlouisuniversity,23,114,49,1,10,0,0.0,0
25,139940,georgiastateuniversity,22,94,48,0,29,0,0.0,0
17,131469,georgewashingtonuniversity,102,87,46,3,14,0,0.0,0
80,229115,texastechuniversity,38,84,19,0,8,0,0.0,0
48,176017,universityofmississippi,8,72,26,0,4,0,0.0,0
53,181002,creightonuniversity,5,39,10,0,2,0,0.0,0
59,196088,universityatbuffalo,28,23,11,0,6,0,0.0,0
82,233921,virginiapolytechnicinstituteandstateuniversity,17,16,2,0,0,0,0.0,0
7,112525,westernuniversityofhealthsciences,6,15,1,0,0,0,0.0,0
28,145600,universityofillinoisatchicago,17,13,4,0,5,0,0.0,0
22,136215,novasoutheasternuniversity,2,12,1,0,0,0,0.0,0
2,110635,universityofcaliforniaberkeley,15,7,7,0,0,0,0.0,0
6,110680,universityofcaliforniasandiego,20,7,3,0,0,0,0.0,0
50,178402,universityofmissourikansascity,11,7,6,0,0,0,0.0,0
58,195809,stjohnsuniversitynewyork,38,6,1,0,3,0,0.0,0
4,110653,universityofcaliforniairvine,7,5,4,0,0,0,0.0,0
93,151351,indianauniversitybloomington,0,3,3,0,0,0,0.0,0
3,110644,universityofcaliforniadavis,3,2,2,0,0,0,0.0,0
92,126614,universityofcoloradoboulder,0,2,1,0,0,0,0.0,0
94,196097,stonybrookuniversity,0,2,1,0,0,0,0.0,0
95,221759,theuniversityoftennesseeknoxville,0,2,1,0,0,0,0.0,0
79,228778,theuniversityoftexasataustin,1,1,1,0,0,0,0.0,0
91,110699,universityofcaliforniasanfrancisco,0,1,1,0,0,0,0.0,0