<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#NCSES-class---PatentsView-and-IPEDS-data" data-toc-modified-id="NCSES-class---PatentsView-and-IPEDS-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>NCSES class - PatentsView and IPEDS data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Python-Setup" data-toc-modified-id="Python-Setup-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Python Setup</a></span></li></ul></li><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load the data</a></span></li><li><span><a href="#Record-linkage" data-toc-modified-id="Record-linkage-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Record linkage</a></span><ul class="toc-item"><li><span><a href="#Merge-location-and-assignee-files" data-toc-modified-id="Merge-location-and-assignee-files-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Merge location and assignee files</a></span></li><li><span><a href="#Merge-with-location-ID-and-filter-by-country-(&quot;US&quot;)" data-toc-modified-id="Merge-with-location-ID-and-filter-by-country-(&quot;US&quot;)-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Merge with location ID and filter by country ("US")</a></span></li><li><span><a href="#Merge-with-patent_assignee" data-toc-modified-id="Merge-with-patent_assignee-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Merge with patent_assignee</a></span></li><li><span><a href="#Merge-with-government-interest-file-and-create-a-dummy-(0,1)-for-government-interest" data-toc-modified-id="Merge-with-government-interest-file-and-create-a-dummy-(0,1)-for-government-interest-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Merge with government interest file and create a dummy (0,1) for government interest</a></span></li><li><span><a href="#Load-application-file-and-extract-year-from-the-&quot;date&quot;-field" data-toc-modified-id="Load-application-file-and-extract-year-from-the-&quot;date&quot;-field-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Load application file and extract year from the "date" field</a></span></li><li><span><a href="#Filter-the-finalized-dataframe-for-years-from-2000+" data-toc-modified-id="Filter-the-finalized-dataframe-for-years-from-2000+-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Filter the finalized dataframe for years from 2000+</a></span></li><li><span><a href="#Merge-with-IPEDS-file" data-toc-modified-id="Merge-with-IPEDS-file-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Merge with IPEDS file</a></span></li></ul></li><li><span><a href="#Variable-construction" data-toc-modified-id="Variable-construction-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Variable construction</a></span><ul class="toc-item"><li><span><a href="#Number-of-patents-joint-with-business-(#joint_w_business)" data-toc-modified-id="Number-of-patents-joint-with-business-(#joint_w_business)-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Number of patents joint with business (#joint_w_business)</a></span></li><li><span><a href="#Total-number-of-patents-(#applied_patents)" data-toc-modified-id="Total-number-of-patents-(#applied_patents)-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Total number of patents (#applied_patents)</a></span></li><li><span><a href="#Number-of-patents-with-government-interest-(#applied_govinterest)" data-toc-modified-id="Number-of-patents-with-government-interest-(#applied_govinterest)-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Number of patents with government interest (#applied_govinterest)</a></span></li><li><span><a href="#Number-of-female-inventors-(#female_inventors)" data-toc-modified-id="Number-of-female-inventors-(#female_inventors)-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Number of female inventors (#female_inventors)</a></span></li><li><span><a href="#Number-of-unique-inventors-(#unique_inventors)" data-toc-modified-id="Number-of-unique-inventors-(#unique_inventors)-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>Number of unique inventors (#unique_inventors)</a></span></li><li><span><a href="#Top-IPC-classification-categories" data-toc-modified-id="Top-IPC-classification-categories-1.3.6"><span class="toc-item-num">1.3.6&nbsp;&nbsp;</span>Top IPC classification categories</a></span></li></ul></li><li><span><a href="#Create-a-finalized-dataset" data-toc-modified-id="Create-a-finalized-dataset-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Create a finalized dataset</a></span></li></ul></li></ul></div>

# NCSES class - PatentsView and IPEDS data

### Introduction

This notebook builds links between two datasets: 


1. **PatentsView** (www.patentsview.org) The PatentsView platform is built on data derived from the US Patent and Trademark Office (USPTO) bulk data to link inventors, their organizations, locations, and overall patenting activity.


2. **IPEDS** (https://nces.ed.gov/ipeds/) IPEDS is the Integrated Postsecondary Education Data System, a system of interrelated surveys conducted annually by the U.S. Department of Educationâ€™s National Center for Education Statistics (NCES). IPEDS gathers information from every college, university, and technical and vocational institution that participates in the federal student financial aid programs on enrollments, program completions, graduation rates, faculty and staff, finances, institutional prices, and student financial aid.

------------------------------------------------------------

**Output file**

**Data dictionary**

Unit of observation: **university by year (from year 2000+)**

Variables: 
- **#unique_inventors** - number of unique inventors 
- **#female_inventors** - number of female inventors 
- **#applied_patents** - total number of applied patents
- **#applied_govinterest** - total number of applied patents with government interest 
- **#joint_w_business** - total number of patents joint with businesses
- **top_5_ipc** - top 5 IPC classification categories

### Python Setup

In [1]:
# Data manipulation
import pandas as pd

# Text preprocessing
import string

# Optional: library for fuzzy matching of strings
import difflib

## Load the data

In [2]:
# PatentsView files

assignee = pd.read_csv('assignee.tsv', sep='\t') # unique assignee IDs
location_assignee = pd.read_csv('location_assignee.tsv', sep='\t') # crosswalk file with location and assignee IDs
location = pd.read_csv('location.tsv', sep='\t') # unique location id and associated city, state, country, etc.
patent_assignee = pd.read_csv('patent_assignee.tsv',sep='\t') # crosswalk between patent and assignee files
government_interest = pd.read_csv('government_interest.tsv',sep='\t') # mapping of patent numbers to raw government interest text
application = pd.read_csv('application.tsv',sep='\t') # information on the applications for granted patent
patent_inventor = pd.read_csv('patent_inventor.tsv',sep='\t') # crosswalk between patent and inventor tables
inventor_gender = pd.read_csv('inventor_gender.tsv',sep='\t') # inventor gender data
ipcr = pd.read_csv('ipcr.tsv',sep='\t') # International Patent Classification

# IPEDS file
ipeds = pd.read_csv('IPEDS.csv',encoding='ISO-8859-1')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Record linkage

### Merge location and assignee files

In [114]:
assignee = assignee.rename(columns={'id': 'assignee_id'})
merged_location_assignee = location_assignee.merge(assignee, on='assignee_id')
merged_location_assignee.head()

,location_id,assignee_id,type,name_first,name_last,organization
0,q8wc2x1ryasb,org_00054e2c-8d76-4e86-92d7-c3268e32438c,3.0,NaN,NaN,Sermeta
1,ny17xyn10k3d,org_0006dUf10fyaGu141Xsy,3.0,NaN,NaN,"Uber Co., Ltd."
2,qcj7zhcco1lm,org_000U7wc7DxrKo9M7gNOr,2.0,NaN,NaN,"I/P Engine, Inc."
3,symng222vxqi,org_00181b00-a087-4314-8a91-a78203517001,2.0,NaN,NaN,INTAP
4,v11nqt9ynpgb,org_0018ff04-6dba-4345-ace4-d0f170a30d87,2.0,NaN,NaN,WJRJ

### Merge with location ID and filter by country ("US")

In [120]:
location = location.rename(columns={'id':'location_id'})
merged_assignee = location.merge(merged_location_assignee, on='location_id')
merged_assignee = merged_assignee[['state','country','assignee_id','organization']]
merged_assignee_filtered = merged_assignee[merged_assignee['country'] == 'US']
merged_assignee_filtered.head()

      state country               assignee_id                     organization
13583    CA      US  org_9gbxlFYDdz6sTZtvnhCX  United States Steel Corporation
13584    CA      US  org_iv72dHbRItbvdHxgK3kB       BioZone Laboratories, Inc.
13585    CA      US  org_LPa0Kl9nAxFKX577TVVo       Biozibe Laboratories, Inc.
13586    CA      US  org_mxfZ1NN4vezAZ8hJLCCn    Bishop-Wisecarver Corporation
13587    CA      US  org_Pd2V6MSVzPOPRgWAvXuI               Calgon Corporation

### Merge with patent_assignee

In [121]:
merged_patent_assignee = patent_assignee.merge(merged_assignee_filtered, on='assignee_id')
merged_patent_assignee.head()

  patent_id               assignee_id state country              organization
0   5856666  org_6swO9pOeuJWANlfOE5mf    NY      US  U.S. Philips Corporation
1   5856666  org_6swO9pOeuJWANlfOE5mf    NY      US  U.S. Philips Corporation
2   5856666  org_6swO9pOeuJWANlfOE5mf    MA      US  U.S. Philips Corporation
3   5856666  org_6swO9pOeuJWANlfOE5mf    NY      US  U.S. Philips Corporation
4   5856666  org_6swO9pOeuJWANlfOE5mf   NaN      US  U.S. Philips Corporation

### Merge with government interest file and create a dummy (0,1) for government interest

In [122]:
patent_assignee_interest = merged_patent_assignee.merge(government_interest, on='patent_id', how='left')
patent_assignee_interest = patent_assignee_interest.fillna(0)
patent_assignee_interest['government_interest'] = (patent_assignee_interest['gi_statement'] != 0).astype(int)
patent_assignee_interest['government_interest'].unique()

array([0, 1])

### Load application file and extract year from the "date" field

In [123]:
patent_assignee_interest_application = patent_assignee_interest.merge(application,on='patent_id')
patent_assignee_interest_application = patent_assignee_interest_application[['patent_id','assignee_id','state','organization','government_interest','date']]
patent_assignee_interest_application['date'] = pd.to_datetime(patent_assignee_interest_application['date'], errors='coerce')
patent_assignee_interest_application['year'] = patent_assignee_interest_application['date'].dt.year
patent_assignee_interest_application = patent_assignee_interest_application.drop('date',axis=1)
patent_assignee_interest_application.head()

,patent_id,assignee_id,state,organization,government_interest,year
0,5856666,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,1996.0
1,5856666,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,1996.0
2,5856666,org_6swO9pOeuJWANlfOE5mf,MA,U.S. Philips Corporation,0,1996.0
3,5856666,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,1996.0
4,5856666,org_6swO9pOeuJWANlfOE5mf,0,U.S. Philips Corporation,0,1996.0

### Filter the finalized dataframe for years from 2000+

In [124]:
finalized_dataframe = patent_assignee_interest_application[patent_assignee_interest_application['year'] >= 2000]
finalized_dataframe.head()

,patent_id,assignee_id,state,organization,government_interest,year
16,6339671,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,2000.0
17,6339671,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,2000.0
18,6339671,org_6swO9pOeuJWANlfOE5mf,MA,U.S. Philips Corporation,0,2000.0
19,6339671,org_6swO9pOeuJWANlfOE5mf,NY,U.S. Philips Corporation,0,2000.0
20,6339671,org_6swO9pOeuJWANlfOE5mf,0,U.S. Philips Corporation,0,2000.0

### Merge with IPEDS file

In [125]:
ipeds = ipeds.rename(columns={'INSTNM':'organization'})

# Normalize organization names before merging: lowercase, remove white space, remove punctuation/special symbols

def normalize_names(name):
    name = name.lower() # lowercase
    name = name.strip() # remove trailing white space
    for i in string.punctuation:
        name = name.replace(i,'') # remove punctuation and special symbols
    name = name.replace(' ','') # remove all white space
    return name

finalized_dataframe = finalized_dataframe[finalized_dataframe['organization'] != 0]

# Run the normalization function on the patents dataframe's column with organization names
finalized_dataframe['organization'] = finalized_dataframe['organization'].apply(normalize_names)

# Run the normalization function on the IPEDS file's column with organization names
ipeds['organization'] = ipeds['organization'].apply(normalize_names)

merged_ipeds_patents = ipeds.merge(finalized_dataframe,on='organization')

merged_ipeds_patents.head()

,UNITID,organization,IALIAS,STABBR,patent_id,assignee_id,state,government_interest,year
0,100654,alabamaamuniversity,AAMU,AL,6999221,org_agpbfFe0HQ59qCPZF1GH,AL,0,2003.0
1,100654,alabamaamuniversity,AAMU,AL,6999221,org_agpbfFe0HQ59qCPZF1GH,AL,0,2003.0
2,100654,alabamaamuniversity,AAMU,AL,9795634,org_agpbfFe0HQ59qCPZF1GH,AL,0,2016.0
3,100654,alabamaamuniversity,AAMU,AL,9795634,org_agpbfFe0HQ59qCPZF1GH,AL,0,2016.0
4,100706,universityofalabamainhuntsville,UAH |University of Alabama Huntsville,AL,9182228,org_tgWZGEfsbc3WWgsU6KAV,AL,1,2006.0

In [ ]:
# Check the number of matched IPEDS organizations
merged_ipeds_patents.organization.nunique()

In [43]:
# Optional: run a fuzzy matching function to get close matches in names, a specified cutoff is 0.6, or 60% in similarity 
# between two names

#results = []
#for i in ipeds['organization']:
    #results.append([i, difflib.get_close_matches(i, finalized['organization'], cutoff=0.6)])

# Validate the matches and import file with validate matches

#results.to_csv('names_matches_to_validate.csv') # file to validate

# Validation by quering the patents dataframe organization name column
# e.g.
#for i in finalized_dataframe['organization']:
#    if 'florida' in i:
#        print(i)
        
validated = pd.read_csv('names_matches_validated.csv') # import validated file

# Rename the columns to merge with the patents dataframe 
validated = validated.rename(columns={'PatentsView_organization':'organization'})

# Merge with the patents dataframe on the organization name column
additional_validated = finalized_dataframe.merge(validated,on='organization')

additional_validated = additional_validated.drop('state',axis=1)

additional_validated = additional_validated.drop_duplicates()

validated_merged = pd.concat([merged_ipeds_patents,additional_validated])

validated_merged = validated_merged.drop_duplicates()

validated_merged.organization.nunique()

289

## Variable construction

### Number of patents joint with business (#joint_w_business)

In [126]:
# Filter the patents dataframe by universities IDs and then filter the dataframe by all other assignees who are not in
# universities IDs, e.g. businesses

university_ids = validated_merged['assignee_id'].values.tolist()
patent_business = finalized_dataframe[~finalized_dataframe['assignee_id'].isin(university_ids)]

# Check the number of patents related to universities
patent_universities = validated_merged

# Merge on common patent_id and count the number of patents where assignees are from universities and businesses
merged_business_university = patent_business.merge(patent_universities,on='patent_id')

merged_business_university = merged_business_university.drop(['state_x','state_y'],axis=1)

merged_business_university = merged_business_university.drop_duplicates()

# Groupby an IPEDS university name and count the number of patents joint with businesses 
joint_with_business = merged_business_university.groupby(['UNITID','organization_y'])['patent_id'].count().reset_index()

# Rename the columns
joint_with_business = joint_with_business.rename(columns={'patent_id':'#joint_w_business'})

joint_with_business = joint_with_business.rename(columns={'organization_y':'organization'})

# Show top ten universities with patents that are joint with business
joint_with_business.sort_values('#joint_w_business',ascending=False).head(10)

,UNITID,organization,#joint_w_business
108,166683,massachusettsinstituteoftechnology,1056
19,110662,theregentsoftheuniversityofcalifornia,958
183,198419,dukeuniversity,428
277,243744,theboardoftrusteesofthelelandstanfordjunioruni...,306
27,123961,universityofsoutherncalifornia,288
120,170976,theregentsoftheuniversityofmichigan,277
106,166027,presidentandfellowsofharvardcollege,273
55,139658,emoryuniversity,272
33,129020,universityofconnecticut,248
169,193900,newyorkuniversity,248

### Total number of patents (#applied_patents)

In [66]:
# Groupby an IPEDS university and count the number of total patents since 2000
number_patents = validated_merged.groupby(['UNITID','organization'])['patent_id'].count().reset_index()

# Rename the columns
number_patents = number_patents.rename(columns={'patent_id':'#applied_patents'})

# View top 10 universities by total patents
number_patents.sort_values('#applied_patents',ascending=False).head(10)

### Number of patents with government interest (#applied_govinterest)

In [69]:
# Subset dataframe by those patents with government interest
with_govinterest = validated_merged[validated_merged['government_interest'] == 1]

# Groupby an IPEDS university and count the total number of patents with government interest
with_govinterest = with_govinterest.groupby(['UNITID','organization'])['patent_id'].count().reset_index()

with_govinterest = with_govinterest.rename(columns={'patent_id':'#applied_govinterest'})

# View top 10 universities by patents with government interest
with_govinterest.sort_values('#applied_govinterest',ascending=False).head(10)

### Number of female inventors (#female_inventors)

In [73]:
assignee_inventor = validated_merged.merge(patent_inventor, on='patent_id')

# Use the latest version of disambiguation - disamb_inventor_id_20190312

inventor_gender_renamed = inventor_gender.rename(columns={'disamb_inventor_id_20190312':'inventor_id'})

# Merge with inventor_gender table

assignee_inventor_gender = assignee_inventor.merge(inventor_gender_renamed, on='inventor_id')

# Subset by those rows where "male" == 0 (e.g. "female")
female_inventors = assignee_inventor_gender[assignee_inventor_gender['male'] == 0]

# Rename columns
female_inventors = female_inventors.rename(columns={'male':'gender'})

# Groupby an IPEDS university and count the number of female inventors
female_inventors = female_inventors.groupby(['UNITID','organization'])['gender'].count().reset_index()

# Rename columns
female_inventors = female_inventors.rename(columns={'gender':'#female_inventors'})

# Show top 10 universities by female inventors
female_inventors.sort_values('#female_inventors',ascending=False).head(10)

### Number of unique inventors (#unique_inventors)

In [82]:
# Groupby an IPEDS university and count number of unique inventor IDs
unique_inventors = assignee_inventor.groupby(['UNITID','organization'])['inventor_id'].nunique().reset_index()

# Rename the columnms
unique_inventors = unique_inventors.rename(columns={'inventor_id':'#unique_inventors'})

# Show top 10 universities by unique inventor_id
unique_inventors.sort_values('#unique_inventors',ascending=False).head(10)

### Top IPC classification categories

In [85]:
ipcr = ipcr[['patent_id','section']]

patent_ipc = patent_universities.merge(ipcr,on='patent_id')

patent_ipc['count'] = [1] * len(patent_ipc)

ipc = patent_ipc.groupby(['UNITID','organization','section'])['count'].count().reset_index()

ipc_sorted = ipc.sort_values(['organization','count'],ascending=False)

ipc_top_five = ipc_sorted.groupby('organization').head(5)

section_name = pd.DataFrame()
section_name['section'] = ['A','B','C','D','E','F','G','H']
section_name['name'] = ['Human Necessitites','Performing Operations; Transporting','Chemistry; Metallurgy','Textiles; Paper','Fixed Constructions','Mechanical Engineering; Lighting; Heating; Weapons; Blasting','Physics','Electricity']
ipc_name = ipc_top_five.merge(section_name,on='section')

ipc_name = ipc_name.rename(columns={'name':'top_5_ipc'})

ipc_name_top_five = ipc_name.groupby(['UNITID','organization'])['top_5_ipc'].apply(list).reset_index()

ipc_name_top_five.head()

In [108]:
ipc_name_top_five.organization.nunique()

535

## Create a finalized dataset

In [127]:
combined = joint_with_business.merge(number_patents,on=['UNITID','organization'],how='outer').merge(with_govinterest,on=['UNITID','organization'],how='outer').merge(female_inventors,on=['UNITID','organization'],how='outer').merge(unique_inventors,on=['UNITID','organization'],how='outer').merge(ipc_name_top_five,on=['UNITID','organization'],how='outer')

combined = combined.fillna(0)

combined[['#joint_w_business','#female_inventors','#unique_inventors']] = combined[['#joint_w_business','#female_inventors','#unique_inventors']].astype(int)  

combined

,UNITID,organization,#joint_w_business,#applied_patents,#applied_govinterest,#female_inventors,#unique_inventors,top_5_ipc
0,100654,alabamaamuniversity,1,2,0.0,0,0,"[Electricity, Physics, Human Necessitites, Per..."
1,100706,universityofalabamainhuntsville,7,44,18.0,0,3,"[Electricity, Physics, Human Necessitites, Che..."
2,100751,theuniversityofalabama,4,39,4.0,0,0,"[Electricity, Physics, Human Necessitites, Che..."
3,100858,auburnuniversity,48,738,213.0,15,30,"[Electricity, Physics, Human Necessitites, Che..."
4,102094,universityofsouthalabama,8,30,9.0,0,0,"[Electricity, Physics, Human Necessitites, Che..."
5,104179,arizonaboardofregents,12,158,71.0,0,2,[Chemistry; Metallurgy]
6,104179,arizonaboardofregentsonbehalfoftheuniversityof...,1,2,2.0,0,0,"[Physics, Human Necessitites, Chemistry; Metal..."
7,104179,thearizonaboardofregentsofbehalfoftheuniversit...,2,5,3.0,0,0,"[Electricity, Physics, Chemistry; Metallurgy, ..."
8,104179,thearizonaboardofregentsonbehalfoftheuniversit...,93,329,161.0,3,49,"[Electricity, Physics, Human Necessitites, Che..."
9,106397,universityofarkansas,1,52,8.0,0,2,"[Electricity, Mechanical Engineering; Lighting..."
10,110404,californiainstituteoftechnology,195,7101,4713.0,36,152,"[Electricity, Physics, Human Necessitites, Che..."
11,110556,californiastateuniversityfresno,11,13,2.0,0,4,"[Electricity, Physics, Human Necessitites, Che..."
12,110617,californiastateuniversitysacramento,1,1,1.0,0,0,[Physics]
13,110635,lawrenceberkeleynationallaboratory,4,7,7.0,0,0,"[Electricity, Physics, Human Necessitites]"
14,110644,theregentsofcalifornia,1,2,2.0,0,0,"[Physics, Human Necessitites]"
15,110653,thcregentsoftheuniversityofcalifornia,1,1,1.0,0,0,"[Human Necessitites, Chemistry; Metallurgy]"
16,110653,theboardofregentstheuniversityofcalifornia,2,2,2.0,0,0,"[Physics, Chemistry; Metallurgy, Performing Op..."
17,110662,losangelesbiomedicalresearchinstituteatharboru...,1,67,16.0,0,0,"[Physics, Human Necessitites, Chemistry; Metal..."
18,110662,thelosangelesbiomedicalresearchinstituteofharb...,1,1,1.0,0,0,"[Human Necessitites, Chemistry; Metallurgy]"
19,110662,theregentsoftheuniversityofcalifornia,958,7339,4521.0,37,401,"[Electricity, Physics, Human Necessitites, Che..."
20,110671,universityofcaliforniariverside,1,1,0.0,0,0,[Physics]
21,110680,theregentsoftheuniversityofcaliforniaatsandiego,1,1,1.0,0,0,[Chemistry; Metallurgy]
22,110680,universityofcaliforniasandiego,4,10,2.0,0,0,"[Electricity, Physics, Human Necessitites, Che..."
23,110680,universityofcaliforniasantabarbaraucsb,2,1,1.0,0,0,[Human Necessitites]
24,112525,westernuniversityofhealthsciences,6,30,2.0,0,0,"[Physics, Human Necessitites, Chemistry; Metal..."
25,117636,lomalindauniversity,26,96,48.0,0,2,"[Electricity, Physics, Human Necessitites, Che..."
26,122931,santaclarauniversity,11,17,0.0,0,0,"[Electricity, Mechanical Engineering; Lighting..."
27,123961,universityofsoutherncalifornia,288,2721,1431.0,6,35,"[Electricity, Physics, Human Necessitites, Che..."
28,126562,theregentoftheuniversityofcolorado,1,2,2.0,0,0,"[Physics, Human Necessitites]"
29,126562,theregentsoftheuniversityofcolorado,133,560,295.0,3,41,"[Electricity, Physics, Human Necessitites, Che..."
...,...,...,...,...,...,...,...,...
516,232265,hamptonuniversity,0,23,0.0,0,0,"[Physics, Human Necessitites]"
517,232423,jamesmadisonuniversity,0,1,0.0,0,0,[Performing Operations; Transporting]
518,232557,libertyuniversity,0,4,0.0,0,2,[Electricity]
519,233426,roanokecollege,0,1,0.0,0,0,[Chemistry; Metallurgy]
520,233921,virginiatechfoundationinc,0,2,2.0,0,0,[Textiles; Paper]
521,235097,easternwashingtonuniversity,0,1,1.0,0,0,[Physics]
522,236230,pacificlutheranuniversity,0,1,1.0,0,0,"[Human Necessitites, Chemistry; Metallurgy, Pe..."
523,236948,universityofwashingtonfredhutchinsoncancerrese...,0,1,1.0,0,0,[Human Necessitites]
524,236948,universityofwashingtonitscenterforcommercializ...,0,1,1.0,0,0,[Electricity]
525,236948,universityofwashingtonthroughitscenterforcomme...,0,1,1.0,0,0,"[Physics, Human Necessitites]"
526,236948,universityofwashingtonuwtechtransferinventionl...,0,1,1.0,0,0,[Physics]
527,236948,univesityofwashingtonthroughitscenterforcommun...,0,1,1.0,0,0,"[Chemistry; Metallurgy, Performing Operations;..."
528,237057,whitmancollege,0,1,1.0,0,0,[Performing Operations; Transporting]
529,238032,westvirginiauniversityresearchcorpwvuofficeoft...,0,1,1.0,0,0,[Physics]
530,238078,wheelingjesuituniversity,0,1,0.0,0,0,[Chemistry; Metallurgy]
531,238193,alvernocollege,0,1,0.0,0,0,[Physics]
532,239318,milwaukeeschoolofengineering,0,5,1.0,0,0,"[Physics, Performing Operations; Transporting]"
533,239628,riponcollege,0,1,0.0,0,0,[Chemistry; Metallurgy]
534,240444,universityofwisconsinmadison,0,1,0.0,0,0,[Physics]
535,240444,universityofwisconsinmilwaukee,0,1,0.0,0,0,[Chemistry; Metallurgy]
536,240444,warfwisconsinalumniresearchfoundation,0,3,3.0,0,0,"[Physics, Chemistry; Metallurgy]"
537,240453,universityofwisconsinmilwaukee,0,1,0.0,0,0,[Chemistry; Metallurgy]
538,243744,boardoftrusteesofthelelandstanfordjunioruniver...,0,1,1.0,0,0,"[Human Necessitites, Chemistry; Metallurgy]"
539,243744,theboardofdirectorsofthelelandstanfordjuniorun...,0,1,0.0,0,0,[Physics]
540,243744,theboardoftrusteeofthelelandstanfordjuinioruni...,0,1,1.0,0,0,"[Human Necessitites, Chemistry; Metallurgy]"
541,366252,pennsylvaniacollegeoftechnology,0,1,0.0,0,0,[Chemistry; Metallurgy]
542,409379,tennesseeboardofregents,0,2,1.0,0,0,"[Human Necessitites, Chemistry; Metallurgy]"
543,433660,floridagulfcoastuniversity,0,2,2.0,0,0,[Human Necessitites]
544,443128,internationaltechnologicaluniversity,0,4,0.0,0,0,"[Electricity, Physics]"
545,449366,makeupdesignory,0,2,0.0,0,1,0